Django==1.9.6
Markdown==2.6.5
Pillow==3.2.0
PyYAML==3.11
argparse==1.2.1
csscompressor==0.9.4
django-pipeline==1.6.8
-e git+https://github.com/mysociety/django-pipeline-csscompressor@6a88fde5045d68746f1c7ee816deda86615c5581#egg=django_pipeline_csscompressor-master
libsass==0.11.1
ply==3.4
psycopg2==2.6.1
six==1.10.0
slimit==0.8.1
sorl-thumbnail==12.4a1
wsgiref==0.1.2
