# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

### General useful bits
PyYAML
psycopg2

### Django related
Django
