{% extends 'account/base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Your account &ndash; {% block page_title %}{% endblock %}</h1>
      </div>
    </div>
  </div>

  <div class="container standard-layout">
    <div class="row">
      <div class="standard-layout__secondary-column">
        <ul class="nav nav-stacked">
          {% include 'account/_logged_in_nav.html' %}
        </ul>
      </div>
      <div class="standard-layout__primary-column">
        <div class="form form--account-form">
          {% block account_content %}{% endblock %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
