{% extends "account/account-form.html" %}

{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}
{% block page_title %}Log out{% endblock %}

{% block account_content %}
<div class="account-form">
  <form method="POST" action="{% url "account_logout" %}">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to log out?" %}</p>
    <div class="account-form__field account-form__field--submit form-group">
      <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button> <a href="{% url "account_password_reset" %}" class="account-form__field__not-a-btn">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
