{% extends "account/simple-form.html" %}

{% load i18n %}

{% block title %}{% trans "Set your new password" %}{% endblock %}

{% block account_content %}
<div class="form--simple-form__form account-form">
  <h2 class="form--simple-form__form__heading">{% trans "Set your new password" %}</h2>
  <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
    {% csrf_token %}
    {% include 'account/_form_fields.html' %}
    <div class="account-form__field account-form__field--submit form-group">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
  </form>
</div>
{% endblock %}
