{% extends "account/simple-form.html" %}

{% load i18n %}

{% block title %}{% trans "Bad token" %}{% endblock %}

{% block account_content %}
<div class="account-form form--simple-form__form">
  <h2 class="form--simple-form__form__heading">{% trans "Bad token" %}</h2>
  {% url "account_password_reset" as url %}
  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
