{% extends "account/account-form.html" %}

{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block account_content %}

<div class="account-form">
  <h2>{% trans "Account" %}</h2>
  <form method="POST" action="{% url "account_settings" %}">
    {% csrf_token %}
    {% include 'account/_form_fields.html' %}
    <div class="account-form__field account-form__field--submit form-group">
      <button class="btn btn-primary" type="submit">{% trans "Save" %}</button> <a href="{% url "account_password_reset" %}" class="account-form__field__not-a-btn">{% trans "Cancel" %}</a>
    </div>
  </form>
</div>
{% endblock %}
