{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block fulltitle %}{% block title %}{% endblock %} :: AI Now{% endblock %}</title>

    <meta name="viewport" content="width=device-width">

    {% stylesheet 'main' %}
    {% javascript 'modernizr' %}

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'auto');
          ga('send', 'pageview');
        </script>
    {% endif %}

  </head>
  <body class="{% block bodyclasses %}{% endblock %}">
    <header class="site-header" role="banner">
      <div class="container">
        <h1 class="site-header__title">AI Now</h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'speakers' %}">Speakers</a>
        &nbsp;&nbsp;
        <a href="{% url 'schedule' 'conference' %}">Schedule</a>
        &nbsp;&nbsp;
        <a href="{% url 'attendees' %}">Attendees</a>
        <p class="site-header__details">July 7th, Skirball Center for the Performing Arts, New York City</p>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="site-footer" role="footer">
      <div class="container">
          <div class="site-footer__utility-links">
            <ul class="utility-links__list">
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <!--<li><a href="mailto:">Contact</a></li>
              <li><a href="mailto:">Twitter</a></li>
              <li><a href="mailto:">Facebook</a></li>-->
            </ul>
          </div>
          <div class="site-footer__partner-logos">
            <div class="site-footer__partner-logos__logoset">
              <a href="https://www.whitehouse.gov/administration/eop/ostp"><img src="{% static 'img/potus.png' %}" alt="Executive Office of the President of the United States, Office of Science and Technology Policy" class="partner-logo"/></a>
            </div>
            <div class="site-footer__partner-logos__logoset site-footer__partner-logos__logoset--wide">
              <a href="http://www.law.nyu.edu/centers/ili"><img src="{% static 'img/nyu-ili.png' %}" alt="New York University, Information Law Institute" class="partner-logo"/></a>
            </div>
          </div>
      </div>
    </footer>
  </body>
</html>

