{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-hero">
      <div class="container">
        <p class="homepage-hero__details">July 7th, Skirball Center for the Performing Arts, New York City</p>
        <h2 class="homepage-hero__title">
          <img src="{% static 'img/ainow-hero-logo.png' %}" 
               srcset="{% static 'img/ainow-hero-logo.svg' %} 1x" 
               alt="Artificial Intelligence Now" 
               height="35" width="115">
        </h2>
        <p class="homepage-hero__subtitle">The Social and Economic Implications of Artificial Intelligence Technologies in the Near-Term</p>
        <p class="homepage-hero__tickets"><strong>Free admission</strong>, tickets available shortly</p>
      </div>
    </div>
    <div class="homepage-description">
        <div class="container">
          <div class="homepage-description__partners">
            <div class="homepage-description__partners__column homepage-description__partners__column--one">
              <a href="https://www.whitehouse.gov/administration/eop/ostp"><img src="{% static 'img/potus.png' %}" alt="Executive Office of the President of the United States, Office of Science and Technology Policy" class="partner-logo"/></a>
            </div><div class="homepage-description__partners__column homepage-description__partners__column--two">
              <a href="http://www.law.nyu.edu/centers/ili"><img src="{% static 'img/nyu-ili.png' %}" alt="New York University, Information Law Institute" class="partner-logo partner-logo--nyu"/></a>
            </div>
          </div>
          <div class="homepage-description__content two-columns-of-text">
              <p>The White House and New York University’s Information Law
                Institute, with support from Google Open Research and
                Microsoft Research, will host a major public symposium to
                address the near-term impacts of AI technologies across social
                and economic systems.</p>
              <p>The focus will be the challenges of the next 5-10 years,
                specifically addressing five themes: social inequality, labor,
                financial markets, healthcare, and ethics. Leaders from
                industry, academia, and civil society will share ideas for
                technical design, research and policy directions.</p>
          </div>
          <div class="callout-box">
            <p>Admission is free, but tickets will be required.</p><p>Please check back soon for more information, including an opportunity to reserve your ticket.</p>
          </div>

        </div>
    </div>
    <div class="homepage-people">
      <div class="container">
         <h2>People</h2>
         <h3>AI Now Co-Chairs</h3>
         <div class="collection-of-people">
            <div class="collection-of-people__person">
                <img src="{% static 'img/kate-crawford.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Kate Crawford</p>
                <p class="person__job-title">Principal Researcher, Microsoft Research; Senior Research Fellow, New York University Information Law Institute</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/meredith-whittaker.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Meredith Whittaker</p>
                <p class="person__job-title">Founder and Lead, Google Open Research</p>
            </div>
         </div>
         <h3>AI Now Program Committee</h3>
         <div class="collection-of-people">
            <div class="collection-of-people__person">
                <img src="{% static 'img/eric-horvitz.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Eric Horvitz</p>
                <p class="person__job-title">Technical Fellow &amp; Managing Director, Microsoft Research</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/helen-nissenbaum.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Helen Nissenbaum</p>
                  <p class="person__job-title">Director, New York University Information Law Institute</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/latanya-sweeney.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Latanya Sweeney</p>
                <p class="person__job-title">Professor of Government and Technology in Residence at Harvard University, former Federal Trade Commission Chief Technology Officer</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/mustafa-suleyman.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Mustafa Suleyman</p>
                <p class="person__job-title">Co-founder and Head of Applied Artificial Intelligence, Google DeepMind</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/nicole-wong.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Nicole Wong</p>
                <p class="person__job-title">Former White House Deputy Chief Technology Officer</p>
            </div>
            <div class="collection-of-people__person">
                <img src="{% static 'img/ryan-calo.jpg' %}" alt="" class="person__photo"/>
                <p class="person__name">Ryan Calo</p>
                <p class="person__job-title">Co-founder, University of Washington Tech Policy Lab, Assistant Professor, University of Washington School of Law</p>
            </div>
         </div>
      </div>
    </div>
{% endblock %}
