$ui_typeface: Roboto, Helvetica, Arial, sans-serif;

.navbar-default {
  .navbar-nav {
    > .active > a {
      font-weight: bold;
      text-shadow: 0 1px 1px darken($navbar-inverse-bg, 15%);
    }
  }
}

.site-header {
  background-color: $color_fatml_grey;
  border-bottom: none;

  .navbar-brand {
    margin-top: 1px; // centre 20px high image, in 22px line-height
    margin-bottom: -1px;
  }

  .navbar-nav > li > a {
    &:hover, &:focus {
      color: $brand-primary;
    }
  }
}

.workshop-navbar {
  min-height: 0;
  text-shadow: 0 1px 1px darken($navbar-inverse-bg, 15%);

  .navbar-header {
    position: static;
    top: 0;
  }

  .navbar-brand {
    font-size: 1em;

    &:hover,
    &:focus {
      color: $navbar-inverse-link-hover-color;
    }

    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }

  .navbar-collapse {
    border-bottom: none;
  }

  // Reset margin back to bootstrap default
  .navbar-nav {
    padding: 0;

    @media (min-width: $grid-float-breakpoint) {
      margin-left: $navbar-padding-horizontal * -2;
    }
  }
}

.homepage-hero {
  font-family: $ui_typeface;
  background-color: #293338;
  background-image: url('../img/fatml-hero-background.jpg');
  background-position: center 80%;
  text-align: center;
}

.homepage-hero__details {
  font-weight: bold;
}

.homepage-hero__details__divider {
  color: $color_fatml_teal;
  margin: 0 0.1em;
}

.homepage-hero__subtitle {
  font-family: $heading_typeface;
  font-size:  2em;
  line-height: 1.1em;
  margin: 0 0 1em 0;

  @media (min-width: $screen-sm-min) {
    font-size: 3.4em;
    max-width: 13em;
    margin: 0 auto 1em auto;
  }
}

.homepage-hero__subtitle__theme {
  display: block;
  color: $color_fatml_teal;
}

.homepage-description {
  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.btn--tickets {
  background-color: $color_fatml_yellow;
  color: $color_fatml_grey;
  float: none;

  &:hover,
  &:focus {
    background-color: darken($color_fatml_yellow, 10%);
    color: $color_fatml_grey;
  }
}

.schedule__list {
  border-top: 1px solid $color_fatml_teal;
}

.schedule-entry {
  border-bottom: 1px solid $color_fatml_teal;

  &:nth-child(even) {
    background-color: #f3f9f9;
  }
}

.schedule-entry__title {
  font-size: 1.2em;
}

.site-footer {
  background-color: $color_fatml_grey;
  color: #fff;
  padding-bottom: 3em;

  a {
    color: $brand-primary;

    &:hover, &:focus {
      color: darken($brand-primary, 10%);
    }
  }
}