$ui_typeface: Roboto, Helvetica, Arial, sans-serif;

.site-header {
  font-family: $ui_typeface;
  background-color: $color_fatml_grey;
  border-bottom: none;

  .navbar-brand {
    margin-top: 0; // remove AINow -3px margin
  }
}

.homepage-hero {
  font-family: $ui_typeface;
  background-color: #293338;
  background-image: url('../img/fatml-hero-background.jpg');
  background-position: center top;
}

.homepage-hero__title {
  margin-bottom: 1em;

  img {
    padding: 0;
    background: transparent;
    height: auto;
  }
}

.homepage-hero__subtitle {
  font-family: $heading_typeface;
  font-size:  2em;
  line-height: 1em;
  margin-bottom: 1em;

  @media (min-width: $screen-sm-min) {
    font-size: 3.4em;
    max-width: 11em;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 0.5em;
  }
}

.site-footer {
  background-color: $color_fatml_grey;
  color: #fff;
}