{% load wagtailcore_tags wagtailimages_tags %}

<div class="events">
    <div class="container">
      <ul class="events-list">
      {% for event in self %}
        {% with link=event.link|default:"/schedule/"|add:event.schedule %}
        <li class="events-list__event">
          <h2 class="event__name">
            <a href="{{ link }}">
              {{ event.name }}
            </a>
          </h2>
          <p class="event__location">
            {{ event.location }}
          </p>
          <p class="event__date">
            {{ event.start }} - {{ event.end }}
          </p>
        </li>
        {% endwith %}
      {% endfor %}
      </ul>
    </div>
</div>
