{% load wagtailcore_tags %}

<div class="container">
    <div class="features-block">
        <div class="features-block__primary">
          {% with self|first as feature %}
            <div class="features-block__feature features-block__feature--primary">
                <h3>{{ feature.heading }}</h3>
                {{ feature.text | richtext }}
                <p class="features-block__feature__links">
                  {% for link in feature.links %}
                    {{ link }}
                  {% endfor %}
                </p>
            </div>
          {% endwith %}
        </div>
        <div class="features-block__secondary">
          {% for feature in self|slice:"1:" %}
            <div class="features-block__feature">
                <h3>{{ feature.heading }}</h3>
                {{ feature.text | richtext }}
                <p class="features-block__feature__links">
                  {% for link in feature.links %}
                    {{ link }}
                  {% endfor %}
                </p>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
