{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
  <ul class="homepage-videos__list-of-talks row">
    {% for link in self %}
    <li class="list-of-talks__item">
      <div class="talk-teaser">
        {% if link.thumbnail %}
          <a href="{{ link.page.url }}">
            {% image link.thumbnail fill-262x196 class="talk-teaser__thumbnail" %}
          </a>
        {% endif %}
        <div class="talk-teaser__details">
          <h3 class="talk-teaser__title">
            <a href="{{ link.page.url }}">
              {{ link.title }}
            </a>
          </h3>
          {% if link.thumbnail %}
            <p class="talk-teaser__speaker">
              {{ link.subtitle }}
            </p>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
