{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
    <div class="collection-of-people">
      {% for person in self %}
        <div class="collection-of-people__person">
            {% image person.image max-240x240 class="person__photo" %}
            <p class="person__name">{{ person.name }}</p>
            <p class="person__role">{{ person.position }}</p>
            <p class="person__job-title">{{ person.organisation }}</p>
        </div>
      {% endfor %}
    </div>
</div>
