{% load wagtailcore_tags wagtailimages_tags %}

<div class="people">
    <div class="container">
      <ul class="attendee-list">
      {% for person in self %}
        <li class="attendee-list__attendee">
            <div class="attendee__secondary-column">
              {% image person.image fill-100x100 class="attendee__thumbnail" %}
            </div>
            <div class="attendee__primary-column">
              <h2 class="attendee__name">
                {{ person.name }}
              </h2>
              <p class="attendee__job-title">{{ person.position }}</p>
              <p class="attendee__org">{{ person.organisation }}</p>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
</div>
