@charset "utf-8";

@import 'normalize';
@import 'mixins';
@import 'variables';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $colour_background;
  color: $colour_black;
  font-family: $body_typeface;
  font-size: 1.0625em; //17px
  height: 100%;
  line-height: 1.388888889em; //25px
  min-height: 100%;
  @media (min-width:$medium_screen) {
    line-height: 1.5em; //27px
  }
}

a {
  color: $colour_links;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color:darken($colour_links, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_typeface;
  line-height: 1.1em;
  margin-bottom: 0.33em;
  margin-top: 0;
  font-weight: $heading_typeface_bold;
  text-rendering: optimizeLegibility;
}

h1,
.primary-heading {
  font-size: 2.369em;
  @media (min-width:$medium_screen) {
    font-size: 3.157em;
  }
}

h2,
.secondary-heading {
  font-size: 1.777em;
  @media (min-width:$medium_screen) {
    font-size: 2.369em;
  }
}

h3,
.tertiary-heading {
  font-size: 1.333em;
  @media (min-width:$medium_screen) {
    font-size: 1.777em;
  }
}

h4,
.quarternary-heading {
  font-size: 1.1em;
  @media (min-width:$medium_screen) {
    font-size: 1.333em;
  }
}

p {
  margin: 0 0 1em 0;
}

pre, code, kbd, samp {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
  @include vendor-prefix(border-radius, $border_radius);
  border: 1px solid $colour_borders;
  padding: 0 0.2em;
}

pre {
  background-color: $colour_background;
  @include vendor-prefix(border-radius, $border_radius);
  border: 1px solid $colour_borders;
  display: block;
  font-size: .9375em;
  line-height: 1.4375em;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1em;
  white-space: pre-wrap;
  code {
    border: none;
    padding: 0;
  }
}

hr {
  border: none;
  border-top: 1px solid $colour_borders;
  margin: 0;
}

audio,
video,
img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-left: 1.8em;
}

th {
  text-align: left;
}

strong, b {
  font-weight: $body_typeface_bold;
}

mark {
  background-color: lighten($colour_orange, 20%);
}

blockquote {
  @include vendor-prefix(border-radius, $border_radius);
  clear: both;
  color: $colour_dark_grey;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 1em 1em 1em 1.5em;
}

input[type=file] {
  max-width: 100%;
  width: 100%;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
input[type=time],
input[type=datalist],
input[type=date],
textarea,
.standard-input {
  @include vendor-prefix(border-radius, $border_radius);
  border: 1px solid $colour_borders;
  max-width: 100%;
  padding: 0.66em;
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
textarea {
  -webkit-appearance: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  font-family: $heading_typeface;
  font-size: 1.764705882em;
  font-weight: $heading_typeface_bold;
  line-height: 1.1em;
  margin-bottom: 0.33em;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  max-width: 100%;
  width: 100%;
  p {
    margin: 0;
  }
}

td, th {
  border-bottom: 1px solid $colour_borders;
  padding: 0.75em 0.6em;
  text-align: left;
}

th {
  background: inherit;
  font-weight: $body_typeface_bold;
  color: $colour_dark_grey;
  text-transform: uppercase;
  font-size: 0.764705882em;
}

th[scope="row"] {
  color: $colour_dark_grey;
}

tbody {
  tr:hover {
    background-color: $colour_background;
    th[scope="row"] {
      color: $colour_black;
    }
  }
}

caption {
  color: $colour_dark_grey;
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
}

tfoot {
  font-size: 0.875em;
  font-weight: normal;
  td {
    text-align: right;
    border: none;
  }
}

.js .hide-if-javascript {
  display: none;
}

.hide-if-no-javascript {
  display: none;
}

.js .hide-if-no-javascript {
  display: block;
}

.button {
  background-color: darken($colour_mint, 10%);
  @include vendor-prefix(border-radius, $border_radius);
  border: 0;
  color: $colour_white;
  display: inline-block;
  font-weight: $body_typeface_bold;
  padding: 0.75em 1.25em;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($colour_mint, 15%);
    color: $colour_white;
  }
}

//layouts
.layout {
  @include clearfix;
}

.column {
 float: left;
 width: 100%;
}

// a 2/3 1/3 split layout
.layout--thirds {
  .column--primary {
    @media (min-width:$medium_screen) {
      width: 63%;
      margin-right: 6%;
    }
  }
  .column--secondary {
    @media (min-width:$medium_screen) {
      width: 31%;
    }
  }
}


.site-header {
  background-color: $colour_white;
  padding: 1em 0;
  .container {
    position: relative;
  }
}

.standard-page {
  .site-header {
    border-bottom: 1px solid $colour_off_white;
  }
}

.site-header__title {
  line-height: 1em;
  font-size: 1em;
  margin: 0;
  padding: 0.5em 0;
  display: inline-block;
  a {
    color: $colour_black;
    &:hover,
    &:active,
    &:focus {
      color: $colour_dark_mint;
    }
  }
}

.site-header__details {
  display: none;
  @media (min-width:$medium_screen) {
    display: block;
    position: absolute;
    right: 9em;
    top: 0.2em;
    font-size: .888888889em;
    color: $colour_mid_grey;
  }
}

.site-header__tickets {
  display: block;
  position: absolute;
  right: 1em;
  top: -0.5em;
  font-size: .888888889em;
  text-transform: uppercase;
}

.homepage-hero {
  background-color: $colour_mint;
  background-image: url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 0;
  color: $colour_white;
  @media (min-width:$medium_screen) {
    padding: 4em 0;
  }
}

.homepage-hero__details {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid $colour_white;
  padding-bottom: 0.5em;
  @media (min-width:$medium_screen) {
    max-width: 35em;
  }
}

.homepage-hero__title {
  font-size: 1em;
  margin-top: 2em;
  background-color: $colour_orange;
  display: inline-block;
  padding: 0.33em 0.5em;
  @media (min-width:$medium_screen) {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
}

.homepage-hero__subtitle {
  font-size:  1.777777778em;
  line-height: 1.333em;
  @media (min-width:$medium_screen) {
    font-size: 2.333333333em;
    font-weight: bold;
    max-width: 18em;
  }
  @media (min-width:$large_screen) {
    font-size: 2.666666667em;
    margin-bottom: 0.5em;
  }
}

.homepage-hero__tickets {

}

.button--tickets {
  font-size: 1.235294118em;
  width: 100%;
  padding-right: 1.5em;
  @media (min-width:$medium_screen) {
    width: auto;
  }
  span {
    display: block;
    font-weight: normal;
    font-size: 0.6667em;
    line-height: 1.5em;
  }
}

.homepage-description {
  margin-top: 3em;
  margin-bottom: 3em;
  @include clearfix;
}

.two-columns-of-text {
  @media (min-width:$medium_screen) {
    @include vendor-prefix(column-count, 2);
    @include vendor-prefix(column-gap, 2em);
  }
  @media (min-width:$large_screen) {
    width: 75%;
    float: left;
  }
}

.homepage-description__partners {
  margin-bottom: 2em;
  @include flexbox();
  flex-flow: row wrap;
  align-items: center;
  @media (min-width:$large_screen) {
    width: 22%;
    float: right;
    margin-left: 3%;
    margin-bottom: 1em;
  }
}

.homepage-description__partners__column {
  display: inline-block;
  @media (min-width:$large_screen) {
    text-align: center;
  }
}

.homepage-description__partners__column--one {
  width: 30%;
  margin-right: 3%;
  @media (min-width:$large_screen) {
    margin-bottom: 1em;
    margin-top: -1em;
    margin-right: 0;
    width: 100%;
  }
}

.homepage-description__partners__column--two {
  width: 67%;
  @media (min-width:$large_screen) {
    width: 100%;
  }
}

.callout-box {
  background-color: $colour_mint;
  color: $colour_white;
  padding: 2em;
  margin-top: 1em;
  float: left;
  a {
    color: $colour_white;
    text-decoration: underline;
    font-weight: $body_typeface_bold;
  }
  @media (min-width:$large_screen) {
    width: 75%;
    font-size: 1.166666667em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.homepage-people {
  padding-top: 3em;
  border-top: 1px solid $colour_off_white;
  h3 {
    font-size: 1.277777778em;
  }
}

.collection-of-people {
  margin: 1.5em -1em 0 -1em;
  @media (min-width:$medium_screen) {
    margin-bottom: 2em;
    @include flexbox();
    flex-flow: row wrap;
  }
}

.collection-of-people__person {
  @include clearfix;
  margin-bottom: 1.5em;
  padding: 0 1em;
  @media (min-width:$medium_screen) {
    width: 11.5em;
  }
}

.person__photo {
  width: 20%;
  float: left;
  padding-right: 1em;
  @media (min-width:$medium_screen) {
    float: none;
    padding: 0;
    width: 100%;
  }
}

.person__name {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 20%;
  @media (min-width:$medium_screen) {
    margin-left: 0;
    font-size: 1.166666667em;
    margin-bottom: 0.25em;
  }
}

.person__job-title {
  font-size: 0.833333333em;
  line-height: 1.5em;
  margin: 0 0 0 20%;
  color: $colour_mid_grey;
  @media (min-width:$medium_screen) {
    margin-left: 0;
  }
}

.site-footer {
  background-color: $colour_off_white;
  padding: 2em 0;
  @include clearfix;
}

.site-footer__utility-links {
  margin-bottom: 2em;
  @media (min-width:$large_screen) {
    width: 35%;
    float: left;
  }
}

.utility-links__list {
  @include unstyled-list;
  @include inline-list;
}

.site-footer__partner-logos {
  text-align: center;
  @include flexbox();
  flex-flow: row wrap;
  align-items: center;
  .partner-logo {
    margin-bottom: 1em;
  }
  @media (min-width:$medium_screen) {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  @media (min-width:$large_screen) {
    width: 65%;
    float: right;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

.site-footer__partner-logos__logoset {
  width: 48.5%;
  margin-left: 1.5%;
  text-align: center;
  @media (min-width:$medium_screen) {
    width: 8em;
    margin-left: 1em;
  }
  @media (min-width:$large_screen) {
    text-align: right;
  }
  img {
    max-height: 4.5em;
  }
}

.site-footer__partner-logos__logoset--wide {
  @media (min-width:$medium_screen) {
    width: 10em;
  }
}

.general-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.general-content__page {
  max-width: 36em;
  a {
    text-decoration: underline;
  }
}

.mailchimp-form {
  //much of this will be deleted when the form is added
  background-color: $colour_off_white;
  padding: 2em;
  margin-bottom: 2em;
  min-height: 300px;
  border: 1px solid $colour_light_grey;
  width: 100%;
}

//forms

.form-item {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
  }
}
