{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}{{ page.title }}{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container standard-layout">
    <div class="general-content__page faq">
      <h1>{{ page.title }}</h1>
      <div class="row">
        <div class="standard-layout__secondary-column">
          <ul class="nav nav-stacked section-nav">
            {% for question in questions %}
            <li><a href="#{{ question.slug }}">{{ question.question }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="standard-layout__primary-column">
          {% for question in questions %}
          <div class="faq__question">
            <h2 id="{{ question.slug }}">{{ question.question }}</h2>
            {{ question.answer }}
          </div>
          {% empty %}
            <li>This page doesn't have any questions yet. Add some in the admin.</li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
