{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Speakers{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">

      <h1>Keynote Speakers</h1>

      {% for speaker in keynotespeakers %}

        <div class="row">
          <div class="standard-layout__secondary-column">

          {% thumbnail speaker.photo "200x200" crop="center" as im %}
            <img class="attendee-detail__thumbnail" src="{{ im.url }}">
          {% empty %}
            <img class="attendee-detail__thumbnail" src="{% static 'img/no-photo.png' %}" height="200" width="200">
          {% endthumbnail %}

          </div>
          <div class="standard-layout__primary-column">

            <h3>{{ speaker.name }}</h3>

            {% if speaker.title %}
              <p class="attendee-detail__job-title">{{ speaker.title }}</p>
            {% endif %}
            {% if speaker.organisation %}
              <p class="attendee-detail__org">{{ speaker.organisation }}</p>
            {% endif %}
            {% if speaker.twitter_username %}
              <p class="attendee-detail__twitter">
                <a href="https://www.twitter.com/{{ speaker.twitter_username }}">
                  @{{ speaker.twitter_username }}
                </a>
              </p>
            {% endif %}
            <div class="attendee-detail__bio">
              <p>
              {{ speaker.biography }}
              </p>
            </div>

          </div>
        </div>

      {% endfor %}

      {% if speakers %}

      <hr>

      <h2>All Speakers</h2>

      <ul class="attendee-list">
        {% for speaker in speakers %}
          <li class="attendee-list__attendee">
            <div class="attendee__secondary-column">
              <a href="{% url 'speaker' schedule.slug speaker.slug %}">
                {% thumbnail speaker.photo "100x100" crop="center" as im %}
                  <img class="attendee__thumbnail" src="{{ im.url }}">
                {% empty %}
                  <img class="attendee__thumbnail" src="{% static 'img/no-photo.png' %}" height="100" width="100">
                {% endthumbnail %}
              </a>
            </div>
              <div class="attendee__primary-column">
              <h2 class="attendee__name">
                <a href="{% url 'speaker' schedule.slug speaker.slug %}">
                  {{ speaker.name }}
                </a>
              </h2>
              {% if speaker.title %}
                <p class="attendee__job-title">{{ speaker.title }}</p>
              {% endif %}
              {% if speaker.organisation %}
                <p class="attendee__org">{{ speaker.organisation }}</p>
              {% endif %}
              {% if speaker.twitter_username %}
                <p class="attendee__twitter">
                  <a href="https://www.twitter.com/{{ speaker.twitter_username }}">
                    @{{ speaker.twitter_username }}
                  </a>
                </p>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
