{% extends 'ainow/base.html' %}

{% block title %}Attendees &amp; Speakers{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      {% if schedule.slug == '2017-experts-workshop' %}
      <h1>AI Now 2017 Attendees &amp; Speakers</h1>
      {% elif schedule.slug == 'workshop' %}
      <h1>AI Now 2016 Attendees &amp; Speakers</h1>
      {% else %}
      <h1>Attendees &amp; Speakers</h1>
      {% endif %}
      {% include "conference/_attendee_list.html" %}
    </div>
  </div>
</div>
{% endblock %}
