{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Attendees{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>Attendees</h1>
      <p>Attendees confirmed to date.</p>
      <ul class="attendee-list">
        {% for attendee in attendees %}
          <li class="attendee-list__attendee">
            <div class="attendee__secondary-column">
              <a href="{% url 'attendee' schedule.slug attendee.slug %}">
                {% thumbnail attendee.photo "100x100" crop="center" as im %}
                  <img class="attendee__thumbnail" src="{{ im.url }}">
                {% empty %}
                  <img class="attendee__thumbnail" src="{% static 'img/no-photo.png' %}" height="100" width="100">
                {% endthumbnail %}
              </a>
            </div>
              <div class="attendee__primary-column">
              <h2 class="attendee__name">
                <a href="{% url 'attendee' schedule.slug attendee.slug %}">
                  {{ attendee.name }}
                </a>
              </h2>
              {% if attendee.title %}
                <p class="attendee__job-title">{{ attendee.title }}</p>
              {% endif %}
              {% if attendee.organisation %}
                <p class="attendee__org">{{ attendee.organisation }}</p>
              {% endif %}
              {% if attendee.twitter_username %}
                <p class="attendee__twitter">
                  <a href="https://www.twitter.com/{{ attendee.twitter_username }}">
                    @{{ attendee.twitter_username }}
                  </a>
                </p>
              {% endif %}
            </div>
          </li>
        {% empty %}
          <li>There aren't any attendees yet</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
