{% extends 'ainow/base.html' %}

{% block subnav %}
<nav class="workshop-navbar navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#workshop-header-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="{% url 'schedule' schedule.slug %}">{{ schedule.name }}</a>
    </div>
    <div class="collapse navbar-collapse" id="workshop-header-nav">
      <ul class="nav navbar-nav" role="navigation">
        <li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
        <li><a href="{% url 'attendees' schedule.slug %}">Attendees &amp; Speakers</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Sponsors</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}