{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Talks{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>All Talks</h1>
      <h2 id="workshop">Experts Workshop</h2>
      {% include "conference/_talk_list.html" with presentations=workshop_presentations %}
      <h2 id="symposium">Public Symposium</h2>
      {% include "conference/_talk_list.html" with presentations=symposium_presentations %}
    </div>
</div>
{% endblock %}
