{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ presentation.title }}{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="presentation-detail">
      {% if presentation.slot %}
        <p class="presentation-detail__meta">
          <time class="presentation-detail__time">{{ presentation.slot.start }} - {{ presentation.slot.end }}</time>
          <span class="presentation-detail__location">{{ presentation.slot.room.name }}</span>
        </p>
      {% endif %}

      <h1 class="presentation-detail__title">{{ presentation.title }}</h1>

      <p class="presentation-detail__speaker">
        <a href="{% url 'speaker' schedule.slug presentation.primary_speaker.slug %}">
          {% thumbnail presentation.primary_speaker.photo "35x35" crop="center" as im %}
            <img src="{{ im.url }}" class="presentation-detail__speaker-thumb">
          {% empty %}
            <img  src="/static/img/no-photo.png" height="35" width="35" class="presentation-detail__speaker-thumb">
          {% endthumbnail %}
        </a>

        <a href="{% url 'speaker' schedule.slug presentation.primary_speaker.slug %}">
          <span class="presentation-detail__speaker-name">
            {{ presentation.primary_speaker.name }}
          </span>
        </a>
        {% if presentation.additional_speakers %}
          {% for speaker in presentation.additional_speakers.all %}
            , <a href="{% url 'speaker' schedule.slug speaker.slug}">
                <span class="presentation-detail__speaker-name">
                  {{ speaker.name }}
                </span>
              </a>
          {% endfor %}
        {% endif %}
      </p>

      <p class="presentation-detail__description">{{ presentation.long_description }}</p>

      {% if presentation.youtube_link %}
        <iframe
          width="800"
          height="450"
          src="https://www.youtube.com/embed/{{ presentation.video_id }}"
          frameborder="0"
          allowfullscreen>
        </iframe>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
