{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ presentation.title }}{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="presentation-detail">
      <h1 class="presentation-detail__title">{{ presentation.title }}</h1>

      <p class="presentation-detail__speaker">
        {% if presentation.speakers %}
          {% for speaker in presentation.speakers.all %}
            <a href="{% url 'speaker' schedule.slug speaker.slug %}">
              {% thumbnail speaker.photo "35x35" crop="center" as im %}
                <img src="{{ im.url }}" class="presentation-detail__speaker-thumb">
              {% empty %}
                <img  src="/static/img/no-photo.png" height="35" width="35" class="presentation-detail__speaker-thumb">
              {% endthumbnail %}
              <span class="presentation-detail__speaker-name">{{ speaker.name }}</span>
            </a><br>
          {% endfor %}
        {% endif %}
      </p>

      <p class="presentation-detail__location">
      {{ presentation.session.slot.start }}<br>
      {{ presentation.session.room.name }}
      </p>

      <p class="presentation-detail__description">
        {% if presentation.long_description %}
          {{ presentation.long_description }}
        {% elif presentation.short_description %}
          {{ presentation.short_description }}
        {% endif %}
      </p>


      {% if presentation.youtube_link %}
        <iframe
          width="800"
          height="450"
          src="https://www.youtube.com/embed/{{ presentation.video_id }}"
          frameborder="0"
          allowfullscreen class="presentation-detail__video">
        </iframe>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
