{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}{{ schedule.name }}{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container standard-layout standard-layout--flipped">
    <div class="general-content__page schedule">
      <h1>{{ schedule.name }} Schedule</h1>
      <div class="schedule__introduction">{{ schedule.introduction }}</div>
      <div class="row">
        <div class="standard-layout__primary-column">

          {% for date, day_schedule in days.items %}
            <h2>{{ date|date:"l jS B" }}</h2>
            <ul class="schedule__list">
              {% for slot in day_schedule %}
                {% include 'conference/_schedule_item.html' %}
              {% empty %}
                <li>This schedule doesn't have anything in it yet. Add some slots in the admin.</li>
              {% endfor %}
            </ul>
          {% endfor %}

          {% if footer_block %}
            <div class="schedule__footer">
              {{ footer_block }}
            </div>
          {% endif %}
        </div>
        <div class="standard-layout__secondary-column">
          {{ sidebar_block }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
