{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}{{ schedule.name }}{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="ainow-schedule-header-photo header-{{ schedule.slug }}"></div>
<div class="general-content">
  <div class="container standard-layout standard-layout--flipped">
    <div class="general-content__page schedule">
      <h1>{{ schedule.name }}</h1>
      <div class="schedule__introduction">{{ schedule.introduction }}</div>
      <div class="row">
        <div class="standard-layout__primary-column">
          <h3>Program</h3>

          {% if schedule.slug == '2017-experts-workshop' %}
            <h4>July 9, 2017</h4>
            <ul class="schedule__list">
              <li class="schedule__list__item schedule-entry">
                <h2 class="schedule-entry__title">WELCOME RECEPTION</h2>
                <div class="schedule-entry__description">
                    <p><em>6:00pm-8:00pm // Microsoft Research New England</em></p>
                    <p>Optional, details forthcoming.</p>
                    <p>Join us for an informal welcome reception, where we can begin to connect and share insights before a full day of talks and discussion on Monday.</p>
                </div>
              </li>
            </ul>
          <h4>July 10, 2017</h4>
          <ul class="schedule__list">
            <li class="schedule__list__item schedule-entry">
              <h2 class="schedule-entry__title">EXPERTS WORKSHOP</h2>
              <div class="schedule-entry__description">
                <p><em>9:00am-4:00pm // MIT Media Lab, 6th Floor</em></p>
                <p>Please arrive between 9:00am-9:45am for breakfast and registration. The program will begin promptly at 10:00am.</p>
              </div>
            </li>
          </ul>
          {% endif %}
          <ul class="schedule__list">
            {% for slot in slots %}
              <li class="schedule__list__item schedule-entry">
                {% if slot.is_presentation_slot %}
                  {% if slot.presentation %}
                    {% with presentation=slot.presentation %}
                      <h2 class="schedule-entry__title">
                        {% if schedule.slug == '2017-experts-workshop' %}
                          {{ presentation.title }}
                        {% else %}
                          <a href="{% url 'presentation' schedule.slug presentation.slug %}">
                            {{ presentation.title }}
                          </a>
                        {% endif %}
                      </h2>
                      <div class="schedule-entry__description">
                        {{ presentation.short_description }}
                        <p><strong>Speakers:</strong></p>
                        <ul>
                          <li><a href="{% url 'speaker' schedule.slug presentation.primary_speaker.slug %}">{{ presentation.primary_speaker.name }}</a> {{ presentation.primary_speaker.title }}, {{ presentation.primary_speaker.organisation }}</li>
                          {% for speaker in presentation.additional_speakers.all %}
                            <li><a href="{% url 'speaker' schedule.slug speaker.slug %}">{{ speaker.name }}</a> {{ speaker.title }}{% if speaker.organisation %}, {{ speaker.organisation }}{% endif %}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endwith %}
                  {% else %}
                    <h2 class="schedule-entry__title">{{ slot.name }}</h2>
                    <div class="schedule-entry__description">
                      {{ slot.short_description }}
                    </div>
                  {% endif %}
                {% else %}
                  <h2 class="schedule-entry__title">{{ slot.name }}</h2>
                  <div class="schedule-entry__description">
                    {{ slot.short_description }}
                  </div>
                {% endif %}
              </li>
            {% empty %}
              <li>This schedule doesn't have anything in it yet. Add some slots in the admin.</li>
            {% endfor %}
          </ul>
          {% if footer_block %}
            <div class="schedule__footer">
              {{ footer_block }}
            </div>
          {% endif %}
        </div>
        <div class="standard-layout__secondary-column">
          {{ sidebar_block }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
