{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Speakers{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>Speakers</h1>
      <ul>
        {% for speaker in speakers %}
          <li>
            <h2>{{ speaker.name }}</h2>
            <p>{{ speaker.photo }}</h2>
            <p>{{ speaker.biography }}</h2>
            <p>@{{ speaker.twitter_username }}</h2>
          </li>
        {% empty %}
          <li>There aren't any speakers yet. Add some in the admin.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}