{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Speakers{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>Speakers</h1>
      <ul>
        {% for speaker in speakers %}
          <li>
            <h2>{{ speaker.name }}</h2>
            {% thumbnail speaker.photo "250x250" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
            <p>{{ speaker.biography }}</p>
          {% if speaker.twitter_username %}
            <p class="attendee__twitter">
              <a href="https://www.twitter.com/{{ speaker.twitter_username }}">
                @{{ speaker.twitter_username }}
              </a>
            </p>
          {% endif %}
          </li>
        {% empty %}
          <li>Check back soon for details of the confirmed sessions.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}