{% extends 'theme/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Sessions info{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>Sessions info</h1>
      <ul>
        {% for speaker in speakers %}
          <li>
            <h2>{{ speaker.name }}</h2>
            {% thumbnail speaker.photo "250x250" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
            <p>{{ speaker.biography }}</p>
            <p>@{{ speaker.twitter_username }}</p>
          </li>
        {% empty %}
          <li>Check back soon for details of the confirmed sessions.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}