{% load thumbnail %}
{% load staticfiles %}
<div class="talk-teaser">
  <!-- <p class="talk-teaser__duration">9:32</p> -->
  <a href="{% url 'presentation' schedule.slug talk.slug %}">
    <img class="talk-teaser__thumbnail" src="{{ talk.video_thumbnail_url }}" />
  </a>
  <div class="talk-teaser__details">
    <h3 class="talk-teaser__title">
      <a href="{% url 'presentation' schedule.slug talk.slug %}">{{ talk.title }}</a>
    </h3>
    <p class="talk-teaser__speaker">
      {{ talk.primary_speaker }}{% if talk.additional_speakers %}{% for speaker in talk.additional_speakers.all %}, {{ speaker.name }}{% endfor %}{% endif %}
    </p>
    <!-- <p class="talk-teaser__themes">Social inequality, ethics</p> -->
  </div>
</div>