.homepage-mission {
  background-color: $gray-lighter;
  text-align: center;
  padding: 1em 0;

  @media (min-width: $screen-sm-min) {
    padding: 2em 0;
  }

  .rich-text {
    font-size: 1.2em;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.homepage-hero {
  background-color: $brand-primary;
  background-image: url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 0;
  color: $color_white;
  @media (min-width: $screen-sm-min) {
    padding: 4.5em 0;
  }
}

.homepage-hero--workshop {
  background-image: url('../img/hero-background2.jpg');
}

.homepage-hero__pretitle {
  display: block;
  height: 45px;
  line-height: 45px;
  @media (min-width:$screen-sm-min) {
    display: inline-block;
    padding: 0 0.75em;
    border: 1px solid $color_orange;
    position: relative;
    left: -4px;
    top: 2px;
    width: auto;
  }
}

.homepage-hero__title {
  font-size: 1em;
  margin-top: 2em;
  display: inline-block;

  img {
    display: inline-block;
    background-color: $color_orange;
    padding: 5px;
    height: 45px;
  }
  @media (min-width:$screen-sm-min) {
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
}

.homepage-hero__subtitle {
  font-size:  1.777777778em;
  line-height: 1.333em;
  font-weight: bold;
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
  @media (min-width:$screen-sm-min) {
    font-size: 2.333333333em;
    max-width: 18em;
  }
  @media (min-width:$screen-md-min) {
    font-size: 2.666666667em;
    margin-bottom: 0.5em;
  }
}

.homepage-hero__tickets {
  margin-top: 2em;
}

.btn--tickets {
  font-size: 1.235294118em;
  width: 100%;
  padding: 0.75em 1.5em 0.75em 1em;
  float: left;
  text-align: left;
  border: 0;
  border-radius: 3px;
  @media (min-width:$screen-sm-min) {
    width: auto;
  }
  p {
    display: block;
    font-weight: normal;
    font-size: 0.8125em;
    line-height: 1.428em;
    margin-bottom: 0;
  }
  .glyphicon {
    font-size: 0.75em;
    margin-left: 0.45em;
    opacity: 0.75;
  }
}

.homepage-videos {
  padding-top: 2em;
  padding-bottom: 2em;
  .container {
    position: relative;
  }
}

.homepage-hero--streaming {

}

.homepage-hero--streaming__title-container {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 2);
  @include make-md-column-push($columns: 1);
  img {
    max-width: 10em;
    width: 100%;
    height:  auto;
  }
}

.homepage-hero--streaming__subtitle-container {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 10);
  @include make-md-column($columns: 9);
  @include make-md-column-push($columns: 1);
  .homepage-hero__subtitle {
    @media (min-width:$screen-sm-min) {
      font-size: 1.8em;
      max-width: none;
    }
    @media (min-width:$screen-md-min) {
      font-size: 2.125em;
    }
  }
}

.homepage-hero--streaming__live-stream-container {
  max-width: 43.75em;
  width: 100%;
  margin: 2em auto 1em;
  background-color: $gray-darker;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.5);
}

.live-stream-container__stream {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  background-color: $gray-darker;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-position: center center;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-stream-container__stream__message {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  margin-top: -1em;
  font-size: 1.125em;
  font-weight: bold;
  color: $gray-light;
  z-index: 0;
}

.list-stream-container__stream__message--over {
  top: 30%;
  width: 80%;
  left: 10%;
  color: $color_white;

  p:last-of-type a {
    @extend .btn;
    @extend .btn-primary;
  }
}

.homepage-hero--streaming__live-stream-schedule {
  ol {
    margin-top: 1em;
    @extend .list-unstyled;
    text-align: center;
    font-size: 1.4375em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
  }
  li {
    margin-bottom: 0.3em;
  }
}

.homepage-description {
  background-color: $color_white;
  padding-top: 3em;
  padding-bottom: 3em;
  @include clearfix;
  font-size: 1.0625em;
}

.homepage-videos__symposium,
.homepage-videos__workshop {
  @include make-sm-column($columns: 12);
  > h3 {
    font-size: 1.5em;
    margin: 1em 0 0;
    font-weight: normal;
  }
}

.homepage-videos__workshop {
  border-bottom: 1px solid $gray-lighter;
}

.homepage-videos__all-talks {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: 0.875em;
}

.homepage-videos__all-talks--small {
  font-size: 0.85em;
  top: auto;
  right: 1rem;
  bottom: 1em;
}

.homepage-videos__workshop {
  .homepage-videos__all-talks--small {
    @media (min-width:$screen-sm-min) {
      right: 2.571428571em;  //~32px
    }
  }
}

.homepage-videos__list-of-talks {
  @extend .list-unstyled;
  margin-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.list-of-talks__item {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 6);
  display: flex;
}

.homepage-videos__list-of-talks .list-of-talks__item {
  @include make-xs-column($columns: 6);
  @include make-sm-column($columns: 3);
}

.talk-teaser {
  position: relative;
  background-color: $gray-lighter;
  margin-bottom: 2em;
  width: 100%;
}

.talk-teaser__details {
  padding: 0 1em 1em;
}

.talk-teaser__duration {
  display: inline-block;
  position: absolute;
  top: 0.75em;
  right: 0.75em;

  background-color: $brand-primary;
  color: $color_white;
  font-weight: bold;
  font-size: 0.875em;
  padding: 0.25em 0.5em;
}

.talk-teaser__thumbnail {
  max-width: 100%;
  width: 100%;
}

.talk-teaser__title {
  font-size: 1.125em;
  line-height: 1.3em;
}

.talk-teaser__speaker {
  font-size: 0.875em;
  margin-bottom: 0.3em;
}

.talk-teaser__themes {
  font-size: 0.75em;
  color: $gray-dark;
}

.homepage-summary {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-lighter;
}

.homepage-summary__pdf {
  @extend .list-unstyled;
  @extend .list-inline;
  margin-top: 2em;
}

.homepage-themes {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-lighter;
}

.homepage-themes__list-of-themes {
  @extend .list-unstyled;
  @extend .list-inline;
  margin-top: 2em;
}

.list-of-themes__link {
  @extend .btn;
  @extend .btn-default;
  font-size: 1.3125em;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  color: $link-color;
  display: inline-block;
  &:hover,
  &:active,
  &:focus {
    background-color: $gray-lighter;
  }
}

.homepage-people {
  padding-top: 3em;
  border-top: 1px solid $gray-lighter;
  background-color: $color_white;
  h3 {
    font-size: 1.277777778em;
  }
  .container {
    position: relative;
  }
}

.homepage-people__full-link {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: 0.875em;
}

.collection-of-people {
  margin: 1.5em -1em 0 -1em;
  @media (min-width:$screen-sm-min) {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
  }
}

.collection-of-people__person {
  @include clearfix;
  margin-bottom: 1.5em;
  padding: 0 1em;
  @media (min-width:$screen-sm-min) {
    width: 9em;
  }
}

.person__photo {
  width: 20%;
  float: left;
  padding-right: 1em;
  @media (min-width:$screen-sm-min) {
    float: none;
    padding: 0;
    width: 100%;
  }
}

.person__name {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 20%;
  margin-top: 0.4em;
  @media (min-width:$screen-sm-min) {
    margin-left: 0;
    margin-bottom: 0.25em;
  }
}

.person__role {
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0.5em;
}

.person__job-title {
  font-size: 0.6em;
  line-height: 1.428em;
  margin: 0 0 0 $grid-gutter-width;
  color: $gray;
  @media (min-width:$screen-sm-min) {
    margin-left: 0;
  }
}
