.homepage-videos {
  padding-top: 2em;
  padding-bottom: 2em;
  .container {
    position: relative;
  }
}

.homepage-hero--streaming {

}

.homepage-hero--streaming__title-container {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 2);
  @include make-md-column-push($columns: 1);
  img {
    max-width: 10em;
    width: 100%;
    height:  auto;
  }
}

.homepage-hero--streaming__subtitle-container {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 10);
  @include make-md-column($columns: 9);
  @include make-md-column-push($columns: 1);
  .homepage-hero__subtitle {
    @media (min-width:$screen-sm-min) {
      font-size: 1.8em;
      max-width: none;
    }
    @media (min-width:$screen-md-min) {
      font-size: 2.125em;
    }
  }
}

.homepage-hero--streaming__live-stream-container {
  max-width: 43.75em;
  width: 100%;
  margin: 2em auto 1em;
  background-color: $gray-darker;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.5);
}

.live-stream-container__stream {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  background-color: $gray-darker;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-position: center center;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-stream-container__stream__message {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  margin-top: -1em;
  font-size: 1.125em;
  font-weight: bold;
  color: $gray-light;
  z-index: 0;
}

.list-stream-container__stream__message--over {
  top: 30%;
  width: 80%;
  left: 10%;
  color: $color_white;

  p:last-of-type a {
    @extend .btn;
    @extend .btn-primary;
  }
}

.homepage-hero--streaming__live-stream-schedule {
  ol {
    margin-top: 1em;
    @extend .list-unstyled;
    text-align: center;
    font-size: 1.4375em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
  }
  li {
    margin-bottom: 0.3em;
  }
}

.homepage-description {
  background-color: $color_white;
  padding-top: 3em;
  padding-bottom: 3em;
  @include clearfix;
  font-size: 1.0625em;
}

.homepage-videos__symposium,
.homepage-videos__workshop {
  @include make-sm-column($columns: 12);
  > h3 {
    font-size: 1.5em;
    margin: 1em 0 0;
    font-weight: normal;
  }
}

.homepage-videos__workshop {
  border-bottom: 1px solid $gray-lighter;
}

.homepage-videos__all-talks {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: 0.875em;
}

.homepage-videos__all-talks--small {
  font-size: 0.85em;
  top: auto;
  right: 1rem;
  bottom: 1em;
}

.homepage-videos__workshop {
  .homepage-videos__all-talks--small {
    @media (min-width:$screen-sm-min) {
      right: 2.571428571em;  //~32px
    }
  }
}

.homepage-videos__list-of-talks {
  @extend .list-unstyled;
  margin-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.list-of-talks__item {
  @include make-xs-column($columns: 12);
  @include make-sm-column($columns: 6);
  display: flex;
}

.homepage-videos__list-of-talks .list-of-talks__item {
  @include make-xs-column($columns: 6);
  @include make-sm-column($columns: 3);
}

.talk-teaser {
  position: relative;
  background-color: $gray-lighter;
  margin-bottom: 2em;
  width: 100%;

  // No need for margin-bottom here, because
  // .talk-list__talk has its own margin-bottom.
  .talk-list__talk & {
    margin-bottom: 0;
  }
}

.talk-teaser__details {
  padding: 0 1em 1em;
}

.talk-teaser__duration {
  display: inline-block;
  position: absolute;
  top: 0.75em;
  right: 0.75em;

  background-color: $brand-primary;
  color: $color_white;
  font-weight: bold;
  font-size: 0.875em;
  padding: 0.25em 0.5em;
}

.talk-teaser__thumbnail {
  max-width: 100%;
  width: 100%;
}

.talk-teaser__title {
  font-size: 1.125em;
  line-height: 1.3em;
}

.talk-teaser__speaker {
  font-size: 0.875em;
  margin-bottom: 0.3em;
}

.talk-teaser__themes {
  font-size: 0.75em;
  color: $gray-dark;
}

.homepage-people {
  padding-top: 3em;
  border-top: 1px solid $gray-lighter;
  background-color: $color_white;
  h3 {
    font-size: 1.277777778em;
  }
  .container {
    position: relative;
  }
}

.homepage-people__full-link {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: 0.875em;
}
