.mailinglist-block {
  background-color: $gray-lighter;
  background-image: url(../img/sxsw-homepage-hough-lines.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-size: cover;

  margin: 2em 0;
  padding: 2em 0;

  h3 {
    margin-top: 0;
    font-size: 1.875em;
  }

  .rich-text {
    font-size: 1.5em;
  }

  form {
    font-size: 1.5em;
    margin: 1em 0;
  }

  @media (min-width: $screen-sm-min) {
    margin: 4em 0;
    padding: 4em 0;

    h3 {
      font-size: 2.625em;
    }

    .form-inline {
      label + input,
      .form-group + .form-group {
        margin-left: 0.5em;
      }
    }
  }
}
