.schedule__introduction {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}
.schedule__list {
  @extend .list-unstyled;
  border-top: 2px dotted $gray-light;
}

.schedule-entry {
  border-bottom: 2px dotted $gray-light;
  padding: 1.5em 1em 1em;
  &:nth-child(even) {
    background-color: lighten($gray-lighter, 5%);
  }
}

.schedule-entry__time {
  display: block;
  background-color: $gray-lighter;

  padding: 0.66667em 0.5em 0.5em;
  font-size: 1.0625em; //~17px
  margin: 1.5em 0;
}

.schedule-entry__speaker,
.schedule-entry__description {
  color: $gray;
  margin: 0 0 0.35em;
}

.schedule-entry__title {
  font-size: 1.0625em; //~17px
  margin: 0 0 0.35em;
  a {
    text-decoration: underline;
  }
}

.schedule-entry__description--short {
  font-size: 0.9375em; //~15px
  margin: 0 0 1em;
}

.schedule-entry__location {
  font-size: 0.9375em; //~15px
  color: $gray;
  margin-top: 0.66667em;
  margin-bottom: 1em;
}

.talk-list {
  @extend .list-unstyled;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  margin-top: 2em;
}

.talk-list__talk {
  // Layout from Bootstrap's media object
  @extend .media;
  margin-bottom: 2em;
  margin-top: 0;
  width: 15em;
  margin-right: $grid-gutter-width;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
