@charset "utf-8";

@import 'bootstrap-settings';
@import 'bootstrap';



*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $body-bg;
  font-family: $body_typeface;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $heading_typeface;
  font-weight: $heading_typeface_bold;
  text-rendering: optimizeLegibility;
}

.btn-default {
  font-weight: normal;
}

/*
 * Layouts
 */

.standard-layout {
  // Large primary column with a smaller secondary column
}

.standard-layout__primary-column {
  @include make-xs-column($columns: 12);
  @include make-md-column($columns: 8, $gutter: 54px);

}

.standard-layout__secondary-column {
  @include make-xs-column($columns: 12);
  @include make-md-column($columns: 3);
  @include make-md-column-push($columns: 1);

}

.site-header {
  // built with Bootstrap's navbar component
  border: 0;
}

.form {
  // Standard layout for forms
  textarea {
    border: 1px solid $gray-light;
    width: 100%;
    border-radius: $border-radius-base;
    padding: 0.66667em;
    color: $gray;
  }
}

.form--account-form {
  // a form that sits within the account management screens
}

.form--simple-form {
  // a layout for a single form centred on the screen. Log in uses this
}

.form--simple-form__form {

  @include make-xs-column($columns: 10);
  @include make-xs-column-push($columns: 1);
  @include make-sm-column($columns: 6);
  @include make-sm-column-push($columns: 3);
  @include make-md-column($columns: 4, $gutter: 54px);
  @include make-md-column-push($columns: 4);

  background: $color_white;
  margin-top: 3em;
  padding-top: 0.5em;
  padding-bottom: 1em;

}

.form--simple-form__form__heading {
  text-align: center;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}


.account-form__field {
  input {
    @extend .form-control;
  }
}

.account-form__field--submit {
  margin-top: 2em;
}

.account-form__field__not-a-btn {
  color: $gray-dark;
  display: inline-block;
  margin-left: 1em;
  font-size: 0.875em;
  text-decoration: underline;
}

.account-form__photo {
  margin: 1em 0 2em;
}

.account-form__photo__thumbnail {
  border-radius: 100%;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.account-form__photo-display-column {
  @include make-xs-column($columns: 3);
  @include make-sm-column($columns: 2);
}

.account-form__photo-controls-column {
  @include make-xs-column($columns: 9);
  @include make-sm-column($columns: 10);

  .btn {
    display: inline-block;
    margin: 1em 1em 1em 0;
  }
}
