{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC 2018{% endblock %}

{% block content %}
<div class="homepage-hero hero-2018">
  <div class="container">
    <h1>TICTeC 2018</h1>
    <p class="lead">Lisbon, Portugal</p>
  </div>
</div>

<div id="resources" class="homepage-section">
  <div class="container">

    <p class="lead">TICTeC 2018 in Lisbon was awesome, thanks to everyone who came! We will be posting conference resources as described below in the coming days and weeks. Carry on the discussions, networking, and sharing of your Civic Tech research experiences over on the <a href="https://groups.google.com/forum/#!forum/tictecbymysociety">TICTeC Google Group</a>.</p>

    <p class="lead"><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up for our newsletter</a> and we’ll alert you when earlybird tickets go on sale for our next TICTeC event.</p>

    <hr>

    <h2>Resources from TICTeC 2018</h2>

    <!--

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FmrxgZA0CFU" frameborder="0" allowfullscreen></iframe>

  -->

    <div class="row">
      <div class="col-md-6">

      <h3><a href="{% url 'schedule' 2018 %}">Schedule</a></h3>

      <p>Full details of sessions and speakers. Click through from session titles or speaker names to see further material where available, including abstracts, videos and slides.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="{% url 'speakers' 2018 %}">Speakers</a></h3>

      <p>See who attended, view bios, and follow links to each speaker’s session to see slides and videos where available.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://www.youtube.com/channel/UCWI1GxC4gNhGP2Xy9WtldWg">Videos</a></h3>

      <p>Videos from all TICTeC 2018 sessions will be available soon over on mySociety’s YouTube channel. We’ll also post videos on the schedule pages.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="https://www.flickr.com/photos/mysociety/">Photos</a></h3>

      <p>Images from TICTeC 2018 will be available soon on the mySociety Flickr account. All will be available for reuse under a Creative Commons licence.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://twitter.com/search?f=tweets&vertical=default&q=tictec&src=spxr">#TICTeC</a></h3>

      <p>Follow the hashtag #TICTeC on social media to read updates from the conference as they happened, as well as pre and post conference thoughts.</p>

      </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}
