{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC 2018{% endblock %}

{% block content %}
<div class="homepage-hero hero-2018">
  <div class="container">
    <h1>TICTeC 2018</h1>
    <p class="lead">Lisbon, Portugal</p>
  </div>
</div>

<div id="next" class="homepage-section homepage-section--secondary">
  <div class="container">

    <p class="lead">Join us in Lisbon for the fourth edition of mySociety’s The Impacts of Civic Technology Conference on 18 and 19 April 2018.</p>

  </div>
</div>

<div id="call-for-papers" class="homepage-section">
  <div class="container">

    {{ call_block }}

  </div>
</div>

<div id="register" class="homepage-section">
  <div class="container">

    {{ tickets_block }}

  </div>
</div>

<div id="sponsorship" class="homepage-section">
  <div class="container">

    {{ sponsorship_block }}

  </div>
</div>

<div id="code-of-conduct" class="homepage-section">
  <div class="container">

    {{ conduct_block }}

  </div>
</div>



{% endblock %}
