{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC 2018{% endblock %}

{% block content %}
<div class="homepage-hero hero-2018">
  <div class="container">
    <h1>TICTeC 2018</h1>
    <p class="lead">Lisbon, Portugal</p>
  </div>
</div>

<div id="resources" class="homepage-section">
  <div class="container">

    <p class="lead">Thanks to the generous support of Google and the MacArthur Foundation mySociety hosted the fourth TICTeC on 18 and 19 April 2018 in Lisbon. 150 leaders in the field from 29 different countries attended, thank you to everyone who came. Resources from the conference can be viewed below. Carry on the discussions, networking, and sharing of your Civic Tech research experiences over on the <a href="https://groups.google.com/forum/#!forum/tictecbymysociety">TICTeC Google Group</a>.</p>

    <p class="lead"><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up for our newsletter</a> and we’ll alert you when earlybird tickets go on sale for our next TICTeC event.</p>

    <hr>

    <h2>Resources from TICTeC 2018</h2>

    <!--

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FmrxgZA0CFU" frameborder="0" allowfullscreen></iframe>

  -->

    <div class="row">
      <div class="col-md-6">

      <h3><a href="{% url 'schedule' 2018 %}">Schedule</a></h3>

      <p>Full details of sessions and speakers. Click through from session titles or speaker names to see further material where available, including abstracts, videos and slides.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="{% url 'speakers' 2018 %}">Speakers</a></h3>

      <p>See who attended, view bios, and follow links to each speaker’s session to see slides and videos where available.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://www.youtube.com/channel/UCWI1GxC4gNhGP2Xy9WtldWg">Videos</a></h3>

      <p>Videos from all TICTeC 2018 sessions and interviews with delegates are available on <a href="https://www.youtube.com/channel/UCWI1GxC4gNhGP2Xy9WtldWg">mySociety’s YouTube channel</a>. The session videos can also be viewed on the <a href="{% url 'schedule' 2018 %}">schedule pages</a>.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="https://www.flickr.com/photos/mysociety/albums/72157666482366877">Photos</a></h3>

      <p>Find images from TICTeC 2018 on Flickr. All are available for reuse under a Creative Commons licence.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://twitter.com/search?f=tweets&amp;vertical=default&amp;q=tictec&amp;src=spxr">#TICTeC</a></h3>

      <p>Follow the hashtag #TICTeC on social media to read updates from the conference as they happened, as well as pre and post conference thoughts.</p>

      </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}
