{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC 2019{% endblock %}

{% block content %}
<div class="homepage-hero hero-2019">
  <div class="container">
    <h1>TICTeC 2019</h1>
    <p class="lead">19th & 20th March 2019, Paris</p>
    <p><a href="{% url 'schedule2019summary' %}#call-for-papers" class="btn btn-large btn-default btn-primary">Call for Papers</a> <a href="{% url 'schedule2019summary' %}#register" class="btn btn-large btn-default">Register</a></p>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
      <p class="lead">Returning for a fifth year, TICTeC 2019 will focus on the impact that civic technology and digital democracy are having upon citizens, decision makers and governments around the world. </p>
      <div class="row">
        <div class="col-sm-8">
          <p>Primarily, the goal of TICTeC is to promote and share rigorous and meaningful research into online technologies and digital democracy around the world. The conference facilitates discussion and networking amongst individuals and groups to find real-world solutions through sharing evidence of impact, and (importantly) evidence of what doesn’t work.</p>
          <p>TICTeC 2019 will bring together <a href="http://tictec.mysociety.org/sponsorship#attendees">individuals</a> from academic and applied backgrounds as well as businesses, public authorities, NGOs, funders and education institutions to discuss ideas, present research and build a network of individuals interested in the civic technology landscape. <a href="http://tictec.mysociety.org/sponsorship#attendees">See who’s previously attended TICTeC</a>.</p>
        </div>
      </div>  
  </div>  
</div> 

<div id="call-for-papers" class="homepage-section homepage-section--tertiary">
  <div class="container">
    <h2>Call for papers</h2>
    <div class="row">
      <div class="col-sm-8">
        <p>This two day conference provides the opportunity for researchers to present theoretical or empirical work related to the conference theme. We also welcome proposals for individuals to lead workshops or give presentations relating to the conference theme. We encourage submissions to focus on the specific impacts of technologies, rather than showcase new tools that are as yet untested.
        </p>
        <p>We invite individuals to submit abstracts or workshop / presentation proposals of no more than 300 words by 11th January 2019.</p>
        <p>We encourage submissions to focus on the specific impacts of technologies, rather than showcase new tools that are as yet untested.</p>
        <p>Those selected for inclusion in the conference programme will be notified no later than 18th January 2019.</p>
        <p>Presenters will be required to register for the conference by 1st February in order to confirm their slot (the registration fee will be waived for individuals presenting).</p>
        <p><a href="https://goo.gl/forms/MNxL4tHyAK27ZFHu1" class="btn btn-large btn-default btn-primary">Submit a proposal</a></p>
      </div>
    </div>
  </div>
</div>


<div id="register" class="homepage-section homepage-section--secondary">
  <div class="container">
    <h2>Registration</h2>
    <p><a href="#" class="btn btn-large btn-default btn-primary">Register now</a></p>
    <div class="row">
      <div class="col-sm-8">
        <p>Early Bird registration is <strong>£100</strong> and is open until <strong>8th February 2019</strong>.</p>
        <p>Regular registration is <strong>£200</strong> and is open between <strong>8th February and 15th March 2019</strong>.</p>
        <p>Fee includes conference pass and social program (lunch, coffee, drinks reception etc.) during the conference.</p>
        <p>Please note that <strong>registration for the conference is essential</strong> in order to attend.</p>         
      </div>
    </div>
  </div>
</div>

<div id="accessibility" class="homepage-section">
    <div class="container">
      <h2>Accessibility Information</h2>
      <div class="row">
        <div class="col-sm-8">
          <p>The conference venue is fully accessible for wheelchair users. If you plan to attend TICTeC with a personal care attendant/assistant, their conference fee will be waived. Please contact Gemma Moulder on +44 (0)20 3239 0725 or via email to arrange the fee waiver/registration.</p>
          <p>If you need special requirements such as hearing loops, sign language interpreters, handouts in advance and/or in alternative formats such as Braille or large print etc, please contact Gemma Moulder on +44 (0)20 3239 0725 or via email with your request by close of business on 6th March 2018 so that arrangements, where possible, can be made. We will do our best to fulfil your requirements to allow you to fully participate in this event.</p>   
        </div>
      </div>
    </div>
  </div>

{% endblock %}
