{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC 2019{% endblock %}

{% block content %}
<div class="homepage-hero hero-2019">
  <div class="container">
    <h1>TICTeC 2020</h1>
    <p class="lead">Iceland</p>
  </div>
</div>

<div id="resources" class="homepage-section">
  <div class="container">

    <p class="lead">In association with the <a href="http://www.oecd.org/">OECD</a>, and with support from <a href="http://www.google.com/">Google</a>, <a href="http://www.luminategroup.com/">Luminate</a> and the <a href="https://www.macfound.org/">MacArthur Foundation</a>, mySociety hosted the fifth TICTeC on 19 and 20 March 2019 in Paris. More than 200 leaders in the Civic Tech field from 29 different countries attended; thank you to everyone who came. Resources from the conference can be viewed below. Carry on the discussions, networking, and sharing of your Civic Tech research experiences over on the <a href="https://groups.google.com/forum/#!forum/tictecbymysociety">TICTeC Google Group</a>.</p>

    <p class="lead"><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up for our newsletter</a> and we’ll alert you when early bird tickets go on sale for our next TICTeC event. In the meantime, consider joining us at <a href="{% url 'local-2019' %}">TICTeC Local</a>.</p>

    <hr>

    <h2>Resources from TICTeC 2019</h2>

    <!--

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FmrxgZA0CFU" frameborder="0" allowfullscreen></iframe>

  -->

    <div class="row">
      <div class="col-md-6">

        <h3><a href="{% url 'schedule' 2019 %}">Schedule</a></h3>

        <p>Full details of sessions and speakers. Click through from session titles or speaker names to see further material where available, including abstracts, videos and slides.</p>

      </div>

      <div class="col-md-6">

        <h3><a href="{% url 'speakers' 2019 %}">Speakers</a> and <a href="{% url 'attendees' 2019 %}">Attendees</a></h3>

        <p>See who attended, view bios, and follow links to each speaker’s session to see slides and videos where available.</p>

      </div>

    </div>
    <div class="row">

      <div class="col-md-6">

        <h3><a href="https://www.youtube.com/playlist?list=PLMbWpADzhTC6WtesKxCapFz6JaIFTayk-">Videos</a></h3>

        <p>Videos from key TICTeC 2019 sessions are available on <a href="https://www.youtube.com/channel/UCWI1GxC4gNhGP2Xy9WtldWg">mySociety’s YouTube channel</a>. These videos are also be viewable from the individual session pages on the <a href="{% url 'schedule' 2019 %}">schedule</a>.</p>

      </div>

      <div class="col-md-6">

        <h3><a href="https://www.flickr.com/photos/mysociety/sets/72157704360046502">Photos</a></h3>

        <p>Find images from TICTeC 2019 on <a href="https://www.flickr.com/photos/mysociety/">mySociety’s Flickr stream</a>. All are available for reuse under a Creative Commons licence.</p>

      </div>

    </div>
    <div class="row">

      <div class="col-md-6">

        <h3><a href="https://twitter.com/search?f=tweets&amp;vertical=default&amp;q=tictec&amp;src=spxr">#TICTeC</a></h3>

        <p>Follow the hashtag #TICTeC on social media to read updates from the conference as they happened, as well as pre and post conference thoughts.</p>

      </div>

      <div class="col-md-6">

        <h3><a href="https://docs.google.com/document/d/1aA-daIL1gj6pMqeDgNDy0PSbBrdmH7lX-xvt_xO_e1Y">Blog Posts and Media Coverage</a></h3>

        <p>Links to the various blog posts and media coverage about TICTeC 2019.</p>

      </div>

    </div>

  </div>
</div>

{% endblock %}
