{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}tictec{% endblock %}

{% block title %}TICTeC 2020{% endblock %}

{% block content %}
<div class="homepage-hero hero-iceland">
  <div class="container">
    <h1>TICTeC 2020</h1>
    <p class="lead">24 & 25 March 2020, Reykjavik, Iceland</p>
    <ul class="list-inline">
      <li><a href="#register" class="btn btn-lg btn-primary">Register</a></li>
    </ul>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <p class="lead">Returning for a sixth year, TICTeC 2020 will focus on the impact that civic technology and digital democracy are having upon citizens, decision makers and governments around the world. </p>

        <p>Primarily, the goal of TICTeC is to promote and share rigorous and meaningful research into online civic technologies and digital democracy around the world. The conference facilitates discussion and networking amongst individuals and groups to find real-world solutions through sharing evidence of impact, and (importantly) evidence of what doesn’t work. </p>

        <p>Hosted by UK-based NGO <a href="https://www.mysociety.org/">mySociety</a>, TICTeC 2020 will bring together <a href="http://tictec.mysociety.org/sponsorship#attendees">individuals</a> from academic and applied backgrounds as well as businesses, public authorities, NGOs, funders and education institutions to discuss ideas, present research and build a network of individuals interested in the civic technology landscape. <a href="http://tictec.mysociety.org/sponsorship#attendees">See who’s previously attended TICTeC</a> or download our <a href="https://tictec.mysociety.org/static/guide-2019.00220a58f9fd.pdf">guide to TICTeC</a> for more information.</p>

        <p><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up to the mySociety Research mailing list</a> and we’ll let you know speaker and agenda details as they are announced. You can see speakers announced so far on <a href="https://tictec.mysociety.org/2020/speakers">this page</a>- and agenda details will be added to this page very soon.</p>

      </div>
      <div class="col-sm-3 col-sm-push-1">
        <p style="margin-top: 0.25em;">
          Sponsored by
          <a href="https://luminategroup.com"><img src="{% static 'img/luminate.svg' %}" width="300" height="75" alt="Luminate" style="display:block; width:100%; height: auto; max-width: 300px;"></a>

          <a href="https://balsamiq.com"><img src="{% static 'img/balsamiq-logo.png' %}" width="244" height="70" alt="Balsamiq" style="width: 66.666%; height: auto; max-width: 244px; margin-top:1em;"></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“The size of TICTeC has always been manageable and lends itself well to deeper conversations than huge global conferences”</em></p>
          <p>— Nicola Anand, formerly Reboot and The Engine Room</p>
      </div>

      <div class="col-sm-6">
          <p><em>“Many ideas and references from these TICTeC sessions have been essential in generating the framework for my current research”</em></p>
            <p>— Pablo Aragón, Universitat Pompeu Fabra</p>
      </div>

    </div>
  </div>
</div>


<div id="call-for-proposals" class="homepage-section">
  <div class="container">
    <h2>Call for proposals</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>The Call for Proposals is now closed. Thank you to everyone who submitted a proposal. This conference programme will be announced shortly.</p>

        <p>Those selected for inclusion in the conference programme will be notified no later than <strong>24th January 2020</strong>.</p>

        <p>Presenters will be required to register for the conference by <strong>7th February</strong> in order to confirm their slot (the registration fee will be waived for individuals presenting).</p>
      </div>
    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-4.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--secondary">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
            <p><em>“Each year, I can count on TICTeC to expose me to a more global collection of civic tech work than I'd otherwise see and challenge me to rigorously consider the impact of my and my peers' work”</em></p>
          <p>— Matt Stempeck, Civic Hall</p>
        </div>

        <div class="col-sm-6">
            <p><em>“TICTeC has been a great way for me personally as a relatively new person in the field to get exposure to new ideas, connect with incredibly helpful people, and to generally learn about new trends from around the world.”</em></p>
              <p>— Eric Reese, Director, GovEx Academy, Centers for Civic Impact | Johns Hopkins University</p>
        </div>

      </div>
    </div>
  </div>

<div id="register" class="homepage-section">
  <div class="container">
    <h2>Registration</h2>
    <div class="row">
      <div class="col-sm-8">

        <p><a href="https://www.eventbrite.co.uk/e/the-impacts-of-civic-technology-conference-tictec-2020-tickets-70012139193" class="btn btn-lg btn-primary">Register now</a></p>

        <p>Early Bird registration for civil society organisations, the public sector, students and self-funding individuals is <strong>£150</strong> and is open until <strong>14th February 2020.</strong></p>

        <p>Early Bird registration for private sector and funding bodies is <strong>£300</strong> and is open until <strong>14th February 2020</strong>.</p>

        <p>Regular registration raises ticket prices by £100 and is open between <strong>14th February</strong> and <strong>20th March 2020.</strong></p>

        <p>Fee includes conference pass and social program (lunch, refreshments etc.) during the conference. Please note that registration for the conference is essential in order to attend.</p>

      </div>
    </div>
  </div>
</div>

<div id="speakers" class="homepage-section">
  <div class="container">
    <h2>Speakers</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>We're delighted that Nanjala Nyabola and Dr. Hollie Russon Gilman will be keynote speakers at TICTeC 2020. Details of further TICTeC 2020 speakers will be added to <a href="https://tictec.mysociety.org/2020/speakers">this page</a> as they are announced.</p>

      </div>
    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/iceland-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-4.jpg' %}" width="800" height="400" alt="">
</div>

<div id="sponsorship" class="homepage-section homepage-section--secondary">
    <div class="container">
      <h2>Sponsorship opportunities</h2>
      <div class="row">
        <div class="col-sm-8">

          <p>mySociety is a charity and relies on sponsorship and ticket sales to make events like TICTeC happen. If you’re interested in sponsoring TICTeC 2020 in Reykjavik please see our <a href="http://tictec.mysociety.org/sponsorship#attendees">sponsorship options</a>. To discuss these and other more bespoke sponsorship opportunities please <a href="mailto:gemma@mysociety.org">contact Gemma Moulder</a>.
        </div>
      </div>
    </div>
  </div>


<div id="venue" class="homepage-section">
  <div class="container">
    <h2>Venue</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>TICTeC 2020 will take place at the stunning <a href="https://en.harpa.is/harpa/">Harpa Conference Centre</a>, which is one of the Reykjavik's most iconic landmarks and situated right in the heart of the city.</p>

        <p>We recommend you book your accommodation in Reykjavik as soon as possible. Here is a <a href="https://en.harpa.is/harpa/access/harbour/gisting/">list of accommodation options</a> close to the conference venue, however, Reykjavik is a small city so most hotels in the city are walkable to the conference venue.</p>

      </div>
    </div>
  </div>
</div>

<div id="invitation-letters-and-visas" class="homepage-section">
  <div class="container">
    <h2>Invitation letters &amp; visas</h2>
    <div class="row">
      <div class="col-sm-8">

        <h3>Conference policy</h3>
        <p>If you need a travel visa to Iceland, we will be glad to issue an invitation letter to support your visa application. If you require a visa, it is recommended you apply for one at least six weeks before you travel. <strong>Invitation letters will only be issued once your registration and payment have been completed.</strong> Invitation letters will be sent by e-mail. In order to request an invitation letter, please <a href="mailto:tictec@mysociety.org">e-mail us</a> with the following data:</p>

<ul>
  <li>a good-quality scan of your passport (.pdf or image format)</li>
  <li>surname/family name and given names, exactly as they appear in your passport</li>
  <li>contacts: e-mail and phone number</li>
  <li>affiliation/organisation: name, address, country, and the position you hold/occupy</li>
  <li>any additional information you may think is relevant to your application</li>
</ul>

        <h3>General information</h3>
        <p>Iceland has fully implemented the <a href="http://utl.is/index.php/en/schengen-area">Schengen Agreement</a> since March 25th, 2001.</p>
        <p>Citizens of <a href="http://utl.is/index.php/en/who-needs-a-visa">these countries</a> need a visa.</p>
        <p>Nationals of <a href="http://utl.is/index.php/en/who-does-not-need-a-visa">these countries</a> do not need a visa.</p>
        <p>If you need a visa, <a href="http://utl.is/index.php/en/where-you-can-apply-for-a-visa">here is where you can apply for it.</a></p>
        <p>The basic requirements for a visa application are described in <a href="http://utl.is/index.php/en/application-basic-requirement">this page.</a></p>
        <p>The <a href="http://utl.is/index.php/en/?lang=en">Icelandic Directorate of Immigration</a> will have all the information you may need.</p>

      </div>
    </div>
  </div>
</div>

<div id="accessibility" class="homepage-section">
  <div class="container">
    <h2>Accessibility information</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>The conference venue is fully accessible for wheelchair users and provides a special infrared sound system for guests with hearing aids. Parking for disabled people is available next to the entry doors from the car park into the building. If you plan to attend TICTeC with a personal care attendant/assistant, their conference fee will be waived. Please contact Gemma Moulder on +44 (0)20 3239 0725 or via <a href="mailto:gemma@mysociety.org">email</a> to arrange the fee waiver/registration.</p>

        <p>If you need special requirements such as hearing loops, sign language interpreters, handouts in advance and/or in alternative formats such as Braille or large print etc, please contact Gemma Moulder on +44 (0)20 3239 0725 or via <a href="mailto:gemma@mysociety.org">email</a> with your request by close of business on 24th February 2020 so that arrangements, where possible, can be made. We will do our best to fulfil your requirements to allow you to fully participate in this event.</p>

      </div>
    </div>
  </div>
</div>
<div id="language" class="homepage-section">
  <div class="container">
    <h2>Language</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>The conference language is English. Sign language interpretation is available upon request (please submit by 24th February 2020 through the registration form).</p>

      </div>
    </div>
  </div>
</div>

<div id="code-of-conduct" class="homepage-section">
  <div class="container">
    <h2>Code of conduct</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>All attendees, speakers and sponsors at TICTeC conferences are required to agree with our <a href="https://www.mysociety.org/code-of-conduct/">code of conduct</a>, which sets out our anti-harassment policy and tells you where you can report violations. Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody. </p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
