{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}tictec{% endblock %}

{% block title %}TICTeC 2020{% endblock %}

{% block content %}
<div class="homepage-hero hero-iceland">
  <div class="container">
    <h1>TICTeC 2020</h1>
    <p class="lead">24 &amp; 25 March 2020</p>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <h1>TICTeC&rsquo;s going online</h1>
        <p>Join us for the first virtual Impacts of Civic Technology conference, TICTeC Online.</p>
        <h2>24 &amp; 25 March</h2>
        <p><b>Tues 24th:</b> 13:00 to 17:00 GMT &nbsp;
        <b>Weds 25th:</b> 13:00 to 17:10 GMT</p>
        <p><em>Joining TICTeC Online is free of charge.</em></p>
        <h2>How to get involved</h2>
        <p>Schedule and instructions for joining coming soon &mdash; watch this space.</p>
        <h2>Spread the word</h2>
        <p>Tell everyone they're welcome to join us online to watch some of civic tech's most inspiring and insightful speakers — and take part in the surrounding conversations.</p>



      </div>
      <div class="col-sm-3 col-sm-push-1">
        <p style="margin-top: 0.25em;">Sponsored by</p>

        <img src="{% static 'img/facebook.svg' %}" width="300" height="35" alt="Facebook" style="display: block; width: 100%; height: auto; max-width: 300px; margin-bottom: 1.5em; margin-top: 1.2em;">

        <a href="https://luminategroup.com"><img src="{% static 'img/luminate.svg' %}" width="300" height="75" alt="Luminate" style="display: block; width: 100%; height: auto; max-width: 300px; margin-bottom: 1.5em;"></a>

        <a href="https://google.com"><img src="{% static 'img/google.svg' %}" width="272" height="92" alt="Google" style="display: block; width: 100%; height: auto; max-width: 300px; margin-bottom: 0.5em;"></a>

        <p>Supported by</p>

        <a href="https://www.citizens.is/"><img src="{% static 'img/citizens-foundation.jpg' %}" width="648" height="392" alt="Citizens Foundation" style="width: 66.666%; height: auto; max-width: 244px; margin-bottom: 1em;"></a>

      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“The size of TICTeC has always been manageable and lends itself well to deeper conversations than huge global conferences”</em></p>
          <p>— Nicola Anand, formerly Reboot and The Engine Room</p>
      </div>

      <div class="col-sm-6">
          <p><em>“Many ideas and references from these TICTeC sessions have been essential in generating the framework for my current research”</em></p>
            <p>— Pablo Aragón, Universitat Pompeu Fabra</p>
      </div>

    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-4.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--secondary">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
            <p><em>“Each year, I can count on TICTeC to expose me to a more global collection of civic tech work than I'd otherwise see and challenge me to rigorously consider the impact of my and my peers' work”</em></p>
          <p>— Matt Stempeck, Civic Hall</p>
        </div>

        <div class="col-sm-6">
            <p><em>“TICTeC has been a great way for me personally as a relatively new person in the field to get exposure to new ideas, connect with incredibly helpful people, and to generally learn about new trends from around the world.”</em></p>
              <p>— Eric Reese, Director, GovEx Academy, Centers for Civic Impact | Johns Hopkins University</p>
        </div>

      </div>
    </div>
  </div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/iceland-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/iceland-4.jpg' %}" width="800" height="400" alt="">
</div>

{% endblock %}
