{% load staticfiles %}
{% load staticfiles %}
<p class="homepage-hero__details">November 18th 2016 <span class="homepage-hero__details__divider">/</span> New York University, NYC</p>
<p class="homepage-hero__subtitle">
  Fairness, Accountability, and Transparency <span class="homepage-hero__subtitle__theme">in Machine Learning</span>
</p>
<p class="homepage-hero__details">
  Co-located with the <a href="http://dtlconferences.org/">Data Transparency Lab Conference</a> and the <a href="http://datworkshop.org/">Workshop on Data and Algorithmic Transparency</a>
</p>
<p class="homepage-hero__details">
A livestream of the workshop is available at <a href="http://law.nyu.edu/livestreamb">http://law.nyu.edu/livestreamb</a> and a recording
will be available after the event.
</p>
