<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {% if schedule.slug == '2017' %}
        TICTeC 2017: Florence
    {% elif schedule.slug == 'taipei' %}
        TICTeC@Taipei
    {% elif schedule.slug == '2018' %}
        TICTeC 2018: Lisbon
    {% elif schedule.slug == '2019' %}
        TICTeC 2019: Paris
    {% elif schedule.slug == 'local-2019' %}
        TICTeC Local 2019
    {% else %}
        TICTeC
    {% endif %}
    <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li{% if schedule.slug == 'local-2019' %} class="active"{% endif %}><a href="{% url 'local-2019' %}">TICTeC Local 2019</a></li>
    <li{% if schedule.slug == '2019' %} class="active"{% endif %}><a href="{% url 'schedule2019summary' %}">TICTeC 2019: Paris</a></li>
    <li{% if schedule.slug == '2018' %} class="active"{% endif %}><a href="{% url 'schedule2018summary' %}">TICTeC 2018: Lisbon</a></li>
    <li{% if schedule.slug == 'taipei' %} class="active"{% endif %}><a href="{% url 'scheduletaipeisummary' %}">TICTeC@Taipei</a></li>
    <li{% if schedule.slug == '2017' %} class="active"{% endif %}><a href="{% url 'schedule2017summary' %}">TICTeC 2017: Florence</a></li>
    <li><a href="https://www.mysociety.org/research/tictec-2016/">TICTeC 2016: Barcelona</a></li>
    <li><a href="https://www.mysociety.org/research/tictec2015/">TICTeC 2015: London</a></li>
  </ul>
</li>

{% if schedule.slug == '2017' %}

<li><a href="{% url 'schedule2017summary' %}">Summary</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">List of Speakers</a></li>

{% elif schedule.slug == '2018' %}

<li><a href="{% url 'schedule2018summary' %}">Summary</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">List of Speakers</a></li>

{% elif schedule.slug == '2019' %}

<li><a href="{% url 'local-2019' %}">TICTeC Local 2019</a></li>
<li><a href="{% url 'schedule2019summary' %}">Summary</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">List of Speakers</a></li>

{% elif schedule.slug == 'local-2019' %}

<li><a href="{% url 'local-2019' %}">Summary</a></li>
<li><a href="{% url 'sponsorship' %}">Sponsorship</a></li>
<li><a href="{% url 'press' %}">Press Enquiries</a></li>

{% endif %}
