{% load staticfiles %}
<p class="homepage-hero__details">November 18th 2016 <span class="homepage-hero__details__divider">/</span> New York University, NYC</p>
<p class="homepage-hero__subtitle">
  Fairness, Accountability, and Transparency <span class="homepage-hero__subtitle__theme">in Machine Learning</span>
</p>
<p class="homepage-hero__details">
  Co-located with the <a href="http://dtlconferences.org/">Data Transparency Lab Conference</a> and the <a href="http://datworkshop.org/">Workshop on Data and Algorithmic Transparency</a>
</p>
<a href="https://www.eventbrite.com/e/co-located-workshop-fat-mldtl-workshop-on-fairness-accountability-and-transparency-in-machine-registration-27674218332"
   class="btn btn-primary btn-lg btn--tickets">
  Join waitlist
  <i class="glyphicon glyphicon-new-window"></i>
  {{ tickets_button_tagline }}
</a>