{% load staticfiles %}
<p class="homepage-hero__details">July 7th, Skirball Center for the Performing Arts, New York City</p>
<h2 class="homepage-hero__title">
  <img src="{% static 'img/ainow-hero-logo.png' %}"
       srcset="{% static 'img/ainow-hero-logo.svg' %} 1x"
       alt="Artificial Intelligence Now"
       height="35" width="115">
</h2>
<p class="homepage-hero__subtitle">
  The Social and Economic Implications of Artificial Intelligence
  Technologies in the Near-Term
</p>
<a href="http://nyuskirball.org/calendar/ainow"
   class="btn btn-primary btn-lg btn--tickets">
  Book your ticket
  <i class="glyphicon glyphicon-new-window"></i>
  {{ tickets_button_tagline }}
</a>