{% load staticfiles %}
<p class="homepage-hero__details">November 18th, Columbia University, NYC</p>
<h2 class="homepage-hero__title">
  <img src="{% static 'img/fatml-hero-logo.png' %}"
       srcset="{% static 'img/fatml-hero-logo.svg' %} 1x"
       alt="FAT ML 2016"
       height="30" width="232">
</h2>
<p class="homepage-hero__subtitle">
  Fairness, Accountability, and Transparency in Machine Learning
</p>
<a href="#"
   class="btn btn-primary btn-lg btn--tickets">
  Book your ticket
  <i class="glyphicon glyphicon-new-window"></i>
  {{ tickets_button_tagline }}
</a>