<li><a href="{% url 'attendees' schedule.slug %}">Attendees &amp; Speakers</a></li>

<!--<li><a href="{# url 'themes' schedule.slug #}">Sessions info</a></li>-->

<li><a href="{% url 'schedule' schedule.slug %}">Program</a></li>

<li><a href="{% url 'schedule' schedule.slug %}/page/prep-guide-experts-workshop">Prep Guide</a></li>

<li><a href="{% url 'schedule' schedule.slug %}/page/draft-report">Draft Report</a></li>

<!--<li><a href="{% url 'faq' schedule.slug schedule.slug %}">FAQ</a></li>-->
