{% if schedule.slug == '2017' %}
<li><a href="{% url 'page' schedule.slug 'call-for-papers-2017' %}">Call for Papers</a></li>
<li><a href="{% url 'page' schedule.slug 'attend-2017' %}">Attend</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">Speakers</a></li>
<li><a href="{% url 'organisers' schedule.slug %}">Organizers</a></li>
<li><a href="{% url 'page' schedule.slug 'papers-2017' %}">Papers</a></li>
{% elif schedule.slug == '2016' %}
<li><a href="{% url 'page' schedule.slug 'call-for-papers' %}">Call for Papers</a></li>
<li><a href="{% url 'page' schedule.slug 'attend' %}">Attend</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">Speakers</a></li>
<li><a href="{% url 'page' schedule.slug 'papers' %}">Papers</a></li>
<li><a href="{% url 'organisers' schedule.slug %}">Organizers</a></li>
{% else %}
<li><a href="{% url 'page' schedule.slug 'scope' %}-{{ schedule.slug}}">Scope</a></li>
{% if schedule.slug != '2014' %}
<li><a href="{% url 'page' schedule.slug 'call-for-papers' %}-{{ schedule.slug}}">Call for Papers</a></li>
{% endif %}
<li><a href="{% url 'page' schedule.slug 'attend' %}-{{ schedule.slug}}">Attend</a></li>
<li><a href="{% url 'schedule' schedule.slug %}">Schedule</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">Speakers</a></li>
{% if schedule.slug != '2014' %}
<li><a href="{% url 'page' schedule.slug 'papers' %}-{{ schedule.slug}}">Papers</a></li>
{% endif %}
<li><a href="{% url 'organisers' schedule.slug %}">Organizers</a></li>
{% endif %}
<!-- <li><a href="{% url 'attendees' schedule.slug %}">Attendees</a></li>
<li><a href="{% url 'speakers' schedule.slug %}">Speakers</a></li> -->
