{% load staticfiles %}
{% load pipeline %}
{% load account_tags %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="52xRZ6pqi798OgvV-LbwGLfaZiFDYCD0j5fl_WME7T0" />

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" sizes="64x64"type="image/png" href="{% static 'img/favicon-64.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/touch-icon-192x192.png' %}">

    <title>{% block fulltitle %}{% block title %}{% endblock %} :: TICTeC{% endblock %}</title>

    <meta name="viewport" content="width=device-width">

    {% block headerextra %}{% endblock %}

    {% stylesheet 'main' %}

    <!-- Replace the no-js class with js -->
    <script>
      (function(H){
        H.className = H.className.replace(/\bno-js\b/,'js')
      })(document.documentElement);
    </script>

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', {'storage': 'none'});
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
      </script>
    {% endif %}

  </head>
  <body class="{% block bodyclasses %}{% endblock %}">
    <div class="site-bg">


    <nav class="site-header navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-header-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/tictec-logo.png' %}"
               srcset="{% static 'img/tictec-logo.svg' %} 1x"
               alt="TICTeC Conference"
               height="48" width="42">
           </a>
        </div>
        <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="site-header-nav">
          <ul class="nav navbar-nav" role="navigation">
            {% include 'ainow/_nav.html' %}
          </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    </div> <!-- site-bg -->
    <div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <h2 class="mysoc-footer__site-name">TICTeC</h2>
                <div class="mysoc-footer__site-description">
                    <p>TICTeC supports the mission of the non-profit mySociety by bringing together practitioners, commentators, academics and funders to debate, network, and share research and knowledge in the civic tech field.</p>
                    {% if schedule.slug == '2019' %}<p><small><a href="https://www.flickr.com/photos/parksjd/24175721610/">Paris photo</a> by <a href="https://www.flickr.com/photos/parksjd/">Joe Parks</a></small></p>{% endif %}
                </div>
            </div>

            <div class="col-sm-4">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="/">About</a></li>
                        <li role="presentation"><a href="{% static 'guide-2019.pdf' %}">Guide to TICTeC</a></li>
                        <li role="presentation"><a href="https://www.mysociety.org/research/">Research at mySociety</a></li>
                        <li role="presentation"><a href="https://groups.google.com/forum/?hl=en#%21forum/tictecbymysociety">TICTeC Google Group</a></li>
                    </ul>
                    <ul>
                        <li role="presentation"><a href="{% url 'press' %}">Press</a></li>
                        <li role="presentation"><a href="https://www.mysociety.org/code-of-conduct/">Code of Conduct</a></li>
                        <li role="presentation"><a href="{% url 'privacy' %}">Privacy</a></li>
                        <li role="presentation"><a href="{% url 'environmental_policy' %}">Environmental Policy</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate?utm_source=tictec.mysociety.org&amp;utm_content=footer+donate+now&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-5">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Event by
                        <a href="https://www.mysociety.org?utm_source=tictec.mysociety.org&amp;utm_content=footer+logo&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-footer__legal">
                    <p>
                        <a href="https://www.mysociety.org?utm_source=tictec.mysociety.org&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=mysoc_footer">mySociety</a> 
                      is a registered charity in England and Wales (1076346)
                      and a limited company (03277032). We provide commercial services through our wholly owned subsidiary
                      <a href="https://www.societyworks.org?utm_source=tictec.mysociety.org&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=mysoc_footer">SocietyWorks Ltd</a> (05798215).
                    </p>
                    {% block footerlegal %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-sm-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://www.twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://www.facebook.com/mySociety/" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

    {% javascript 'app' %}
  </body>
</html>
