{% load staticfiles %}
{% load pipeline %}
{% load account_tags %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="52xRZ6pqi798OgvV-LbwGLfaZiFDYCD0j5fl_WME7T0" />

    <title>{% block fulltitle %}{% block title %}{% endblock %} :: AI Now{% endblock %}</title>

    <meta name="viewport" content="width=device-width">

    {% stylesheet 'main' %}

    <!-- Replace the no-js class with js -->
    <script>
      (function(H){
        H.className = H.className.replace(/\bno-js\b/,'js')
      })(document.documentElement);
    </script>

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </head>
  <body class="{% block bodyclasses %}{% endblock %}">
    <div class="site-bg">

    <nav class="site-header navbar navbar-default {% if schedule.slug == 'workshop' %}site-header--gray{% endif %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-header-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/ainow-header-logo.png' %}"
               srcset="{% static 'img/ainow-header-logo.svg' %} 1x"
               alt="Artificial Intelligence Now"
               height="21" width="69">
           </a>
        </div>
        <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="site-header-nav">
          <ul class="nav navbar-nav" role="navigation">
            {% include 'ainow/_nav.html' %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a class="dropdown-toggle" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                  {% user_display request.user %}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
                  {% include 'account/_logged_in_nav_short.html' %}
                </ul>
              </li>
            {% else %}
              <li>
                {% include 'account/_signup_nav.html' %}
              </li>
            {% endif %}
          </ul>
        </div>
    </nav>

    {% if schedule.slug == 'workshop' and request.user.is_authenticated %}
    <nav class="workshop-navbar navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#workshop-header-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  href="{% url 'workshop_home' %}">Workshop</a>
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="workshop-header-nav">
          <ul class="nav navbar-nav" role="navigation">
            {% include 'ainow/_workshop-nav.html' %}
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    {% if schedule.slug == 'workshop' %}
    <header class="sub-header">
      {% if messages %}
        <div class="container">
          {% include 'ainow/_messages.html' %}
        </div>
      {% endif %}
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}
    </div> <!-- site-bg -->
    <footer class="site-footer" role="footer">
      <div class="container">
        <div class="row">

          <div class="site-footer__utility-links">
            <ul class="utility-links__list">
              <li><a href="{% url 'page' schedule.slug 'privacy' %}">Privacy</a></li>
              <li>For information and questions: <a href="mailto:info@artificialintelligencenow.com">info@artificialintelligencenow.com</a></li>
            </ul>
          </div>

          <div class="site-footer__partner-logos">
            <div class="site-footer__partner-logos__logoset site-footer__partner-logos__logoset--a">
              <a href="https://www.whitehouse.gov/administration/eop/ostp"><img src="{% static 'img/potus.png' %}" alt="Executive Office of the President of the United States, Office of Science and Technology Policy" class="partner-logo"/></a>
            </div>
            <div class="site-footer__partner-logos__logoset site-footer__partner-logos__logoset--b">
              <a href="http://www.law.nyu.edu/centers/ili"><img src="{% static 'img/nyu-ili.png' %}" alt="New York University, Information Law Institute" class="partner-logo"/></a>
            </div>

          </div>
        </div>
      </div>
    </footer>

    {% javascript 'app' %}
  </body>
</html>
