{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Environmental policy{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container standard-layout standard-layout--narrow">
    <div class="general-content__page">
      <div class="row">
        <div class="standard-layout__primary-column">

<h1 style="max-width: 14em">Reducing TICTeC’s environmental impact</h1>

<p>TICTeC, our Impacts of Civic Technology Conference, is a global gathering of those interested in building digital civic and democratic tools, and those researching their effectiveness. Learnings at TICTeC have led to the improvement of civic technologies, some of which ultimately improve democracies, strengthen marginalised voices and even save lives.</p>

<p>We run TICTeC every year, and really believe in its benefits; but like all global conferences, it inevitably has an impact on the environment. As with almost every activity, in every sector, the environmental impact versus the good that it does can not be seen in black and white.</p>

<p>We strongly believe in TICTeC’s mission and think in-person gatherings of those working on and researching civic tech like TICTeC are vital to civic tech's development around the world. Ultimately, many civic tech tools are designed to help citizens hold power to account and to shine light on corrupt behaviour and practices, and TICTeC is all about the improvement of these tools so they are more effective. We believe holding power to account is one of the best ways to tackle global challenges such as the climate emergency, so will continue to bring together the global community developing tools that help with this.</p>

<p>We want to reduce and minimise the negative environmental impact of TICTeC 2020 and beyond; so below are some of the things we have already implemented and some things we plan to do.</p>

<h2>Carbon offsetting</h2>

<p>A global gathering of people from over 30 countries of course means some attendees will have to fly, therefore emitting carbon into the atmosphere. So we have been looking into carbon offsetting schemes to offset the flights mySociety purchases for staff and TICTeC travel grantees. After research and discussions within the team, we have decided to offset the flights we purchase for TICTeC by buying offset activities from <a href="https://www.goldstandard.org/get-involved/make-an-impact">Gold Standard</a>, a climate offset certification body established by the WWF and other NGOs. mySociety's internal Climate Action Group will review this every year. We’d encourage TICTeC attendees to consider carbon offsetting as well.</p>

<h2>Prioritising environmentally friendly venues</h2>

<p>When selecting venues for TICTeC we prioritise ones that have robust environmental policies in place — like recycling as much material as they can and using renewable energy. We raise environmental questions and concerns with all venues we consider in order to make them aware that environmental considerations are important to venue hirers.</p>

<h2>Serving the most environmentally-friendly food</h2>

<p>We will choose to serve delegates at TICTeC and other mySociety events the most environmentally-friendly food options available. As it is widely reported that meat production is detrimental to the environment, we will choose to serve delegates vegetarian and vegan food first and foremost, unless we have evidence that local meat, fish and dairy products are the more sustainable option. We will of course try to work with caterers who can provide us with this information wherever possible, so we can make the best choices and encourage the industry to routinely think about the sustainability of their products.</p>

<h2>Maximising in-person contact</h2>

<p>To maximise the purpose/return for attendees’ mileage from around the world, we will host more networking opportunities for TICTeC attendees, so more collaborations and conversations can happen. We all know these conversations are super valuable and wouldn’t necessarily happen if attendees weren’t all in the same room together. When you sign up for TICTeC events you’ll be asked if you’d like to be involved in dedicated networking sessions.</p>

<h2>Encouraging side events</h2>

<p>If you are planning to attend TICTeC, please do consider if you can organise your own events the day(s) before and after TICTeC, rather than asking the same attendees to travel again to another meeting point. This will help reduce carbon emissions from flying. We can help you promote the event if you decide to do this.</p>

<h2>No more conference ‘swag’</h2>

<p>As a charity, we’ve never really had a big budget for conference giveaways, but regardless of this, we think giving out unsolicited branded ‘swag’ is just an unnecessary use of resources (and of course our precious budget) - so we’re not going to do it. This means no more pens, notepads, folders etc - we are sure if attendees really need these things, they will bring their own. Instead, at some TICTeC events we will offer delegates 'greener' things like headshots taken by a professional photographer.</p>

<h2>Going paperless</h2>

<p>In the past, we have given out printed agenda and speaker directory documents at TICTeC events. We will no longer be doing this and will encourage attendees to use the online versions instead. We will also send attendees a PDF document of the agenda and speaker directory before the conference, so they can download it onto their phones - this will help those people who might not be able to access data or the internet during the conference.</p>

<p>Any paper we do use (e.g. for name badges, signage etc), will be recycled.</p>

<h2>Reusing</h2>

<p>For years now we have reused conference items each year to save costs and resources - this includes things like name badges, lanyards, roll up banners etc. We will continue doing this and will further encourage attendees to hand back their name badges and lanyards at the end of the conference so they can be reused.</p>

<h2>Providing guidance</h2>

<p>Ahead of TICTeC events we will provide attendees with guidance on some of the things they can do during the event to help reduce their environmental impact.</p>

<h2>Future locations</h2>

<p>We will host future TICTeC conferences in a place accessible by rail and sea rather than just air, and we’ll look into options to host it alongside other relevant existing conferences.</p>

<hr>

<p>We know our efforts above are not perfect - and we’re nowhere near to hosting a carbon-neutral event at this stage, but this is just the start of our journey of working out how to do that, so please bear with us and do feel free to make suggestions.</p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
