{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-hero">
  <div class="container">
    <h1>The Impacts of Civic Technology Conference 2017</h1>
    <p class="lead">Come and join us in Florence. 25 and 26 April 2017.</p>
    <p><a href="https://www.eventbrite.co.uk/e/the-impacts-of-civic-technology-conference-2017-tictec2017-tickets-28255338478" target="_blank" class="btn btn-primary btn-large">Register now</a></p>
  </div>
</div>

<div id="about" class="homepage-summary">
  <div class="container">
    {{ intro_block }}
  </div>
</div>

<div id="call" class="homepage-call">
  <div class="container">
    {{ call_block }}
  </div>
</div>

<div id="registration" class="homepage-tickets">
  <div class="container">
    {{ tickets_block }}
  </div>
</div>

<div id="florence" class="homepage-florence">
  <div class="container">
    {{ florence_block }}
  </div>
</div>

<div id="inspired" class="homepage-inspired">
  <div class="container">
    {{ inspired_block }}
  </div>
</div>

{% endblock %}
