{% extends 'theme/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-hero">
  <div class="container">
    {% if pre_conference %}
      {% include 'theme/_tickets-hero.html' %}
    {% elif show_livestream %}
      {% include 'theme/_livestream-hero.html' %}
    {% elif post_conference %}
      {% include 'theme/_post-event-hero.html' %}
    {% endif %}
  </div>
</div>

<div class="homepage-description">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>This heading will describe the scope and motivation</h2>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <p>This text will go into a bit more detail about why this conference is being held, and why people should attend. This text will go into a bit more detail about why this conference is being held, and why people should attend.</p>
        <p>This text will go into a bit more detail about why this conference is being held. This text will go into a bit more detail about why this conference is being held, and why people should attend. This text will go into a bit more detail about why people should attend.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
