{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-hero hero-2018">
  <div class="container">
    <h1>TICTeC</h1>
    <p class="lead">The Impacts of Civic Technology Conference<br>
    From mySociety</p>
  </div>
</div>

<div id="blurb" class="homepage-section homepage-section--secondary">
  <div class="container">
    TICTeC is an annual milestone in the Civic Tech world, bringing together researchers, practitioners, and anyone with an interest in how technology is changing the way we engage with society.
  </div>
</div>

<div id="video" class="homepage-section">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/dSW5zb8le00" frameborder="0" allowfullscreen></iframe>

      </div>

      <div class="col-sm-6">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/FmrxgZA0CFU?list=PLMbWpADzhTC5CzktRe6JBD1WJAdNCrYU0" frameborder="0" allowfullscreen></iframe>

      </div>

    </div>

  </div>

</div>

<div id="quotes" class="homepage-section homepage-section--secondary">
  <div class="container">

    <div class="row">

      <div class="col-sm-6">

      <p><em>“TICTeC is a crucial milestone in the development of civic tech and open government, because it takes stock of what we know, what works, and how.”</em>
      <br>
      — Stefaan Verhulst, The GovLab @ New York University</p>

      <hr style="border-color:#FFF;border-width:2px">

      <p><em>“TICTeC is the best concentration of practitioners, academics, and thinkers in this field that I've come across anywhere.”</em>
      <br>
      — Fran Perrin, Indigo Trust</p>

      </div>

      <div class="col-sm-6">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Facebook team say <a href="https://twitter.com/hashtag/tictec?src=hash">#tictec</a> is the most important conference in the world for <a href="https://twitter.com/hashtag/civitech?src=hash">#civitech</a> Nice work <a href="https://twitter.com/mysociety">@mysociety</a></p>&mdash; Amelia Loye (@Emotivate) <a href="https://twitter.com/Emotivate/status/856842708199014400">April 25, 2017</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>
  </div>
</div>

<div id="future" class="homepage-section">
  <div class="container">

    <h2>TICTeC in the Future</h2>

    <h3>April 2018</h3>

    <p>Join us in April next year: <a href="http://eepurl.com/7J2Rf">subscribe to our newsletter</a> and we’ll let you know as soon as we’re open for booking.</p>
  </div>
</div>

<div id="past" class="homepage-section">
  <div class="container">

    <h2>TICTeC in the Past</h2>

    <h3><a href="{% url 'schedule2017summary' %}">TICTeC 2017</a></h3>

    <p>Everything from TICTeC 2017, which took place in Florence, Italy.</p>

    <div class="row">

      <div class="col-sm-6">

        <h3><a href="https://www.mysociety.org/research/tictec-2016/">TICTeC 2016</a></h3>

        <p>Access slides, transcripts, videos and more from our Barcelona conference of April 2016.</p>

      </div>

      <div class="col-sm-6">

        <h3><a href="https://www.mysociety.org/research/tictec2015/">TICTeC 2015</a></h3>

        <p>The first TICTeC was a one-day conference in London, UK. See the talks and materials here.</p>

      </div>

    </div>

  </div>
</div>

{% endblock %}
