{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block headerextra %}
<meta property="og:title" content="TICTeC Local 2019" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tictec.mysociety.org/local/2019" />
<meta property="og:image" content="https://tictec.mysociety.org/static/img/local-og.jpg" />
{% endblock %}

{% block bodyclasses %}tictec-local{% endblock %}

{% block title %}TICTeC Local 2019{% endblock %}

{% block content %}
<div class="homepage-hero hero-local">
  <div class="container">
    <h1>TICTeC Local 2019</h1>
    <h2>Exploring Civic Tech in Local Communities</h2>
    <p class="lead">Friday November 1 2019, City Hall, London</p>
    <ul class="list-inline">
      <li><a href="https://www.eventbrite.co.uk/e/tictec-local-2019-tickets-60474204975" class="btn btn-lg btn-primary">Register</a></li>
      <li><a href="https://forms.gle/TYTvkG6obBEfGCBBA" class="btn btn-lg btn-default">Apply to Present</a></li>
    </ul>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <p class="lead">TICTeC Local is the annual conference from mySociety that focuses directly on the use of Civic Tech in communities and local government.</p>

        <p>What are the digital innovations that are helping local communities and local government to foster citizen engagement, drive efficiency, and combat social and environmental problems?</p>

        <p><b>Join us at City Hall in London this November to find out.</b> TICTeC Local will bring together attendees from across the public and private sector, academia and civil society for a day of inspiring presentations and knowledge-sharing that will help you forge connections, take home new ideas, and bring increased energy to the challenges ahead.</p>

        <p>TICTeC Local is part of mySociety’s global The Impacts of Civic Technology Conference (TICTeC) series, which has been examining Civic Tech at the local, national and global levels since 2015. TICTeC Local narrows the lens, focusing on where and how Civic Tech connects with and impacts local communities and local government.</p>

        <p><a href="{% url 'local-2018' %}">See resources from last year’s event</a> to get a taste of TICTeC Local.</p>

        <p><a href="http://eepurl.com/dG4scX">Sign up for updates</a> and we’ll let you know when speakers are announced. Speaker and agenda details will be added to this page soon.</p>

      </div>
    </div>
  </div>
</div>

<div id="call-for-proposals" class="homepage-section">
  <div class="container">
    <h2>Call for proposals</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>We invite you to <a href="https://forms.gle/TYTvkG6obBEfGCBBA">submit presentation abstracts or workshop proposals</a> of no more than 300 words by <b>midnight GMT+1 on 6 September 2019</b>.</p>

        <p>Presentation submissions should focus on specific digital innovations that are helping local communities and/or public authorities to foster citizen engagement/participation, drive efficiency, and combat social and environmental problems. We welcome examples from across the UK or around the world, but the focus must be on local government or communities. We will prioritise submissions that focus on the specific <b>impacts</b> of these digital innovations, rather than those that simply showcase new tools that are as yet untested. Workshop proposals should also be strictly relevant to the conference theme.</p>

        <p>Those selected for inclusion in the conference programme will be notified no later than <b>Friday 13 September 2019</b>.</p>

        <p>Presenters will be required to register for the conference by <b>midnight GMT+1 on Friday 27 September 2019</b> in order to confirm their speaking slot (the registration fee will be waived for individuals presenting).</p>

        <p>To submit your presentation or workshop proposal please <a href="https://forms.gle/TYTvkG6obBEfGCBBA">fill in this form</a> by <b>midnight GMT+1 on 6 September 2019</b>.</p>

        <p><a href="https://forms.gle/TYTvkG6obBEfGCBBA" class="btn btn-primary">Apply now</a></p>

      </div>
    </div>
  </div>
</div>

<div id="register" class="homepage-section">
  <div class="container">
    <h2>Registration</h2>
    <div class="row">
      <div class="col-sm-8">

        <p><a href="https://www.eventbrite.co.uk/e/tictec-local-2019-tickets-60474204975" class="btn btn-lg btn-primary">Register now</a></p>

        <p>Please note that you must register by midnight on <b>31 October 2019</b> to be admitted to the conference. The fee includes your conference pass, lunch and refreshments.</p>

        <h3>Early Bird registration</h3>

        <p>Register on or before <b>13 September 2019</b> for a 25% discount on ticket prices.</p>

        <h3>Civil society and academic organisations</h3>

        <p>Early Bird registration: £75<br>
        Regular registration: £100</p>

        <h3>Private sector organisations</h3>
        <p>Early Bird registration: £150<br>
        Regular registration: £200</p>

        <h3>Public sector staff</h3>

        <p>Attendance for public sector staff is <b>free</b>, but <a href="https://www.eventbrite.co.uk/e/tictec-local-2019-tickets-60474204975">registration on Eventbrite</a> is still obligatory.</p>

      </div>
    </div>
  </div>
</div>

<div id="accessibility" class="homepage-section">
  <div class="container">
    <h2>Accessibility information</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>The conference venue is fully accessible for wheelchair users. If you plan to attend TICTeC Local with a personal care attendant/assistant, their conference fee will be waived. Please contact Gemma Moulder on +44 (0)20 3239 0725 or via <a href="mailto:gemma@mysociety.org">email</a> to arrange the fee waiver/registration.</p>

        <p>If you need special requirements such as hearing loops, sign language interpreters, handouts in advance and/or in alternative formats such as Braille or large print etc, please contact Gemma Moulder on +44 (0)20 3239 0725 or via <a href="mailto:gemma@mysociety.org">email</a> with your request by close of business on 1 October 2019 so that arrangements, where possible, can be made. We will do our best to fulfil your requirements to allow you to fully participate in this event.</p>

      </div>
    </div>
  </div>
</div>

<div id="sponsorship" class="homepage-section homepage-section--secondary">
  <div class="container">
    <h2>Sponsorship opportunities</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>mySociety is a charity and relies on sponsorship and ticket sales to make events like TICTeC and TICTeC Local happen. If you're interested in hearing about sponsorship opportunities at TICTeC Local or TICTeC events then please <a href="mailto:gemma@mysociety.org">get in touch with Gemma Moulder</a> to discuss further.</p>

      </div>
    </div>
  </div>
</div>

<div id="faq" class="homepage-section">
  <div class="container">
    <h2>FAQs</h2>
    <div class="row">
      <div class="col-sm-8">

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header">What is Civic Tech?</h3>

          <div class="js-faq-accordion--body">
            <p>The field of Civic Tech is growing across the globe, often at a grassroots level — and yet, to those outside its network, the term can be unfamiliar. You will often see ‘Civic Tech’ mentioned along with sister buzzwords like ‘smart cities’, ‘e-gov’, ‘govtech’, ‘ICT4D’ and ‘Tech For Good’, to name but a few.</p>

            <p>Civic Tech embraces all digital tools that enable citizens to easily and effectively engage with civic life, whether that is reporting an issue to a local authority, engaging with elected representatives or monitoring the use of community assets.</p>

            <p>At its most effective, Civic Tech can save lives, protect environments, and mobilise citizen task forces in times of crisis. At a useful if less dramatic level, it can save time and money for governments, improve neighbourhoods and keep residents informed.</p>

            <p>Civic Tech is often — but not exclusively — built by non-profit organisations working for a better, more representative, democratic or functional society. The result is often open source ‘tech for good’ software that is free or cheap to implement.</p>
          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header">Is TICTeC Local for me?</h3>

          <div class="js-faq-accordion--body">

            <p>If you’re interested in or work with digital technologies to improve local communities and their public authorities, then yes.</p>

            <p>TICTeC Local will have a range of speakers covering a wide range of topics relevant to participation, efficiency, customer service, digital, information services and general governance.</p>

          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header">What happens at TICTeC Local?</h3>

          <div class="js-faq-accordion--body">

            <ul>
              <li>Practitioners, researchers and representatives showcase inspiring Civic Tech tools and projects that service local communities in the UK and beyond, with discussions on what makes them work and how</li>
              <li>A chance to take stock of the Civic Tech landscape in the UK and what barriers there are to its progress</li>
              <li>Panels and discussions around Civic Technology projects: the ethics, finances, and other practicalities of their implementation</li>
              <li>Practical takeaways that you can take back and implement in your own strategies</li>
            </ul>

            <p><b>Return to this page to see the agenda as it is finalised.</b></p>

          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header">What will I get from TICTeC Local?</h3>

          <div class="js-faq-accordion--body">

            <p><b>You will not get</b> sales pitches, technical talk that only experts could understand, or high-concept presentations with no relevance to your own daily work.</p>

            <p>TICTeC Local aims to build a bridge between the people that make digital tools for the public good, the people that use them and the people that examine their impact.</p>

            <p>We believe that too often digital tools are built in isolation from the organisations that buy them, and the citizens that use them, and because of this everyone’s experience is the poorer.</p>

            <p>At TICTeC Local, we’ll change that and bring down some of those barriers to discuss what really works. You will leave inspired by some of our showcased projects, you’ll have a better understanding of the most effective digital tools, and you’ll have met interesting people who are on a similar journey, or who might be able to help you in developing your digital capacity in the future.</p>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
