{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block headerextra %}
<meta property="og:title" content="TICTeC Local" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tictec.mysociety.org/local" />
<meta property="og:image" content="https://tictec.mysociety.org/static/img/local-og.jpg" />
{% endblock %}

{% block title %}TICTeC Local{% endblock %}

{% block content %}
<div class="homepage-hero hero-local">
  <div class="container">
    <h1>TICTeC Local</h1>
    <h2>Where Civic Tech meets Local Government</h2>
    <p class="lead">Tuesday 6th November 2018, The Federation, Manchester</p>
    <ul class="list-inline">
      <li><a href="https://www.eventbrite.co.uk/e/tictec-local-tickets-49932889617" class="btn btn-large btn-default btn-primary">Tickets</a></li>
      <li><a href="#agenda" class="btn btn-large btn-default">Agenda</a></li>
    </ul>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <h3 style="max-width: 20em;">One day of inspiring talks and presentations that will have you buzzing with new ideas</h3>
    <div class="row">
      <div class="col-sm-8">
        <p>TICTeC, now in its fifth successful year, is recognised globally as the most important conference for the understanding of <a href="https://en.wikipedia.org/wiki/Civic_technology">Civic Technology</a>.</p>
        <p>Now <strong>TICTeC Local</strong> brings the same winning formula to the municipal level.</p>
        <p>This event will narrow the lens, focusing on where and how civic tech connects with and impacts Local Government, rather than the international focus we have with our global TICTeC events.</p>
        <p>We’ll be examining what works and why, the challenges and ethical decisions involved in using civic tech and how these initiatives can be replicated by local authorities around the UK.</p>
        <p>Join us as practitioners from the UK and beyond examine how digital tools can be deployed to improve civic participation, streamline citizen interaction with public bodies, enable citizen monitoring of public institutions, and create efficiencies in civic budgets.</p>
        <h3>What to expect</h3>
        <ul style="max-width: 32em;">
            <li>Practitioners, researchers and representatives from local government showcase inspiring Civic Tech tools and projects in the UK and beyond, with discussions on what makes them work and how</li>
            <li>A chance to take stock of the Civic Tech landscape in the UK and what barriers there are to its progress</li>
            <li>Panels and discussions around Civic Technology projects: the ethics, finances, and other practicalities of their implementation</li>
            <li>Practical takeaways that you can take back and implement in your own strategies</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary" id="speakers">
  <div class="container">
    <h2>Speakers include</h2>
    <ul class="attendee-list homepage-speakers">
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Alison McKenzie-Folan</h3>
          <p class="attendee__job-title">Deputy CEO and Digital Transformation Lead</p>
          <p class="attendee__org">Wigan Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Andrea Bowes</h3>
          <p class="attendee__job-title">Data and Information Systems Technical Architect</p>
          <p class="attendee__org">Lincolnshire County Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Beatrice Karol Burks</h3>
          <p class="attendee__job-title">Studio Director</p>
          <p class="attendee__org">FutureGov</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Carl Whistlecraft</h3>
          <p class="attendee__job-title">Head of Democracy</p>
          <p class="attendee__org">Kirklees Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Eddie Copeland</h3>
          <p class="attendee__job-title">Director of Government Innovation</p>
          <p class="attendee__org">Nesta</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Emer Coleman</h3>
          <p class="attendee__job-title">Digital Leader</p>
          <p class="attendee__org">The Federation</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Jon Alexander</h3>
          <p class="attendee__job-title">Co-founder</p>
          <p class="attendee__org">New Citizenship Project</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">José María Becerra González</h3>
          <p class="attendee__job-title">Consul Project</p>
          <p class="attendee__org">Madrid City Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Michelle Brook</h3>
          <p class="attendee__job-title">Managing Director (UK)</p>
          <p class="attendee__org">The Democratic Society</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Paul Maltby</h3>
          <p class="attendee__job-title">Chief Digital Officer</p>
          <p class="attendee__org">Ministry for Housing Communities and Local Government</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Sarah Drummond</h3>
          <p class="attendee__job-title">Co-founder and MD</p>
          <p class="attendee__org">Snook</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Theo Blackwell</h3>
          <p class="attendee__job-title">Chief Digital Officer</p>
          <p class="attendee__org">London</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="homepage-section" id="agenda">
  <div class="container schedule">
    <h2>Agenda</h2>
    <div class="row">
      <div class="col-sm-8">
        <p>
          The Defiant Space,
          <a href="http://www.thefederation.coop/find-us.html">The Federation</a>,
          Manchester,
          M4 4BF.
        </p>
        <p>
          Tuesday 6th November 2018.
        </p>
        <ul class="schedule__list js-schedule-accordion">

          {% for session in sessions %}
            <li class="schedule__slot">
              <div class="schedule-entry schedule-entry--{{ session.kind|slugify }}">

                <p class="schedule-entry__meta">
                  {{ session.start }}
                  {% if session.room %}
                    &middot; {{ session.room }}
                  {% endif %}
                </p>

              {% for presentation in session.presentations %}

                <h2 class="schedule-entry__title">
                    {{ presentation.title }}
                </h2>
                <ul class="schedule-entry__speaker">
                  {% for speaker in presentation.speakers %}
                    {% spaceless %}
                      {% if not speaker.tbc %}
                        <li>
                          {{ speaker.name }}
                          {% if speaker.organisation %}
                            <small class="schedule-entry__speaker__organisation">({% if speaker.role %}{{ speaker.role}}, {% endif %}{{ speaker.organisation }})</small>
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endspaceless %}
                  {% endfor %}
                </ul>
                {% if presentation.short_description %}
                  <div class="schedule-entry__description">
                    {{ presentation.short_description }}
                  </div>
                {% endif %}

              {% empty %}

                <h2 class="schedule-entry__title">{{ session.name }}</h2>
                {% if session.short_description %}
                  <div class="schedule-entry__description">
                    {{ session.short_description }}
                  </div>
                {% endif %}

              {% endfor %}

              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>

<div id="register" class="homepage-section homepage-section--secondary">
  <div class="container">
    <h2>Registration</h2>
    <p style="margin: 1.5em 0;"><a href="https://www.eventbrite.co.uk/e/tictec-local-tickets-49932889617" class="btn btn-large btn-default btn-primary">Register now</a></p>
    <div class="row">
      <div class="col-sm-8">
        <p>Tickets cost £100 for public sector, civil society and acaedmic attendees, and £200 for private sector attendees. Fee includes lunch and refreshments during the day.</p>
        <p>Thanks to the kind support of FutureGov, we have a set number of sponsored places for public sector attendees — at no cost. If you work in the public sector and can commit to attending please choose the 'Public Sector Sponsored Tickets' option on <a href="https://www.eventbrite.co.uk/e/tictec-local-tickets-49932889617#tickets">Eventbrite</a>. Please sign up using your council/public sector email address. Sponsored tickets can be claimed on a first come first served basis and we have the right to revoke your ticket if you are not a public sector worker and don't sign up with your council/authority email address.</p>
        <p>Please note that <strong>registration for the conference is essential</strong> in order to attend.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section-y">
    <div class="container">
      <h2>What will I get from TICTeC Local?</h2>
      <div class="row">
        <div class="col-sm-8">
          <p><strong>You will not get</strong> sales pitches, technical talk that only experts could understand, or high-concept presentations with no relevance to your own daily work.</p>
          <p>TICTeC Local aims to build a bridge between the people that make digital tools for the public good, the people that use them and the people that examine their impact.</p>
          <p>We believe that too often digital tools are built in isolation from the organisations that buy them, and the citizens that use them, and because of this everyone’s experience is the poorer.</p>
          <p>At TICTeC Local, we’ll change that and bring down some of those barriers to discuss what <em>really</em> works. You will leave inspired by some of our showcased projects, you’ll have a better understanding of the most effective digital tools, and you’ll have met interesting people who are on a similar journey, or who might be able to help you in developing your digital capacity in the future.</p>
        </div>
      </div>
    </div>
  </div>

<div id="accessibility" class="homepage-section homepage-section--tertiary">
    <div class="container">
      <h2>Accessibility Information</h2>
      <div class="row">
        <div class="col-sm-8">
          <p>The conference venue is fully accessible for wheelchair users. If you plan to attend TICTeC with a personal care attendant/assistant, their conference fee will be waived. Please contact Gemma Moulder on 020 8191 8749 or via <a href="malto:gemma@mysociety.org">email</a> to arrange the fee waiver/registration.</p>
          <p>If you need special requirements such as hearing loops, sign language interpreters, handouts in advance and/or in alternative formats such as Braille or large print etc, please contact Gemma Moulder on 020 8191 8749 or via <a href="malto:gemma@mysociety.org">email</a> with your request by close of business on 19th October 2018 so that arrangements, where possible, can be made. We will do our best to fulfil your requirements to allow you to fully participate in this event.</p>
        </div>
      </div>
    </div>
  </div>

<div id="sponsorship" class="homepage-section">
    <div class="container">
      <h2>Sponsorship</h2>
      <div class="row">
        <div class="col-sm-8">
          <p>If you're interested in hearing about sponsorship opportunities at TICTeC Local then please get in touch with <a href="malto:gemma@mysociety.org">Gemma Moulder</a> to discuss further.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
