{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block headerextra %}
<meta property="og:title" content="TICTeC Local" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tictec.mysociety.org/local" />
<meta property="og:image" content="https://tictec.mysociety.org/static/img/local-og.jpg" />
{% endblock %}

{% block bodyclasses %}tictec-local{% endblock %}

{% block title %}TICTeC Local{% endblock %}

{% block content %}
<div class="homepage-hero hero-local">
  <div class="container">
    <h1>TICTeC Local</h1>
    <h2>Where Civic Tech meets Local Government</h2>
    <p class="lead">Tuesday 6th November 2018, The Federation, Manchester</p>
    <ul class="list-inline">
      <li><a href="#agenda" class="btn btn-large btn-default">Agenda</a></li>
    </ul>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <h3 style="max-width: 20em;">One day of inspiring talks and presentations that left us buzzing with new ideas</h3>
    <div class="row">
      <div class="col-sm-8">
        <p>On 6th November 2018, mySociety hosted the first ever TICTeC Local event at The Federation in Manchester. The event bought together 100 local government representatives, CSOs, practitioners, academics, private sector representatives and researchers from across the UK and beyond. Thank you to all who came.</p>
        <p>Read our <a href="https://www.mysociety.org/2018/11/07/tictec-local-wrap-up-report/">wrap-up report</a> for a summary of this fantastic event.</p>
        <p><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up for our newsletter</a> and we’ll alert you when tickets go on sale for our next TICTeC event.
        <h3>Conference resources</h3>
        <ul style="max-width: 32em;">
            <li>Presentation slides from the event can be found over on the <a href="https://www.slideshare.net/mysociety/presentations">mySociety Slideshare account</a></li>
            <li>Photos from the event can be found over on <a href="https://www.flickr.com/photos/mysociety/albums/72157703847526014">Flickr</a></li>
            <li>The event's full agenda can be <a href="https://tictec.mysociety.org/local#agenda">viewed here</a></li>
            <li>Follow the hashtag <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23TICTeCLocal&src=tyah">#TICTeCLocal</a> on social media to read updates from the conference as they happened, as well as pre and post conference thoughts.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary" id="speakers">
  <div class="container">
    <h2>Speakers included</h2>
    <ul class="attendee-list homepage-speakers">
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Alison McKenzie-Folan</h3>
          <p class="attendee__job-title">Deputy CEO and Digital Transformation Lead</p>
          <p class="attendee__org">Wigan Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Andrea Bowes</h3>
          <p class="attendee__job-title">Data and Information Systems Technical Architect</p>
          <p class="attendee__org">Lincolnshire County Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Beatrice Karol Burks</h3>
          <p class="attendee__job-title">Studio Director</p>
          <p class="attendee__org">FutureGov</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Carl Whistlecraft</h3>
          <p class="attendee__job-title">Head of Democracy</p>
          <p class="attendee__org">Kirklees Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Eddie Copeland</h3>
          <p class="attendee__job-title">Director of Government Innovation</p>
          <p class="attendee__org">Nesta</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Emer Coleman</h3>
          <p class="attendee__job-title">Digital Leader</p>
          <p class="attendee__org">The Federation</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Jon Alexander</h3>
          <p class="attendee__job-title">Co-founder</p>
          <p class="attendee__org">New Citizenship Project</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">José María Becerra González</h3>
          <p class="attendee__job-title">Consul Project</p>
          <p class="attendee__org">Madrid City Council</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Michelle Brook</h3>
          <p class="attendee__job-title">Managing Director (UK)</p>
          <p class="attendee__org">The Democratic Society</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Paul Maltby</h3>
          <p class="attendee__job-title">Chief Digital Officer</p>
          <p class="attendee__org">Ministry for Housing Communities and Local Government</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Sarah Drummond</h3>
          <p class="attendee__job-title">Co-founder and MD</p>
          <p class="attendee__org">Snook</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Theo Blackwell</h3>
          <p class="attendee__job-title">Chief Digital Officer</p>
          <p class="attendee__org">London</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="homepage-section" id="agenda">
  <div class="container schedule">
    <h2>Agenda</h2>
    <div class="row">
      <div class="col-sm-8">
        <p>
          The Defiant Space,
          <a href="http://www.thefederation.coop/find-us.html">The Federation</a>,
          Manchester,
          M4 4BF.
        </p>
        <p>
          Tuesday 6th November 2018.
        </p>
        <ul class="schedule__list js-schedule-accordion">

          {% for session in sessions %}
            <li class="schedule__slot">
              <div class="schedule-entry schedule-entry--{{ session.kind|slugify }}">

                <p class="schedule-entry__meta">
                  {{ session.start }}
                  {% if session.room %}
                    &middot; {{ session.room }}
                  {% endif %}
                </p>

              {% if session.presentations.count > 1 %}
                <h2 class="schedule-entry__title">{{ session.name }}</h2>

                {% if session.short_description %}
                  <div class="schedule-entry__description">
                    {{ session.short_description }}
                  </div>
                {% endif %}
              {% endif %}

              {% for presentation in session.presentations %}

                <h2 class="schedule-entry__title">
                    {{ presentation.title }}
                </h2>
                <ul class="schedule-entry__speaker">
                  {% for speaker in presentation.speakers %}
                    {% spaceless %}
                      {% if not speaker.tbc %}
                        <li>
                          {{ speaker.name }}
                          {% if speaker.organisation %}
                            <small class="schedule-entry__speaker__organisation">({% if speaker.role %}{{ speaker.role}}, {% endif %}{{ speaker.organisation }})</small>
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endspaceless %}
                  {% endfor %}
                </ul>
                {% if presentation.short_description %}
                  <div class="schedule-entry__description">
                    {{ presentation.short_description }}
                  </div>
                {% endif %}

              {% empty %}

                <h2 class="schedule-entry__title">{{ session.name }}</h2>
                {% if session.short_description %}
                  <div class="schedule-entry__description">
                    {{ session.short_description }}
                  </div>
                {% endif %}

              {% endfor %}

              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>

<div id="sponsorship" class="homepage-section">
    <div class="container">
      <h2>Sponsors</h2>
      <div class="row">
        <div class="col-sm-8">
          <p>Thank you to <a href="https://www.wearefuturegov.com/">FutureGov</a> and <a href="https://shapingcloud.com/">Shaping Cloud</a> for sponsoring a number of free tickets for public sector attendees to attend TICTeC Local. Thanks also to <a href="http://www.thefederation.coop/">The Federation</a> in Manchester for supporting the event by providing free venue space.</p> 
          <p>FutureGov reform public services by supporting organisations through digital transformation and service design. They believe in the power of 21st-century organisations to deliver the highest quality, citizen-centred services that have a lasting impact for all.</p> 
          <p>The Federation is a community of digital businesses and innovators in Manchester, built on ethical values.</p>
          <p>Shaping Cloud are a company dedicated to helping the public sector embrace the opportunities provided by public and hybrid cloud.</p>
          <p>mySociety is a charity and relies on sponsorship and ticket sales to make events like TICTeC and TICTeC Local happen. If you're interested in hearing about sponsorship opportunities at future TICTeC and TICTeC Local events then please get in touch with <a href="mailto:gemma@mysociety.org">Gemma Moulder</a> to discuss further.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
