{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block headerextra %}
<meta property="og:title" content="TICTeC Local" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tictec.mysociety.org/local" />
<meta property="og:image" content="https://tictec.mysociety.org/static/img/local-og.jpg" />
{% endblock %}

{% block bodyclasses %}tictec-local{% endblock %}

{% block title %}TICTeC Local{% endblock %}

{% block content %}
<div class="homepage-hero hero-local">
  <div class="container">
    <h1>TICTeC Local</h1>
    <h2>Where Civic Tech meets Local Government</h2>
    <p class="lead">TICTeC Local is the annual conference from mySociety that focuses directly on tech for local government.</p>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p><b>TICTeC Local</b> was born from <a href="{% url 'home' %}">TICTeC</a>, mySociety’s Impacts of Civic Tech conference. That annual international event brings together academics, activists, funders and tech NGOs from around the world share research into the impact of citizen-to-government initiatives.</p>

        <p><b>TICTeC Local</b> brings the same successful formula to Local Government in the UK.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Here's what to expect:</h2>

        <p><b>Presentations</b> on the tech innovations and ideas that local authorities are putting to the test around the country.</p>

        <p><b>Lively discussions</b> on topics such as re-engaging disillusioned citizens, new directions in democracy, or tech that can drive efficiency.</p>

        <p><b>Knowledge sharing</b> with peers facing similar challenges in authorities up and down the UK.</p>

        <p><b>Evidence-based research</b> to help you evaluate the ideas and innovations under discussion.</p>

        <p><b>Ongoing relationships</b> with mySociety, other organisations and authorities. Take the opportunity to get involved in new concepts for councils at the discovery & prototyping phases; or form alliances and pool resources with peer authorities as you put your own ideas into practice.</p>
      </div>
    </div>
  </div>
</div>

<div id="past" class="homepage-section homepage-section--secondary">
  <div class="container">

    <h2>Discover TICTeC Local</h2>

    <div class="row">

      <div class="col-sm-6">

        <h3><a href="{% url 'local-2019' %}">2019</a></h3>
        <p>The next TICTeC Local</p>

      </div>

      <div class="col-sm-6">

        <h3><a href="{% url 'local-2018' %}">2018</a></h3>
        <p>Resources from TICTeC Local 2018</p>

      </div>

    </div>

  </div>
</div>

{% endblock %}
