{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block headerextra %}
<meta property="og:title" content="TICTeC Local 2019" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tictec.mysociety.org/local/2019" />
<meta property="og:image" content="https://tictec.mysociety.org/static/img/local-og.jpg" />
{% endblock %}

{% block bodyclasses %}tictec-local{% endblock %}

{% block title %}TICTeC Local 2019{% endblock %}

{% block content %}
<div class="homepage-hero hero-local">
  <div class="container">
    <h1>TICTeC Local 2019</h1>
    <h2>Exploring Civic Tech in Local Communities</h2>
    <p class="lead">Friday November 1 2019, City Hall, London</p>
    <ul class="list-inline">
      <li><a href="#agenda" class="btn btn-large btn-default">Agenda</a></li>
    </ul>
  </div>
</div>

<div id="intro" class="homepage-section">
  <div class="container">
    <h3 style="max-width: 20em;">The annual conference that focuses directly on the use of Civic Tech in communities and local government.</h3>
    <div class="row">
      <div class="col-sm-8">
        <p>On 1st November 2019, mySociety hosted the second TICTeC Local event at City Hall in London. The event bought together 140 local government representatives, CSOs, practitioners, academics, private sector representatives and researchers from across the UK and beyond. Thank you to all who came.</p>
        <p>Read our <a href="https://www.mysociety.org/blog/">wrap-up report</a> for a summary of this fantastic event.</p>
        <p><a href="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&id=b79b7a551a">Sign up for our newsletter</a> and we’ll alert you when tickets go on sale for our next TICTeC event.
        <h3>Conference resources</h3>
        <ul style="max-width: 32em;">
            <li>Presentation slides from the event can be found over on the <a href="https://www.slideshare.net/mysociety/presentations">mySociety Slideshare account</a></li>
            <li>Photos from the event can be found over on <a href="https://www.flickr.com/photos/mysociety/albums/72157703847526014">Flickr</a></li>
            <li>The event's full agenda can be <a href="https://tictec.mysociety.org/local#agenda">viewed here</a></li>
            <li>Follow the hashtag <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23TICTeCLocal&src=tyah">#TICTeCLocal</a> on social media to read updates from the conference as they happened, as well as pre and post conference thoughts.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary" id="speakers">
  <div class="container">
    <h2>Speakers included</h2>
    <ul class="attendee-list homepage-speakers">
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Miriam Levin</h3>
          <p class="attendee__job-title">Head of Community Action and Giving at the Office for Civil Society</p>
          <p class="attendee__org">DCMS</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Vidhya Alakeson</h3>
          <p class="attendee__job-title">CEO</p>
          <p class="attendee__org">Power to Change</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Sian Berry</h3>
          <p class="attendee__job-title">Co-leader / Camden Councillor</p>
          <p class="attendee__org">Green Party</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Graham Smith</h3>
          <p class="attendee__job-title">Professor of Politics and Director of the Centre for the Study of Democracy</p>
          <p class="attendee__org">Westminster University</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Tim Hughes</h3>
          <p class="attendee__job-title">Director</p>
          <p class="attendee__org">Involve</p>
        </div>
      </li>
      <li class="attendee-list__attendee attendee-list__attendee--wide">
        <div class="attendee__primary-column">
          <h3 class="attendee__name">Alasdair Roxburgh</h3>
          <p class="attendee__job-title">Director of Communities and Networks</p>
          <p class="attendee__org">Friends of the Earth</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="homepage-section" id="agenda">
  <div class="container schedule">
    <h2>Agenda</h2>
    <div class="row">
      <div class="col-sm-8">
        <p>
          London’s Living Room,
          <a href="https://www.london.gov.uk/about-us/our-building-and-squares/how-find-city-hall">City Hall</a>,
          London,
          SE1 2AA.
        </p>
        <p>
          Friday 1st November 2019.
        </p>
        <ul class="schedule__list js-schedule-accordion">

          {% for session in sessions %}
            <li class="schedule__slot">
              {% for track in session.tracks %}
                {% include "ainow/_schedule_entry.html" with entry=track %}
              {% empty %}
                {% include "ainow/_schedule_entry.html" with entry=session %}
              {% endfor %}
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>

<div id="sponsorship" class="homepage-section homepage-section--secondary">
  <div class="container">
    <h2>Sponsors</h2>
    <div class="row">
      <div class="col-sm-8">

        <p>Thank you to Theo Blackwell, London's Chief Digital Officer, for hosting TICTeC Local at City Hall.</p> 
        
        <p>mySociety is a charity and relies on sponsorship and ticket sales to make events like TICTeC and TICTeC Local happen. If you're interested in sponsoring the next TICTeC Local please <a href="mailto:gemma@mysociety.org">contact Gemma Moulder</a>.</p>

      </div>
    </div>
  </div>
</div>

<div id="faq" class="homepage-section">
  <div class="container">
    <h2>FAQs</h2>
    <div class="row">
      <div class="col-sm-8">

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header" id="what-is-civic-tech">What is Civic Tech?</h3>

          <div class="js-faq-accordion--body">
            <p>The field of Civic Tech is growing across the globe, often at a grassroots level — and yet, to those outside its network, the term can be unfamiliar. You will often see ‘Civic Tech’ mentioned along with sister buzzwords like ‘smart cities’, ‘e-gov’, ‘govtech’, ‘ICT4D’ and ‘Tech For Good’, to name but a few.</p>

            <p>Civic Tech embraces all digital tools that enable citizens to easily and effectively engage with civic life, whether that is reporting an issue to a local authority, engaging with elected representatives or monitoring the use of community assets.</p>

            <p>At its most effective, Civic Tech can save lives, protect environments, and mobilise citizen task forces in times of crisis. At a useful if less dramatic level, it can save time and money for governments, improve neighbourhoods and keep residents informed.</p>

            <p>Civic Tech is often — but not exclusively — built by non-profit organisations working for a better, more representative, democratic or functional society. The result is often open source ‘tech for good’ software that is free or cheap to implement.</p>
          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header" id="is-tictec-local-for-me">Is TICTeC Local for me?</h3>

          <div class="js-faq-accordion--body">

            <p>If you’re interested in or work with digital technologies to improve local communities and their public authorities, then yes.</p>

            <p>TICTeC Local will have a range of speakers covering a wide range of topics relevant to participation, efficiency, customer service, digital, information services and general governance.</p>

          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header" id="what-happens-at-tictec-local">What happens at TICTeC Local?</h3>

          <div class="js-faq-accordion--body">

            <ul>
              <li>Practitioners, researchers and representatives showcase inspiring Civic Tech tools and projects that service local communities in the UK and beyond, with discussions on what makes them work and how</li>
              <li>A chance to take stock of the Civic Tech landscape in the UK and what barriers there are to its progress</li>
              <li>Panels and discussions around Civic Technology projects: the ethics, finances, and other practicalities of their implementation</li>
              <li>Practical takeaways that you can take back and implement in your own strategies</li>
            </ul>

            <p><b>Return to this page to see the agenda as it is finalised.</b></p>

          </div>

        </div>

        <div class="js-faq-accordion">

          <h3 class="js-faq-accordion--header" id="what-will-i-get-from-tictec-local">What will I get from TICTeC Local?</h3>

          <div class="js-faq-accordion--body">

            <p><b>You will not get</b> sales pitches, technical talk that only experts could understand, or high-concept presentations with no relevance to your own daily work.</p>

            <p>TICTeC Local aims to build a bridge between the people that make digital tools for the public good, the people that use them and the people that examine their impact.</p>

            <p>We believe that too often digital tools are built in isolation from the organisations that buy them, and the citizens that use them, and because of this everyone’s experience is the poorer.</p>

            <p>At TICTeC Local, we’ll change that and bring down some of those barriers to discuss what really works. You will leave inspired by some of our showcased projects, you’ll have a better understanding of the most effective digital tools, and you’ll have met interesting people who are on a similar journey, or who might be able to help you in developing your digital capacity in the future.</p>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
