{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Press{% endblock %}

{% block content %}

<div class="homepage-section">
  <div class="container">

    <h1>Press</h1>

    <h2>Why come to TICTeC?</h2>

    <p>
      TICTeC, the annual conference on the Impacts of Civic Technology, is an exciting opportunity for any journalist covering Civic Tech/Tech for Good, societal and governmental issues, activism or research.
    </p>

    <p>
      Civic Tech is a phenomenon of our time; a widespread and revolutionary, transformative movement with activists in every country across the globe.
    </p>

    <p>
      TICTeC has become the predominant forum for the discussion of what works, and what doesn’t, in the technologies that aid citizens in their interactions with government. Over a period of two days, evidence is presented by those who know the field best: the activists running Civic Tech projects; the developers who write the code; researchers enquiring into the efficacy of various programs; and philanthropists learning how to identify the projects worth funding. From grassroots organisations to tech giants like Facebook and Google, TICTeC is the one date in the diary that no-one misses.
    </p>

    <p>
      With keynotes chosen for the significance they bring to the field, and speakers and delegates from all corners of the globe (see previous attendees on <a href="https://tictec.mysociety.org/sponsorship#attendees">this page</a>), TICTeC gives you the unrivaled opportunity to generate original features and conduct interviews with those at the cutting edge of Civic Tech.
    </p>

  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">

    <h2>Apply for a press pass</h2>

    <p>
      If you would like to attend this year’s TICTeC, please email <a href="mailto:press@mysociety.org">press@mysociety.org</a> with a brief note to explain your interest in the field.
    </p>

    <p>
      The ticket price is waived for journalists.
    </p>

  </div>
</div>

<div class="homepage-section">
  <div class="container">

    <h2>Requirements</h2>

    <p>
      Journalists attending TICTeC should have the intention of submitting one or more articles based on the conference or its content, to a recognised media outlet.
    </p>

    <p>
      All such articles should mention mySociety and/or TICTeC, with online versions linking to mysociety.org or tictec.mysociety.org.
    </p>

    <p>
      As an attendee at TICTeC you are bound by the same <a href="https://www.mysociety.org/code-of-conduct/">code of conduct</a> as other delegates. Please pay special attention to the point on photography and recording. Those who have expressed a wish not to be photographed will be identifiable by the colour of their lanyard — please check with a member of staff when you arrive so that you know which colour it is.
    </p>

  </div>
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">

    <h2>What we can offer</h2>

    <p>
      You’ll be able to pick and choose from the three streams of activity that take place during the two days of conference, including panel discussions, presentations and workshops. You’ll also be welcome at the evening social.
    </p>

    <p>
      The schedule is published online when it has been finalised. Please let us know if there is anyone you would like to interview, and we can organise this where possible. Staff from mySociety, the organisation running TICTeC, are always available for interview — or to help with your needs during the conference.
    </p>

  </div>
</div>

<div class="homepage-section">
  <div class="container">

    <h2>Assets and information</h2>

    <h3>Logos</h3>

    <p>
      You can find logos for both TICTeC and mySociety on <a href="https://www.mysociety.org/press/">mySociety's press page</a>.
    </p>

    <h3>Links</h3>

    <ul>
      <li><a href="https://www.mysociety.org/">mySociety's website</a> for information on the organisation and its projects.</li>
      <li><a href="https://www.mysociety.org/press/">mySociety’s press page</a> for photographs of staff, more logos and briefing sheets on projects.</li>
    </ul>

    <h3>Photographs and videos</h3>

    <p>
      Images from previous TICTeCs can be seen on <a href="https://www.flickr.com/photos/mysociety/albums">Flickr</a> and videos are on <a href="https://www.youtube.com/channel/UCWI1GxC4gNhGP2Xy9WtldWg/videos">mySociety’s YouTube channel</a>. All are free to use (with attribution) under the Creative Commons licence. New content is added shortly after the conference; please allow time for processing.
    </p>

    <h3>Contacts</h3>

    <p>
      For all queries and information about TICTeC, contact us on <a href="mailto:press@mysociety.org">press@mysociety.org</a>.
    </p>

    <p>
      Speakers and delegates are listed on the site shortly before the conference begins; some choose to share their Twitter handles for those who wish to make contact. Otherwise, please email us via <a href="mailto:press@mysociety.org">press@mysociety.org</a> if you would like us to forward a message to another attendee.
    </p>

  </div>
</div>

{% endblock %}
