{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}seminars-2020{% endblock %}

{% block title %}TICTeC Seminars 2020{% endblock %}

{% block content %}

<div class="homepage-hero hero-seminars-2020">
  <div class="container">
    <h1>TICTeC Seminars 2020</h1>
    <p class="lead">Online, September–November 2020</p>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>We're not ones to say 'told you so', but…</h3>
        <p>If more digitalisation, transparency and accountability mechanisms had been adopted before the coronavirus pandemic hit, it's clear that many outcomes would have been different today.</p> 
        <p>Civic tech, digital democracy and open government organisations have been championing these reforms and mechanisms for decades, with the pandemic serving as a tragic example of why they're essential and not just ‘nice to have’.</p>
        <p>Join mySociety and guests this autumn for a series of discussions to reflect on the impacts of this, and why digital transparency and accountability are more relevant than ever going forward.</p>
      </div>
    </div> 
  </div>
</div>

<div class="homepage-section seminar-detail" id="september">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 1</small>
        Open data: Essential, not just ‘nice to have’
      </h2>
      <p>22 September 2020, 15:00 - 16:00 GMT+1 (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://www.eventbrite.co.uk/e/tictec-seminar-open-data-essential-not-just-nice-to-have-registration-115497236343" class="btn btn-default">Register here</a></li>
    </ul>
    <p><p>Having more open data, and access to data, would have helped with responding to the COVID-19 crisis — that's the premise with which we'll start this discussion.</p>
    <p>More open contracting and beneficial ownership data would have helped governments the world over to make quicker and safer purchases of essential equipment to tackle COVID-19 — and that's just one example of how a reliable open data strategy could have saved time... and lives.</p>
    <p>Join us to discuss this timely and important topic.</p>
</p>
    <h3>Panellists</h3>
    <ul>
      <li>Karabo Rajuili, Country Manager, Open Ownership</li>
      <li>Olivier Thereaux, Head of Research and Development, Open Data Institute</li>
      <li>Fabrizio Scrollini, Executive Director, Open Data Latin American Initiative (ILDA)</li>
      <li><em>Moderator:</em>Dr. Rebecca Rumbul, Head of Research, mySociety</li>
    </ul>
    <p>There will be ample opportunity for attendees to ask questions during the discussion, and engage in the conversation via chat and interactive polls.</p>

    <p>The discussion will be followed by an optional speed networking session between 16:00 and 16:15 GMT+1. Attendees who stay will be split into small groups so they can introduce themselves and their work; discuss their thoughts on the session topic; and get to know some new people.</p>
  </div>
</div>

<div class="homepage-section seminar-detail" id="october">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 2</small>
        Digitising parliaments: it took a pandemic
      </h2>
      <p>20 October 2020, 15:00 - 16:00 GMT+1 (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://www.eventbrite.co.uk/e/tictec-seminar-digitising-parliaments-it-took-a-pandemic-registration-116585306791" class="btn btn-default">Register here</a></li>
    </ul>
    <p>Things that once were deemed by governments as impossible or not important enough - like remote voting - have become a reality in parliaments across the world since the emergence of COVID-19.</p>
    <p>This session will get to the crux of why it’s taken a global pandemic to get more parliaments to digitise, and how new measures should be harnessed so future opportunities are not missed.</p>
    <h3>Panellists</h3>
    <ul>
      <li>Julia Keutgen, Senior Transparency Advisor,  Westminster Foundation for Democracy</li>
      <li>Avinash Bikha, Project Officer - Centre for Innovation in Parliament, Inter-Parliamentary Union</li>
      <li>Lord Purvis of Tweed, Member of the International Relations and Defence Committee, House of Lords</li>
      <li><em>Moderator:</em> Dr. Rebecca Rumbul, Head of Research, mySociety</li>
    </ul>
    <p>There will be ample opportunity for attendees to ask questions during the discussion, and engage in the conversation via chat and interactive polls.</p>

    <p>The discussion will be followed by an optional speed networking session between 16:00 and 16:15 GMT+1. Attendees who stay will be split into small groups so they can introduce themselves and their work; discuss their thoughts on the session topic; and get to know some new people.</p>
  </div>
</div>

<div class="homepage-section seminar-detail" id="november">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 3</small>
        This is no time to forget the climate crisis
      </h2>
      <p>TBC, November 2020, 15:00 - 16:00 GMT+1 (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://research.mysociety.org/newsletter" class="btn btn-default">Sign up for updates</a></li>
    </ul>
    <p>The pandemic may be taking up all the column inches, but let's not forget that the climate emergency hasn't gone away.</p>
    <p>With the UN COP26 delayed until 2021, this ‘borrowed’ time is crucial. We think it’s vital to discuss the climate crisis and how the wealth of experience and expertise in the civic tech sector can feed into pivotal actions needed to tackle it. What can be learnt from previous civic tech initiatives, and from the COVID-19 pandemic, to ensure the right decisions are taken and opportunities are not missed?
</p>
    <p>More details on the exact date, topic and panelists for this discussion will be added here soon. <a href="https://research.mysociety.org/newsletter">Sign up for our newsletter</a></p> or <a href="https://groups.google.com/forum/#!forum/tictecbymysociety">join the TICTeC Google group</a></p> to get updates as they are announced. If you would like to suggest a speaker or topic for this discussion <a href="mailto:tictec@mysociety.org">please get in touch.</a></p>
    
{% endblock %}
