{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}seminars-2020{% endblock %}

{% block title %}TICTeC Seminars 2020{% endblock %}

{% block content %}

<div class="homepage-hero hero-seminars-2020">
  <div class="container">
    <h1>TICTeC Seminars 2020</h1>
    <p class="lead">Online, September–November 2020</p>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>If more digitalisation, transparency and accountability mechanisms had been adopted before the coronavirus pandemic hit, many outcomes would have been better or different today. Civic tech, digital democracy and open government organisations have been championing these reforms and mechanisms for decades, with the pandemic serving as a tragic example of why these are essential and not just ‘nice to have’.</p>
        <p>Join mySociety and guests this autumn for a series of discussions to reflect on the impacts of this, and why digital transparency and accountability is more relevant than ever going forward.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section seminar-detail" id="september">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 1</small>
        Open data: Essential, not just ‘nice to have’
      </h2>
      <p>22 September 2020, 15:00 GMT+1 to 16:00 GMT+1</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="#" class="btn btn-default">Register here</a></li>
    </ul>
    <p>In this discussion we’ll focus on how having more open data, and access to data, would have helped with responding to the COVID-19 crisis. We’ll focus particularly on how more open contracting and beneficial ownership data would have helped governments the world over to make quicker and safer purchases of essential equipment to tackle COVID-19.</p>
    <h3>Panellists</h3>
    <ul>
      <li>Panellist 1, organisation 1</li>
      <li>Panellist 2, organisation 2</li>
      <li>Panellist 3, organisation 3</li>
      <li><em>Moderator:</em> Name, organisation</li>
    </ul>
    <p>There will be ample opportunity for attendees to ask questions during the discussion, and engage in the conversation via chat and interactive polls.</p>

    <p>The discussion will be followed by some quick-fire lightning talks:</p>
    <ol>
      <li>Speaker 1, Talk title</li>
      <li>Speaker 2, Talk title</li>
    </ol>
  </div>
</div>

<div class="homepage-section seminar-detail" id="october">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 2</small>
        Parliaments: The power of digitising
      </h2>
      <p>20 October 2020, 15:00 GMT+1 to 16:00 GMT+1</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="#" class="btn btn-default">Register here</a></li>
    </ul>
    <p>Things that once were deemed by governments as impossible or not important enough  - like voting remotely - have become a reality in some parliaments across the world since the emergence of COVID-19. This session will get to the crux of why it’s taken a global pandemic to get more parliaments to digitise and how new measures should be harnessed so future opportunities are not missed.</p>
    <h3>Panellists</h3>
    <ul>
      <li>Panellist 1, organisation 1</li>
      <li>Panellist 2, organisation 2</li>
      <li>Panellist 3, organisation 3</li>
      <li><em>Moderator:</em> Name, organisation</li>
    </ul>
    <p>There will be ample opportunity for attendees to ask questions during the discussion, and engage in the conversation via chat and interactive polls.</p>

    <p>The discussion will be followed by some quick-fire lightning talks:</p>
    <ol>
      <li>Speaker 1, Talk title</li>
      <li>Speaker 2, Talk title</li>
    </ol>
  </div>
</div>

<div class="homepage-section seminar-detail" id="november">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 3</small>
        Civic tech’s role in tackling the climate crisis
      </h2>
      <p>15 November 2020, 15:00 GMT+1 to 16:00 GMT+1</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="#" class="btn btn-default">Register here</a></li>
    </ul>
    <p>The climate emergency is a parallel crisis we need to tackle. With COP26 delayed until 2021, this discussion will focus on how the Civic Tech community can use this time to clarify its role in tackling the climate crisis. Is the Civic Tech community doing enough? Should civic tech shift its focus? What can be learnt from the COVID-19 pandemic to ensure better decisions are taken and opportunities are not missed?</p>
    <h3>Panellists</h3>
    <ul>
      <li>Panellist 1, organisation 1</li>
      <li>Panellist 2, organisation 2</li>
      <li>Panellist 3, organisation 3</li>
      <li><em>Moderator:</em> Name, organisation</li>
    </ul>
    <p>There will be ample opportunity for attendees to ask questions during the discussion, and engage in the conversation via chat and interactive polls.</p>

    <p>The discussion will be followed by some quick-fire lightning talks:</p>
    <ol>
      <li>Speaker 1, Talk title</li>
      <li>Speaker 2, Talk title</li>
    </ol>
  </div>
</div>

{% endblock %}
