{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}seminars-2020{% endblock %}

{% block title %}TICTeC Seminars 2020{% endblock %}

{% block content %}

<div class="homepage-hero hero-seminars-2020">
  <div class="container">
    <h1>TICTeC Seminars 2020</h1>
    <p class="lead">Online, September–December 2020</p>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>We're not ones to say 'told you so', but…</h3>
        <p>If more digitalisation, transparency and accountability mechanisms had been adopted before the coronavirus pandemic hit, it's clear that many outcomes would have been different today.</p>
        <p>Civic tech, digital democracy and open government organisations have been championing these reforms and mechanisms for decades, with the pandemic serving as a tragic example of why they're essential and not just ‘nice to have’.</p>
        <p>Join mySociety and guests this autumn for a series of discussions to reflect on the impacts of this, and why digital transparency and accountability are more relevant than ever going forward.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section seminar-detail" id="september">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 1</small>
        Open data: Essential, not just ‘nice to have’
      </h2>
      <p>22 September 2020, 15:00 - 16:00 GMT+1 (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://www.youtube.com/watch?v=cI0dEQmMWHY&feature=emb_title" class="btn btn-default">Seminar recording</a> <a href="https://docs.google.com/document/d/1fkUK0i9Rd2PLC78b_Z0jMVDEQp2jp-37G2cQ3EkatW8/edit#heading=h.9j2ngdvlqz1v" class="btn btn-default">Seminar notes</a></li>
    </ul>
    <p><p>Would societies around the world be better able to respond to the pandemic, if more or better open data were freely available?

<p>That was the question put to this expert panel, in the first in our series of online TICTeC Seminars.</p>
    <p><a href="https://youtu.be/cI0dEQmMWHY">Rewatch the seminar</a>, or <a href="https://docs.google.com/document/d/1fkUK0i9Rd2PLC78b_Z0jMVDEQp2jp-37G2cQ3EkatW8/edit#heading=h.9j2ngdvlqz1v"> read the collaborative notes taken by attendees</a>.</p>
    <h3>Panellists</h3>
    <ul>
      <li>Karabo Rajuili, Country Manager, Open Ownership</li>
      <li>Olivier Thereaux, Head of Research and Development, Open Data Institute</li>
      <li>Fabrizio Scrollini, Executive Director, Open Data Latin American Initiative (ILDA)</li>
      <li><em>Moderator:</em>Dr. Rebecca Rumbul, Head of Research, mySociety</li>
    </ul>
  </div>
</div>

<div class="homepage-section seminar-detail" id="october">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 2</small>
        Digitising parliaments: it took a pandemic
      </h2>
      <p>20 October 2020, 15:00 - 16:00 GMT+1 (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://www.youtube.com/watch?v=rohlFK7hKfA&feature=emb_title" class="btn btn-default">Seminar recording</a> <a href="https://docs.google.com/document/d/1iLE4MPTPYwcorZPJ1Wmp0H1sqUYgaSv-qdJKBITMq-w/edit#heading=h.9j2ngdvlqz1v" class="btn btn-default">Seminar notes</a></li>
    </ul>
    <p>Things that once were deemed by governments as impossible or not important enough - like remote voting - have become a reality in parliaments across the world since the emergence of COVID-19.</p>
    <p>This session got to the crux of why it’s taken a global pandemic to get more parliaments to digitise. Panellists discussed experiences of parliaments around the world that have been forced to make a quick switch to digital technologies during the pandemic, with rounded views of the benefits, challenges and opportunies these have posed.</p>
    <p><a href="https://youtu.be/rohlFK7hKfA">Rewatch the seminar</a>, or <a href="https://docs.google.com/document/d/1iLE4MPTPYwcorZPJ1Wmp0H1sqUYgaSv-qdJKBITMq-w/edit#heading=h.9j2ngdvlqz1v"> read the collaborative notes taken by attendees</a>.</p>
    <h3>Panellists</h3>
    <ul>
      <li>Julia Keutgen, Senior Transparency Advisor,  Westminster Foundation for Democracy</li>
      <li>Avinash Bikha, Project Officer - Centre for Innovation in Parliament, Inter-Parliamentary Union</li>
      <li>Lord Purvis of Tweed, Member of the International Relations and Defence Committee, House of Lords</li>
      <li><em>Moderator:</em> Dr. Rebecca Rumbul, Head of Research, mySociety</li>
    </ul>
</div>

<div class="homepage-section seminar-detail" id="november">
  <div class="container">
    <header class="seminar-detail__header">
      <h2>
        <small>Discussion 3</small>
       What role for Civic Tech (and data) in mitigating the climate crisis?
      </h2>
      <p>2 December 2020, 15:00 - 16:30 GMT (UK time)</p>
    </header>
    <ul class="seminar-detail__links list-inline">
      <li><a href="https://www.eventbrite.co.uk/e/what-role-for-civic-tech-and-data-in-mitigating-the-climate-crisis-tickets-128505223583" class="btn btn-default">Register here</a></li>
    </ul>
    <p>The pandemic may be taking up all the column inches, but let's not forget that the climate emergency hasn't gone away.</p>
    <p>We know that civic technology can do things such as help citizens hold their representatives to account; present data and information about policy and decision making in more accessible ways; and get information to the right people.</p>
    <p>Now, the next crucial step is to understand how this wealth of skills, experience and tools can be used in the most beneficial way to mitigate the climate crisis.</p>
    <p>What digital tools and data are citizens and policy makers going to need to turn policy into action? What are the most effective ways citizens can use their power in the political system around the climate? How can civic tech play a role in supporting the development and implementation of institutional responses to the climate crisis? What can we learn from previous civic tech initiatives and research? Are there gaps and opportunities that civic tech can fill?</p>
    <p>These are just some of the questions we’ll put to our panellists to help shape civic tech’s response to the climate emergency. We’ll also be sharing some of the climate action projects mySociety is currently working on to get feedback from panellists and attendees.</p>
        <h3>Panellists</h3>
    <ul>
      <li>Rachel Coxcoon, Director of Climate Emergency Support Programme at the Centre for Sustainable Energy & District Councillor & Cabinet Member for Climate Change & Forward Planning at Cotswold District Council, UK</li>
      <li>Tom Sasse, Senior Researcher, Institute of Government</li>
      <li>Natalia Carfi, Deputy Director, Open Data Charter</li>
      <li>Louise Crow, Head of Development, mySociety</li>
      <li><em>Moderator:</em>Mark Cridge, CEO, mySociety</li>
    </ul>
  </div>
</div>

{% endblock %}
