{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block bodyclasses %}show-and-tells-2021{% endblock %}

{% block title %}TICTeC Show and Tells 2021{% endblock %}

{% block content %}

<div class="homepage-hero hero-showandtells-2021">
  <div class="container">
    <h1>TICTeC Show and Tells 2021</h1>
    <p class="lead">Online, March—May 2021</p>
    <ul class="list-inline">
      <li><a href="#schedule" class="btn btn-primary">Schedule</a></li>
    </ul>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ schedule.introduction }}
      </div>
    </div>
  </div>
</div>

{% for session in sessions %}
<div class="homepage-section seminar-detail" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <div class="schedule-entry schedule-entry--{{ session.kind|slugify }}">
              <header class="seminar-detail__header">
                <h2>
                  <small>Show and tell {{ forloop.counter }}</small>
                  {{ session.name }}
                </h2>
                <p>
                  {% with start=session.slot.start|timezone:'UTC' end=session.slot.end|timezone:'UTC' %}
                    {{ start|date:'l jS F' }},
                    {{ start|date:'H:i' }}
                    &ndash;
                    {{ end|date:'H:i' }}
                  {% endwith %}
                  UTC
                </p>
              </header>

              {% if session.registration_url %}
              <ul class="seminar-detail__links list-inline">
                <li>
                  <a href="{{ session.registration_url }}" class="btn btn-default">Register on Eventbrite</a>
                </li>
              </ul>
              {% else %}
              <!-- No session.registration_url found. Check slugs in ShowAndTells2021View. -->
              {% endif %}


            {% if session.short_description %}
              <div>
                {{ session.short_description }}
              </div>
            {% endif %}

            {% for presentation in session.presentations.all %}
              <h2 class="schedule-entry__title">
                  <a href="{% url 'presentation' schedule.slug presentation.slug %}">
                    {{ presentation.title }}
                  </a>
              </h2>
              <ul class="schedule-entry__speaker">
                {% for speaker in presentation.speakers.all %}
                  {% spaceless %}
                    <li>
                      {{ speaker.name }}
                      {% if speaker.organisation %}
                        <small class="schedule-entry__speaker__organisation">({{ speaker.organisation }})</small>
                      {% endif %}
                    </li>
                  {% endspaceless %}
                {% endfor %}
              </ul>

              {% if presentation.short_description %}
                <div class="schedule-entry__description">
                  {{ presentation.short_description }}
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="homepage-section" id="sponsorship">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Sponsorship opportunities</h2>
        <p style="margin-bottom: 2em">mySociety is a charity and relies on sponsorship to continue with TICTeC events and initiatives. If you’re interested in sponsoring this series of TICTeC Show and Tells please see <a href="{% static 'tictec-2021-sponsorship-pack.pdf' %}">our sponsorship options</a>. To discuss these and other more bespoke sponsorship opportunities please contact Gemma Moulder at <a href="mailto:gemma@mysociety.org">gemma@mysociety.org</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-6.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-8.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-5.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“TICTeC has been a great way for me personally as a relatively new person in the field to get exposure to new ideas, connect with incredibly helpful people, and to generally learn about new trends from around the world.”</em></p>
      </div>

      <div class="col-sm-6">
          <p><em>“TICTeC worked well as a virtual event because you felt like everyone involved was 'in the room' and participating. It was the closest I've come to having an online event 'feel' like a real life event.”</em></p>
      </div>

    </div>
  </div>
</div>

<div style="margin-bottom: -4em"></div>

{% endblock %}
