{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}show-and-tells-2021{% endblock %}

{% block title %}TICTeC Show and Tells 2021{% endblock %}

{% block content %}

<div class="homepage-hero hero-showandtells-2021">
  <div class="container">
    <h1>TICTeC Show and Tells 2021</h1>
    <p class="lead">Online, March—May 2021</p>
    <ul class="list-inline">
      <li><a href="#call" class="btn btn-primary">Call for proposals now open</a></li>
    </ul>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>We would dearly love to be issuing a Call for Proposals for our normal two day TICTeC conference, in person, in some beautiful city somewhere, in anticipation of having some great discourse and drinks. Alas, the pandemic means we are not yet in a place to do that. We also recognise that attempting to hold a two day event online is just too much - we are all suffering a bit of screen fatigue at this point, and we understand how difficult it is to concentrate and engage with lengthy online sessions. We will instead be hosting a series of TICTeC ‘Show and Tells’ online in early 2021 which will be short, energetic and to-the-point.</p>
        <p>These will be hour-long virtual events that will bring together the global community who use, build, research or fund digital technology that empowers citizens. Speakers will share their real and in-depth research and lessons learnt about the impacts of these digital technologies, and whether their intended outcomes were indeed realised. TICTeC is a safe place to honestly examine what works, what doesn’t, what can be improved etc, so, ultimately, better digital tools are developed.</p>
        <p>Each TICTeC Show and Tell will feature five 7-minute presentations, followed by a Q&A session after all speakers have made their presentations.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“TICTeC was one of the most diverse conferences I’ve ever attended, not just in terms of gender, but also in terms of representativeness of regions of the world, plus a great variety of professional profiles and backgrounds.”</em></p>
      </div>

      <div class="col-sm-6">
          <p><em>“I think TICTeC stands out as an example where it’s about the lessons learnt rather than the activities. The focus on ‘This is the impact we’ve uncovered by doing this project’ sets TICTeC apart.”</em></p>
      </div>

    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-4.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-7.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--secondary" id="call">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Call for Proposals</h2>
        <p>This series of TICTeC Show and Tells provides the opportunity for individuals and organisations to apply to make <strong>7 minute presentations followed by a short Q&amp;A</strong> at a TICTeC Show and Tell on one of the following dates:</p>
        <ol style="list-style: disc;">
          <li><strong>23 March 2021</strong>, 15:00 - 16:00 GMT</li>
          <li><strong>20 April 2021</strong>, 15:00 - 16:00 GMT+1</li>
          <li><strong>25 May 2021</strong>, 15:00 - 16:00 GMT+1</li>
        </ol>
        <p>To apply to present, please read the below guidelines and then submit your presentation proposal in no more than 300 words by <a href="https://forms.gle/Vku9o5LcfcVfPsz6A">filling out our proposal form</a> by <strong>14 February 2021</strong>.</p>
        <p>We encourage presentation proposals to focus on the specific impacts of civic technologies, rather than showcase new tools that are as yet untested.</p>
        <p>TICTeC is all about bringing together those interested in civic tech so they can learn from each other, so ultimately better digital tools are developed.</p>
        <p>Those selected for inclusion in the Show and Tell programme will be notified no later than <strong>16 February 2021</strong>.</p>
        <p>Presenters will be required to confirm their attendance and speaking slot by <strong>26 February 2021</strong> at the very latest.</p>
        <p>
          <a href="https://forms.gle/Vku9o5LcfcVfPsz6A" class="btn btn-lg btn-primary" style="margin-top: 0.5em">Submit a proposal now</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--tertiary" id="guidance">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <details>
          <summary><h3>What to include in your proposal</h3></summary>
          <p>When you make your application to present via <a href="https://forms.gle/Vku9o5LcfcVfPsz6A">this form</a>, you’ll be asked to choose the topic area that best suits your proposal. You can choose between these topic areas: Community empowerment; Democracy; Transparency; Climate; Accountability; Information rights and data ethics; or you can select ‘Other’ if your proposal doesn’t fit into the above themes. Please also indicate which dates you are available on.</p>
          <p>We’d really like it if submissions could include things like:</p>

          <h4>Research on particular civic technology tools and their impacts</h4>
          <p>We will prioritise proposals that can demonstrate data or evidence of how civic tech has been impactful in some way. Narratives or descriptions of tools or services will not be accepted. Submissions should include:</p>
          <ul>
            <li>A brief overview of the research and its purpose</li>
            <li>The research questions</li>
            <li>The methods used</li>
            <li>The results you plan to share</li>
            <li>Learning outcomes for participants of your proposal</li>
          </ul>

          <h4>Lessons learnt from designing/building/running civic technology tools</h4>
          <p>For example:</p>
          <ul>
            <li>What went well and how?</li>
            <li>What didn’t go well and why?</li>
            <li>What failed?</li>
            <li>What led to success?</li>
            <li>Etc.</li>
          </ul>

          <h4>Research that is relevant to the development of civic technology</h4>
          <p>Submissions should include:</p>
          <ul>
            <li>A brief overview of the research and its purpose</li>
            <li>The research questions</li>
            <li>The methods used</li>
            <li>The results you plan to share</li>
            <li>Why the research is relevant to the development of civic technology</li>
            <li>Learning outcomes for participants of your proposal</li>
          </ul>

          <h4>Experiences from civic tech users</h4>
          <p>For example:</p>
          <ul>
            <li>Real-world impacts of using civic technology tools</li>
            <li>Reflections on user experiences and how they could be improved</li>
            <li>Etc.</li>
          </ul>

          <p>You are also welcome to submit further presentation proposal ideas that are relevant to the impacts of civic technology theme, but we will prioritise the above types of submission.</p>
        </details>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function checkForGuidanceHash() {
  if ( window.location.hash === '#guidance' ) {
    document.querySelector('#guidance details').open = true;
  }
}
window.addEventListener('hashchange', checkForGuidanceHash, false);
checkForGuidanceHash();
</script>

<div class="homepage-section" id="sponsorship">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Sponsorship opportunities</h2>
        <p style="margin-bottom: 2em">mySociety is a charity and relies on sponsorship to continue with TICTeC events and initiatives. If you’re interested in sponsoring this series of TICTeC Show and Tells please see <a href="{% static 'tictec-2021-sponsorship-pack.pdf' %}">our sponsorship options</a>. To discuss these and other more bespoke sponsorship opportunities please contact Gemma Moulder at <a href="mailto:gemma@mysociety.org">gemma@mysociety.org</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-6.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-8.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-5.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“TICTeC has been a great way for me personally as a relatively new person in the field to get exposure to new ideas, connect with incredibly helpful people, and to generally learn about new trends from around the world.”</em></p>
      </div>

      <div class="col-sm-6">
          <p><em>“TICTeC worked well as a virtual event because you felt like everyone involved was 'in the room' and participating. It was the closest I've come to having an online event 'feel' like a real life event.”</em></p>
      </div>

    </div>
  </div>
</div>

<div style="margin-bottom: -4em"></div>

{% endblock %}
