{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block bodyclasses %}show-and-tells-2021{% endblock %}

{% block title %}TICTeC Show and Tells 2021{% endblock %}

{% block content %}

<div class="homepage-hero hero-showandtells-2021">
  <div class="container">
    <h1>TICTeC Show and Tells 2021</h1>
    <p class="lead">Online, March—May 2021</p>
  </div>
</div>

<div class="homepage-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>We would dearly love to be gearing up for our normal two day TICTeC conference, in person, in some beautiful city somewhere, in anticipation of having some great discourse and drinks. Alas, the pandemic means we are not yet in a place to do that. We also recognise that attempting to hold a two day event online is just too much - we are all suffering a bit of screen fatigue at this point, and we understand how difficult it is to concentrate and engage with lengthy online sessions. We will instead be hosting a series of TICTeC ‘Show and Tells’ online in early 2021 which will be short, energetic and to-the-point.</p>
        <p>These will be hour-long virtual events that will bring together the global community who use, build, research or fund digital technology that empowers citizens. Speakers will share their real and in-depth research and lessons learnt about the impacts of these digital technologies, and whether their intended outcomes were indeed realised. TICTeC is a safe place to honestly examine what works, what doesn’t, what can be improved etc, so, ultimately, better digital tools are developed.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“TICTeC was one of the most diverse conferences I’ve ever attended, not just in terms of gender, but also in terms of representativeness of regions of the world, plus a great variety of professional profiles and backgrounds.”</em></p>
      </div>

      <div class="col-sm-6">
          <p><em>“I think TICTeC stands out as an example where it’s about the lessons learnt rather than the activities. The focus on ‘This is the impact we’ve uncovered by doing this project’ sets TICTeC apart.”</em></p>
      </div>

    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-1.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-2.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-4.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-7.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--secondary" id="call">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Call for Proposals - now closed</h2>
        <p>Thank you to everyone who submitted speaking proposals for our TICTeC Show & Tell series, our Call for Proposals is now closed. We're currently putting together the Show & Tell programme and will share the full line-up and registration details on this page in the coming days. To hear about TICTeC announcement first, do <a href="https://research.mysociety.org/newsletter">sign up to our mailing list.</a></p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section" id="sponsorship">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Sponsorship opportunities</h2>
        <p style="margin-bottom: 2em">mySociety is a charity and relies on sponsorship to continue with TICTeC events and initiatives. If you’re interested in sponsoring this series of TICTeC Show and Tells please see <a href="{% static 'tictec-2021-sponsorship-pack.pdf' %}">our sponsorship options</a>. To discuss these and other more bespoke sponsorship opportunities please contact Gemma Moulder at <a href="mailto:gemma@mysociety.org">gemma@mysociety.org</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="iceland-photo-strip">
  <img src="{% static 'img/tictec-2019-6.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-3.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-8.jpg' %}" width="800" height="400" alt="">
  <img src="{% static 'img/tictec-2019-5.jpg' %}" width="800" height="400" alt="">
</div>

<div class="homepage-section homepage-section--tertiary">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
          <p><em>“TICTeC has been a great way for me personally as a relatively new person in the field to get exposure to new ideas, connect with incredibly helpful people, and to generally learn about new trends from around the world.”</em></p>
      </div>

      <div class="col-sm-6">
          <p><em>“TICTeC worked well as a virtual event because you felt like everyone involved was 'in the room' and participating. It was the closest I've come to having an online event 'feel' like a real life event.”</em></p>
      </div>

    </div>
  </div>
</div>

<div style="margin-bottom: -4em"></div>

{% endblock %}
