{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Sponsorship{% endblock %}

{% block content %}
<div class="homepage-hero hero-sponsor">
  <div class="container">
    <h1>Sponsorship</h1>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">

    <p class="lead">TICTeC brings together the world’s best Civic Technology researchers,
      practitioners and funders  — but we can’t do it without financial support.</p>

  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>What makes TICTeC unique?</h2>
        <p>
        The Impacts of Civic Technology Conference (TICTeC) is the world’s only conference dedicated to exploring how Civic Technologies are impacting citizens, institutions and the development of digital participation around the world.
        </p>
        <p>
        As Stefaan Verhulst from the GovLab at New York University puts it:  “TICTeC is a crucial milestone in the development of Civic Tech and Open Government, because it takes stock of what we know, what works, and how.”
        </p>
        <p>
        Where many tech conferences provide a platform for organisations showcasing new or existing digital tools or components, TICTeC is specifically focused on research. The majority of speakers will be presenting evidence-based research to demonstrate the impacts of Civic Technology.
        </p>
        <p>
        Why does TICTeC matter? Because Civic Technologies represent the future of democratic engagement. TICTeC allows us to pause, examine what works, and, crucially, what doesn’t — and ensures that we are all on the right path to making the world more inclusive, more equal, and more transparent.
        </p>
        <p>
        It’s one of the few opportunities for those working and interested in Civic Technology to come together in person to share experiences,  knowledge, research, and code, to ensure that the wheel isn’t constantly being reinvented.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1 center-sm">
        <img src="{% static 'img/photogrid-1.jpg' %}"
             srcset="{% static 'img/photogrid-1.jpg' %} 1x, {% static 'img/photogrid-1@2.jpg' %} 1.8x"
             alt=""
             class="sponsorship-content-photo" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">
    <div class="row">

      <div class="col-md-7 col-md-push-5">
        <h2>Why sponsor TICTeC?</h2>
        <p>
        Sponsoring TICTeC helps you to:
        </p>
        <ul class="breathier-list">
          <li>Demonstrate your organisation’s commitment to advancing the research and practice of technology for good, so better outcomes are achieved by all</li>
          <li>Build visibility for your brand</li>
          <li>Demonstrate thought leadership within one of the most important sectors for the future of democracy and engagement</li>
          <li>Share your organisation’s projects, products and expertise with attendees actively using and looking for new technologies</li>
          <li>Connect with and learn from experts in using technology for social good from across the world</li>
          <li>Engage with current and potential clients (<a href="#attendees">see who attends TICTeC</a>)</li>
          <li>Demonstrate your organisation’s commitment to transparency and accountability (many of TICTeC’s sessions are dedicated to tech for open government and transparency).  </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-pull-7 center-sm">
        <img src="{% static 'img/photogrid-2.jpg' %}"
             srcset="{% static 'img/photogrid-2.jpg' %} 1x, {% static 'img/photogrid-2@2.jpg' %} 1.8x"
             alt=""
             class="sponsorship-content-photo" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h2 class="text-center">Sponsorship opportunities</h2>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="sponsorship-benefits-callout">mySociety is a charity and we rely on sponsorship to continue our TICTeC events and initiatives. We’re looking for sponsors to support our TICTeC Show and Tells in early 2021. Please refer to <a href="{% static 'tictec-2021-sponsorship-pack.pdf' %}">this sponsorship guide</a> for information on opportunities available. We are also more than happy to discuss bespoke sponsorship options, so please feel free to <a href="mailto:gemma@mysociety.org">contact Gemma Moulder</a> if you’d like to chat these through.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container attendee-container" id="attendees">
    <div class="row">
      <div class="col-md-6">
        <h2>Who attends TICTeC?</h2>
        <p>Each year around 200 participants from over 35 countries gather at TICTeC. They include academic researchers, data experts, software developers, designers, students, government representatives, and campaigners. See below for a more detailed breakdown of TICTeC attendees.</p>
      </div>
      <div class="attendee-photo center-sm">
        <img src="{% static 'img/attendees.jpg' %}"
             srcset="{% static 'img/attendees.jpg' %} 1x, {% static 'img/attendees@2.jpg' %} 1.8x"
             alt=""
             class="clip-hexagon" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h3>Previous participants</h3>
    <div class="attendee-orgs-list attendee-orgs-list--long">
      <h4>Academic</h4>
      <ul class="list-unstyled">
        <li>American University</li>
        <li>Arizona State University</li>
        <li>Bayero University</li>
        <li>Birkbeck, University of London</li>
        <li>Cambridge University</li>
        <li>Carleton University</li>
        <li>Catholic University of Asuncion</li>
        <li>Center for Effective Global Action at the University of California, Berkeley</li>
        <li>City University of Hong Kong</li>
        <li>Columbia University</li>
        <li>De La Salle University</li>
        <li>De Montfort University</li>
        <li>Dundee University</li>
        <li>Erasmus University Rotterdam</li>
        <li>European University Institute</li>
        <li>Fondazione Bruno Kessler</li>
        <li>Georgetown University</li>
        <li>Glasgow Caledonian University</li>
        <li>Goldsmiths University</li>
        <li>GovEx at Johns Hopkins University</li>
        <li>Harvard University</li>
        <li>Hertie School of Governance</li>
        <li>Institute of Development Studies (IDS)</li>
        <li>Institute for Social Accountability</li>
        <li>Institute for Sustainable Development and International Relations (IDDRI)</li>
        <li>Johnson C. Smith University</li>
        <li>Kings College London</li>
        <li>Linköping University</li>
        <li>MacEwan University</li>
        <li>Making All Voices Count</li>
        <li>Max Planck Institute</li>
        <li>McGill University</li>
        <li>MIT Center for Civic Media</li>
        <li>MIT GOV/LAB</li>
        <li>Newcastle University</li>
        <li>New York University</li>
        <li>Northeastern University</li>
        <li>Open University</li>
        <li>Oxford Internet Institute, University of Oxford</li>
        <li>Oxford University</li>
        <li>Pantheon-Sorbonne University</li>
        <li>Royal Holloway University of London</li>
        <li>Sciences Po (Paris Institute of Political Studies)</li>
        <li>State University of New York at Albany</li>
        <li>The GovLab at New York University</li>
        <li>The Helen Hamlyn Centre for Design</li>
        <li>Tulane University</li>
        <li>Umeå University</li>
        <li>UNC Charlotte Urban Institute</li>
        <li>University College London</li>
        <li>Universitat Pompeu Fabra</li>
        <li>University of Amsterdam</li>
        <li>University of California, Irvine</li>
        <li>University of Cape Town</li>
        <li>University of Exeter</li>
        <li>University of Iceland</li>
        <li>University of Michigan</li>
        <li>University of Lucerne</li>
        <li>University of Leeds</li>
        <li>University of Oslo</li>
        <li>University of Ottawa</li>
        <li>University of Yaoundé</li>
        <li>University of Innsbruck</li>
        <li>University of Kent</li>
        <li>University of Manchester</li>
        <li>University of Pennsylvania</li>
        <li>University of Sao Paulo</li>
        <li>University of South Wales</li>
        <li>University of Strathclyde Glasgow</li>
        <li>University of Westminster</li>
        <li>UNU-EGOV - United Nations University</li>
        <li>Warwick University</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="attendee-orgs-list">
          <h4>Private Sector & Philanthropic Organisations</h4>
          <ul class="list-unstyled">
            <li>Adessium Foundation</li>
            <li>Bloomberg Philanthropies</li>
            <li>DADI Foundation</li>
            <li>Facebook</li>
            <li>Fondation Charles Léopold Mayer</li>
            <li>Google</li>
            <li>Big Lottery Fund</li>
            <li>Caisse des Dépôts</li>
            <li>David & Elaine Potter Foundation</li>
            <li>Delib</li>
            <li>engage2</li>
            <li>Ford Foundation</li>
            <li>Fundación Avina</li>
            <li>Heritage Lottery Fund</li>
            <li>ITV</li>
            <li>John D. & Catherine T. MacArthur Foundation</li>
            <li>Lever, UK</li>
            <li>Luminate</li>
            <li>Microsoft</li>
            <li>National Lottery Community Fund</li>
            <li>Nesta</li>
            <li>Nominet Trust</li>
            <li>Omidyar Network</li>
            <li>Open Society Foundations</li>
            <li>PwC</li>
            <li>The Indigo Trust</li>
            <li>ThoughtWorks</li>
            <li>William and Flora Hewlett Foundation</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attendee-orgs-list">
          <h4>Governmental & Intergovernmental</h4>
          <ul class="list-unstyled">
            <li>AgID - Agenzia per l'Italia Digitale</li>
            <li>Buenos Aires City Government</li>
            <li>City of Nanterre</li>
            <li>Department for Digital, Culture, Media and Sport, UK</li>
            <li>Department of Human Services, State of Georgia, USA</li>
            <li>Directorate of Science,Technology and Innovation, Sierra Leone</li>
            <li>Electoral Commission, South Africa</li>
            <li>Essex County Council</li>
            <li>Etalab, France</li>
            <li>Helsinki City Council</li>
            <li>London Borough of Redbridge, UK</li>
            <li>Ministry of Justice and Human Rights, Argentina</li>
            <li>Municipality of Amsterdam</li>
            <li>Municipality of Budapest</li>
            <li>Nantes Métropole</li>
            <li>National Assembly France</li>
            <li>Organisation for Economic Co-operation and Development (OECD)</li>
            <li>Oxford City Council</li>
            <li>Paris City Hall</li>
            <li>Reikjavik City Council</li>
            <li>Roma Capitale</li>
            <li>Suffolk County Council, UK</li>
            <li>Taiwan Ministry of Digital</li>
            <li>UK Government Digital Service</li>
            <li>UK Parliamentary Digital Service</li>
            <li>UNICEF</li>
            <li>UN Global Pulse</li>
            <li>UN-Habitat</li>
            </li>Welsh Government</li>
            <li>World Bank</li>
            <li>World Economic Forum</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="attendee-orgs-list attendee-orgs-list--long">
      <h4>Civil Society</h4>
      <ul class="list-unstyled">
        <li>360Giving</li>
        <li>38 Degrees</li>
        <li>Access Info Europe</li>
        <li>Accountability Lab</li>
        <li>Africa's Voices Foundation</li>
        <li>AKVorrat</li>
        <li>Amnesty International</li>
        <li>Arewa Research & Development Project</li>
        <li>Association 61</li>
        <li>Associazione Riparte il futuro</li>
        <li>Azavea</li>
        <li>BetaNYC</li>
        <li>Center for Information Technology & Development</li>
        <li>Change.org</li>
        <li>Civic Hall</li>
        <li>Citizens Foundation</li>
        <li>CitizenOS</li>
        <li>CityOpenSource</li>
        <li>Civil Society Action Coalition on Education for All</li>
        <li>Codeando Mexico</li>
        <li>Code for America</li>
        <li>Code for Africa</li>
        <li>Code for Canada</li>
        <li>Code for Germany</li>
        <li>Code for Pakistan</li>
        <li>Connected Development</li>
        <li>Crowdpac</li>
        <li>Datapolitan, Inc.</li>
        <li>Datascience Brigade</li>
        <li>DataKind UK</li>
        <li>DATA Uruguay</li>
        <li>Democratie Ouverte</li>
        <li>Demsoc</li>
        <li>Doteveryone</li>
        <li>EiE Nigeria</li>
        <li>Engage2</li>
        <li>ePaństwo Foundation</li>
        <li>Friends of the Earth</li>
        <li>Frontline SMS</li>
        <li>Full Fact</li>
        <li>Galli Galli</li>
        <li>g0v.tw</li>
        <li>Human & Environmental Development Agenda</li>
        <li>Human Development Initiatives</li>
        <li>HURIDOCS</li>
        <li>Institute of Development Studies</li>
        <li>Italian Coalition for Civil Liberties</li>
        <li>Latin America Open Data Initiative</li>
        <li>Libraries.io</li>
        <li>Médecins Sans Frontières (MSF)</li>
        <li>Mozilla Foundation</li>
        <li>mySociety</li>
        <li>National Democratic Institute</li>
        <li>OGPToolbox.org</li>
        <li>Open Culture Foundation</li>
        <li>Open Contracting Partnership</li>
        <li>Open Data Charter</li>
        <li>Open Data Durban</li>
        <li>Open Data Institute</li>
        <li>Open Government Partnership</li>
        <li>Open Knowledge Foundation Germany</li>
        <li>Open Knowledge International</li>
        <li>Open Source Politics</li>
        <li>OpenAustralia Foundation</li>
        <li>OpenAQ</li>
        <li>OpenUp</li>
        <li>Oxfam Intermón</li>
        <li>Poder</li>
        <li>Publish What You Fund</li>
        <li>Publish What You Pay</li>
        <li>Phandeeyar: Myanmar Innovation Lab</li>
        <li>Populate Tools</li>
        <li>Radar Municipal</li>
        <li>Reboot</li>
        <li>Results for Development Institute</li>
        <li>School of Data</li>
        <li>Shehu Musa Yar'Adua Foundation</li>
        <li>Small Media</li>
        <li>Sunlight Foundation</li>
        <li>TechSoup Europe</li>
        <li>The Civic Hacker Network</li>
        <li>The Democratic Society</li>
        <li>The Engine Room</li>
        <li>Tony Blair Institute for Global Change</li>
        <li>TOP-IX Consortium</li>
        <li>Transparency International</li>
        <li>Well Told Story</li>
        <li>World Wide Web Foundation</li>
        <li>Youth Initiative for Advocacy Growth & Advancement</li>
        <li>Zimbabwe Environmental Law Association</li>
      </ul>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h3>Previous sponsors</h3>
    <div class="row sponsor-logos">
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/google-sponsor-logo.png' %}"
             srcset="{% static 'img/google-sponsor-logo@2.png' %} 1x,{% static 'img/google-sponsor-logo@2.png' %} 1.8x"
             alt="Google" />
       </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/facebook.svg' %}"
             alt="Facebook" />
      </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/luminate-sponsor-logo.png' %}"
             srcset="{% static 'img/luminate-sponsor-logo.png' %} 1x, {% static 'img/luminate-sponsor-logo@2.png' %} 1.8x"
             alt="Luminate" />
      </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/hewlett-sponsor-logo.png' %}"
             srcset="{% static 'img/hewlett-sponsor-logo.png' %} 1x, {% static 'img/hewlett-sponsor-logo@2.png' %} 1.8x"
             alt="William and Flora Hewlett Foundation" />
      </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/macarthur-sponsor-logo.png' %}"
             srcset="{% static 'img/macarthur-sponsor-logo.png' %} 1x, {% static 'img/macarthur-sponsor-logo@2.png' %} 1.8x"
             alt="MacArthur Foundation" />
      </div>

      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/balsamiq-logo.png' %}"
             alt="Balsamiq" />
      </div>
    </div>
  </div>

</div>

{% endblock %}
