{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}Sponsorship{% endblock %}

{% block content %}
<div class="homepage-hero hero-sponsor">
  <div class="container">
    <h1>Sponsorship</h1>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">

    <p class="lead">TICTeC brings together the world’s best Civic Technology researchers,
      practitioners and funders  — but we can’t do it without financial support.</p>

  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>What makes TICTeC unique?</h2>
        <p>
        The Impacts of Civic Technology Conference (TICTeC) is the world’s only conference dedicated to exploring how Civic Technologies are impacting citizens, institutions and the development of digital participation around the world.
        </p>
        <p>
        As Stefaan Verhulst from the GovLab at New York University puts it:  “TICTeC is a crucial milestone in the development of Civic Tech and Open Government, because it takes stock of what we know, what works, and how.”
        </p>
        <p>
        Where many tech conferences provide a platform for organisations showcasing new or existing digital tools or components, TICTeC is specifically focused on research. The majority of speakers will be presenting evidence-based research to demonstrate the impacts of Civic Technology.
        </p>
        <p>
        Why does TICTeC matter? Because Civic Technologies represent the future of democratic engagement. TICTeC allows us to pause, examine what works, and, crucially, what doesn’t — and ensures that we are all on the right path to making the world more inclusive, more equal, and more transparent.
        </p>
        <p>
        It’s one of the few opportunities for those working and interested in Civic Technology to come together in person to share experiences,  knowledge, research, and code, to ensure that the wheel isn’t constantly being reinvented.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1 center-sm">
        <img src="{% static 'img/photogrid-1.jpg' %}"
             srcset="{% static 'img/photogrid-1.jpg' %} 1x, {% static 'img/photogrid-1@2.jpg' %} 1.8x"
             alt=""
             class="sponsorship-content-photo" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container">
    <div class="row">

      <div class="col-md-7 col-md-push-5">
        <h2>Why sponsor TICTeC?</h2>
        <p>
        Sponsoring TICTeC helps you to:
        </p>
        <ul class="breathier-list">
          <li>Demonstrate your organisation’s commitment to advancing the research and practice of technology for good, so better outcomes are achieved by all</li>
          <li>Build visibility for your brand</li>
          <li>Demonstrate thought leadership within one of the most important sectors for the future of democracy and engagement</li>
          <li>Share your organisation’s projects, products and expertise with attendees actively using and looking for new technologies</li>
          <li>Connect with and learn from experts in using technology for social good from across the world</li>
          <li>Engage with current and potential clients (<a href="#attendees">see who attends TICTeC</a>)</li>
          <li>Demonstrate your organisation’s commitment to transparency and accountability (many of TICTeC’s sessions are dedicated to tech for open government and transparency).  </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-pull-7 center-sm">
        <img src="{% static 'img/photogrid-2.jpg' %}"
             srcset="{% static 'img/photogrid-2.jpg' %} 1x, {% static 'img/photogrid-2@2.jpg' %} 1.8x"
             alt=""
             class="sponsorship-content-photo" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h2 class="text-center">Sponsorship opportunities available for TICTeC 2020</h2>

    <hr class="sponsorship-tier__hr" />

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="sponsorship-tier__badge">
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="50" viewBox="0 0 43 50"><path fill="#E9D169" fill-rule="evenodd" d="M21.5 0L43 12.5v25L21.5 50 0 37.5v-25L21.5 0zm-6.488 25.64c0 5.106 3.358 7.636 7.452 7.636 2.116 0 4.048-.92 5.152-1.84v-7.13h-5.704v3.22h2.208v2.07c-.276.184-.736.276-1.15.276-2.668 0-3.91-1.564-3.91-4.37 0-2.714 1.518-4.324 3.542-4.324 1.196 0 1.84.368 2.576 1.012l2.162-2.438a6.682 6.682 0 0 0-4.784-1.978c-4.094 0-7.544 2.852-7.544 7.866z"/></svg>
        </div>
        <h3 class="sponsorship-tier__heading">Gold sponsor</h3>
        <h4 class="sponsorship-tier__amount">$40,000</h4>
      </div>
      <div class="col-lg-9 col-md-8">
        <ul class="breathier-list sponsorship-tier__perks">
            <li>Your chance to lead a plenary session of up to 1 hour during the conference</li>
            <li>Pre-conference interviews on the mySociety blog, promoted via our extensive social networks, newsletters and mailing lists</li>
            <li>Banners (provided by the sponsor) in all three conference rooms and corridors where appropriate</li>
            <li>Space at the conference venue to assemble a promotional display</li>
            <li>Six (6) free TICTeC tickets for staff</li>
            <li>Two (2) places at the VIP pre-conference dinner</li>
            <li>Social media announcement when sponsorship is confirmed</li>
        </ul>
      </div>
    </div>

    <hr class="sponsorship-tier__hr" />

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="sponsorship-tier__badge">
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="50" viewBox="0 0 43 50"><path fill="#DADADA" fill-rule="evenodd" d="M21.5 0L43 12.5v25L21.5 50 0 37.5v-25L21.5 0zM16 30.363c1.61 1.449 3.772 2.139 5.658 2.139 3.726 0 5.842-2.254 5.842-4.784 0-2.07-1.058-3.358-2.921-4.094l-1.817-.713c-1.357-.529-2.208-.782-2.208-1.495 0-.667.598-1.012 1.564-1.012 1.104 0 1.978.368 2.99 1.081l1.978-2.484C25.706 17.644 23.82 17 22.118 17c-3.266 0-5.566 2.093-5.566 4.646 0 2.162 1.403 3.519 3.013 4.163l1.863.782c1.265.506 2.024.736 2.024 1.449 0 .667-.506 1.058-1.702 1.058-1.104 0-2.438-.598-3.496-1.449L16 30.363z"/></svg>
        </div>
        <h3 class="sponsorship-tier__heading">Silver sponsor</h3>
        <h4 class="sponsorship-tier__amount">$20,000</h4>
      </div>
      <div class="col-lg-9 col-md-8">
        <ul class="breathier-list sponsorship-tier__perks">
          <li>Guarenteed 20 minute speaking slot during the breakout sessions</li>
          <li>Your branding / logo / company url on all conference materials, conference website and promotional media</li>
          <li>Banner (if provided) in main conference room</li>
          <li>Space at the conference venue to assemble a promotional display</li>
          <li>Four (4) free TICTeC tickets for staff</li>
          <li>One (1) places at the VIP pre-conference dinner</li>
          <li>Social media announcement when sponsorship is confirmed</li>
        </ul>
      </div>
    </div>

    <hr class="sponsorship-tier__hr" />

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="sponsorship-tier__badge">
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="50" viewBox="0 0 43 50"><path fill="#C39D56" fill-rule="evenodd" d="M21.5 0L43 12.5v25L21.5 50 0 37.5v-25L21.5 0zM16 32.95h5.842c3.22 0 5.888-1.334 5.888-4.416 0-1.978-1.058-3.082-3.174-3.496v-.092c1.748-.46 2.484-1.932 2.484-3.22 0-2.944-2.53-3.726-5.658-3.726H16v14.95zm3.956-9.062v-2.852h1.334c1.288 0 1.886.368 1.886 1.288s-.598 1.564-1.886 1.564h-1.334zm0 6.026v-3.266h1.61c1.564 0 2.3.46 2.3 1.564s-.736 1.702-2.3 1.702h-1.61z"/></svg>
        </div>
        <h3 class="sponsorship-tier__heading">Bronze sponsor</h3>
        <h4 class="sponsorship-tier__amount">$10,000</h4>
      </div>
      <div class="col-lg-9 col-md-8">
        <ul class="breathier-list sponsorship-tier__perks">
          <li>Guarenteed 20 minute speaking slot during the breakout sessions</li>
          <li>Your branding / logo / company url on all conference materials, conference website and promotional media</li>
          <li>Two (2) free TICTeC tickets for staff</li>
          <li>One (1) places at the VIP pre-conference dinner</li>
          <li>Social media announcement when sponsorship is arranged</li>
        </ul>
      </div>
    </div>

    <hr class="sponsorship-tier__hr" />

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="sponsorship-tier__badge">
            <svg height="50" viewBox="0 0 43 50" width="43" xmlns="http://www.w3.org/2000/svg"><path d="m635.5 3459 21.5 12.5v25l-21.5 12.5-21.5-12.5v-25zm5.445215 10.09689c-.176087-.63265-.756436-1.09689-1.445215-1.09689-.828427 0-1.5.67157-1.5 1.5s.671573 1.5 1.5 1.5c.609884 0 1.134755-.36398 1.369239-.88657 1.248025.36341 1.846737 1.61017 1.814431 3.88657h-16.68367l2 7h4v10h-3l-1 4h16l-1-4h-3v-10h4l2-7h-2.316394c.032999-2.80474-.886761-4.49479-2.738391-4.90311zm-2.945215 11.90311v10 2h-4v-2-10z" fill="#9fdb50" fill-rule="evenodd" transform="translate(-614 -3459)"/></svg>
        </div>
        <h3 class="sponsorship-tier__heading">Guaranteed speaking slot</h3>
        <h4 class="sponsorship-tier__amount">$6,000</h4>
      </div>
      <div class="col-lg-9 col-md-8">
        <ul class="breathier-list sponsorship-tier__perks">
          <li>Guaranteed 20 minute speaking slot during the breakout sessions, meaning you won’t need to compete against the hundreds of other submissions we receive through the open Call for Proposals</li>
          <li>Ticket price waived for the speaker</li>
          <li>Fee goes towards travel grants for attendees and speakers from the Global South who would not be able to attend TICTeC without financial support. </li>
        </ul>
      </div>
    </div>

    <hr class="sponsorship-tier__hr" />

    <div class="row">
      <div class="col-md-6">
        <div class="sponsorship-tier--minor">
          <div class="sponsorship-tier__badge">
            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="50" viewBox="0 0 43 50"><path fill="#9FDB50" fill-rule="evenodd" d="M21.5 0L43 12.5v25L21.5 50 0 37.5v-25L21.5 0zm5.794 12.515a.326.326 0 1 0-.533-.379l-1.623 2.286h.801l1.355-1.907zm-3.988 4.483l-1.065 1.498c-.717-.314-1.628-.013-2.137.751-.485.73-.444 1.633.05 2.185l-.567.798a.328.328 0 0 0 .266.516.328.328 0 0 0 .267-.138l.569-.802c.71.282 1.595-.025 2.094-.775.474-.71.442-1.587-.02-2.143l1.345-1.89h4.507l-7.625 8.854-7.423-8.854h9.739zm7.709-.283a.817.817 0 0 0-.619-1.35H11.818a.816.816 0 0 0-.627 1.34l8.974 10.705v6.688h-4.903a.817.817 0 0 0 0 1.634H26.7a.816.816 0 1 0 0-1.634h-4.902v-6.68l9.217-10.703z"/></svg>
          </div>
          <h3 class="sponsorship-tier__heading">Drinks reception sponsor</h3>
          <h4 class="sponsorship-tier__amount">$5,000</h4>
          <ul class="breathier-list sponsorship-tier__perks">
            <li>Ten minute Speaking slot during the drinks reception</li>
            <li>Your branding / logo / company url on all conference materials, conference website and promotional media</li>
            <li>Logo displayed during the drinks reception</li>
            <li>Your promotional materials displayed on tables during drinks reception (provided by sponsor)</li>
            <li>Social media announcement when sponsorship is confirmed</li>
            <li>One (1) free TICTeC ticket for staff</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sponsorship-tier--minor">
          <div class="sponsorship-tier__badge">
            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="50" viewBox="0 0 43 50"><path fill="#9FDB50" fill-rule="evenodd" d="M21.5 0L43 12.5v25L21.5 50 0 37.5v-25L21.5 0zm4.62 32.747h2.296V19.06H26.12v13.688zm-1.34-14.831h-5.824c-.027-.294.004-.598.156-.85.345-.576 1.287-.874 2.74-.865 1.464.01 2.421.327 2.77.915.145.248.178.531.159.8zm-9.466 14.831h2.296V19.06h-2.296v13.688zM29.85 17.916h-3.87c.02-.451-.05-.942-.32-1.403-.58-.99-1.857-1.499-3.799-1.513-1.935-.018-3.2.477-3.781 1.456-.285.475-.353.99-.325 1.46H13.88a2.883 2.883 0 0 0-2.88 2.88V31.12A2.883 2.883 0 0 0 13.88 34h15.97a2.883 2.883 0 0 0 2.88-2.88V20.796a2.883 2.883 0 0 0-2.88-2.88z"/></svg>
          </div>
          <h3 class="sponsorship-tier__heading">Travel grantee sponsor</h3>
          <h4 class="sponsorship-tier__amount">$2,000</h4>
          <ul class="breathier-list sponsorship-tier__perks">
            To make TICTeC as diverse as possible we need sponsors to help with travel costs to allow attendees to attend from all across the world.
            <li>Your branding / logo / company url on all conference materials, conference website and promotional media</li>
            <li>Social media announcement when sponsorship is confirmed</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="sponsorship-benefits-callout">If you have ideas for additional sponsorship benefits that are not listed, we would be happy to discuss how we can accommodate those. We are also happy to discuss the creation of bespoke sponsorship packages. <a href="mailto:gemma@mysociety.org">Just get in touch</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-section homepage-section--secondary">
  <div class="container attendee-container" id="attendees">
    <div class="row">
      <div class="col-md-6">
        <h2>Who attends TICTeC?</h2>
        <p>Each year around 200 participants from over 35 countries gather at TICTeC. They include academic researchers, data experts, software developers, designers, students, government representatives, and campaigners. See below for a more detailed breakdown of TICTeC attendees.</p>
      </div>
      <div class="attendee-photo center-sm">
        <img src="{% static 'img/attendees.jpg' %}"
             srcset="{% static 'img/attendees.jpg' %} 1x, {% static 'img/attendees@2.jpg' %} 1.8x"
             alt=""
             class="clip-hexagon" />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h3>Previous participants</h3>
    <div class="attendee-orgs-list attendee-orgs-list--long">
      <h4>Academic</h4>
      <ul class="list-unstyled">
        <li>American University</li>
        <li>Arizona State University</li>
        <li>Bayero University</li>
        <li>Birkbeck, University of London</li>
        <li>Cambridge University</li>
        <li>Carleton University</li>
        <li>Catholic University of Asuncion</li>
        <li>Center for Effective Global Action at the University of California, Berkeley</li>
        <li>City University of Hong Kong</li>
        <li>Columbia University</li>
        <li>De La Salle University</li>
        <li>Dundee University</li>
        <li>Erasmus University Rotterdam</li>
        <li>European University Institute</li>
        <li>Fondazione Bruno Kessler</li>
        <li>Glasgow Caledonian University</li>
        <li>Goldsmiths University</li>
        <li>GovEx at Johns Hopkins University</li>
        <li>Harvard University</li>
        <li>Hertie School of Governance</li>
        <li>Institute of Development Studies (IDS)</li>
        <li>Institute for Social Accountability</li>
        <li>Institute for Sustainable Development and International Relations (IDDRI)</li>
        <li>Johnson C. Smith University</li>
        <li>Kings College London</li>
        <li>Linköping University</li>
        <li>MacEwan University</li>
        <li>Making All Voices Count</li>
        <li>McGill University</li>
        <li>MIT Center for Civic Media</li>
        <li>MIT GOV/LAB</li>
        <li>Newcastle University</li>
        <li>New York University</li>
        <li>Northeastern University</li>
        <li>Open University</li>
        <li>Oxford Internet Institute, University of Oxford</li>
        <li>Oxford University</li>
        <li>Pantheon-Sorbonne University</li>
        <li>Royal Holloway University of London</li>
        <li>Sciences Po (Paris Institute of Political Studies)</li>
        <li>State University of New York at Albany</li>
        <li>The GovLab at New York University</li>
        <li>The Helen Hamlyn Centre for Design</li>
        <li>Tulane University</li>
        <li>Umeå University</li>
        <li>UNC Charlotte Urban Institute</li>
        <li>University College London</li>
        <li>Universitat Pompeu Fabra</li>
        <li>University of Amsterdam</li>
        <li>University of Exeter</li>
        <li>University of Michigan</li>
        <li>University of Lucerne</li>
        <li>University of Leeds</li>
        <li>University of Oslo</li>
        <li>University of Yaoundé</li>
        <li>University of Innsbruck</li>
        <li>University of Kent</li>
        <li>University of Manchester</li>
        <li>University of Pennsylvania</li>
        <li>University of Sao Paulo</li>
        <li>University of Strathclyde Glasgow</li>
        <li>University of Westminster</li>
        <li>UNU-EGOV - United Nations University</li>
        <li>Warwick University</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="attendee-orgs-list">
          <h4>Private Sector & Philanthropic Organisations</h4>
          <ul class="list-unstyled">
            <li>Adessium Foundation</li>
            <li>Bloomberg Philanthropies</li>
            <li>DADI Foundation</li>
            <li>Facebook</li>
            <li>Fondation Charles Léopold Mayer</li>
            <li>Google</li>
            <li>Big Lottery Fund</li>
            <li>Caisse des Dépôts</li>
            <li>David & Elaine Potter Foundation</li>
            <li>Delib</li>
            <li>engage2</li>
            <li>Ford Foundation</li>
            <li>Fundación Avina</li>
            <li>Heritage Lottery Fund</li>
            <li>ITV</li>
            <li>John D. & Catherine T. MacArthur Foundation</li>
            <li>Lever, UK</li>
            <li>Luminate</li>
            <li>Microsoft</li>
            <li>Nesta</li>
            <li>Nominet Trust</li>
            <li>Omidyar Network</li>
            <li>Open Society Foundations</li>
            <li>PwC</li>
            <li>The Indigo Trust</li>
            <li>ThoughtWorks</li>
            <li>William and Flora Hewlett Foundation</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attendee-orgs-list">
          <h4>Governmental & Intergovernmental</h4>
          <ul class="list-unstyled">
            <li>AgID - Agenzia per l'Italia Digitale</li>
            <li>Buenos Aires City Government</li>
            <li>City of Nanterre</li>
            <li>Department for Digital, Culture, Media and Sport, UK</li>
            <li>Directorate of Science,Technology and Innovation, Sierra Leone</li>
            <li>Essex County Council</li>
            <li>Etalab, France</li>
            <li>Ministry of Justice and Human Rights, Argentina</li>
            <li>Municipality of Amsterdam</li>
            <li>Nantes Métropole</li>
            <li>National Assembly France</li>
            <li>Organisation for Economic Co-operation and Development (OECD)</li>
            <li>Paris City Hall</li>
            <li>Roma Capitale</li>
            <li>Taiwan Ministry of Digital</li>
            <li>UK Government Digital Service</li>
            <li>UK Parliamentary Digital Service</li>
            <li>UNICEF</li>
            <li>UN Global Pulse</li>
            <li>UN-Habitat</li>
            <li>World Bank</li>
            <li>World Economic Forum</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="attendee-orgs-list attendee-orgs-list--long">
      <h4>Civil Society</h4>
      <ul class="list-unstyled">
        <li>360Giving</li>
        <li>38 Degrees</li>
        <li>Accountability Lab</li>
        <li>Africa's Voices Foundation</li>
        <li>AKVorrat</li>
        <li>Amnesty International</li>
        <li>Arewa Research & Development Project</li>
        <li>Association 61</li>
        <li>Associazione Riparte il futuro</li>
        <li>BetaNYC</li>
        <li>Center for Information Technology & Development</li>
        <li>Civic Hall</li>
        <li>CitizenOS</li>
        <li>CityOpenSource</li>
        <li>Civil Society Action Coalition on Education for All</li>
        <li>Codeando Mexico</li>
        <li>Code for America</li>
        <li>Code for Africa</li>
        <li>Code for Canada</li>
        <li>Code for Germany</li>
        <li>Code for Pakistan</li>
        <li>Connected Development</li>
        <li>Crowdpac</li>
        <li>Datapolitan, Inc.</li>
        <li>Datascience Brigade</li>
        <li>DataKind UK</li>
        <li>DATA Uruguay</li>
        <liv>Democratie Ouverte</li>
        <li>Demsoc</li>
        <li>Doteveryone</li>
        <li>EiE Nigeria</li>
        <li>Engage2</li>
        <li>ePaństwo Foundation</li>
        <li>Friends of the Earth</li>
        <li>Frontline SMS</li>
        <li>Full Fact</li>
        <li>Galli Galli</li>
        <li>g0v.tw</li>
        <li>Human & Environmental Development Agenda</li>
        <li>Human Development Initiatives</li>
        <li>HURIDOCS</li>
        <li>Institute of Development Studies</li>
        <li>Italian Coalition for Civil Liberties</li>
        <li>Latin America Open Data Initiative</li>
        <li>Libraries.io</li>
        <li>Médecins Sans Frontières (MSF)</li>
        <li>Mozilla Foundation</li>
        <li>mySociety</li>
        <li>National Democratic Institute</li>
        <li>OGPToolbox.org</li>
        <li>Open Culture Foundation</li>
        <li>Open Contracting Partnership</li>
        <li>Open Data Durban</li>
        <li>Open Data Institute</li>
        <li>Open Knowledge Foundation Germany</li>
        <li>Open Knowledge International</li>
        <li>Open Source Politics</li>
        <li>OpenAustralia Foundation</li>
        <li>OpenUp</li>
        <li>Oxfam Intermón</li>
        <li>Publish What You Fund</li>
        <li>Publish What You Pay</li>
        <li>Phandeeyar: Myanmar Innovation Lab</li>
        <li>Populate Tools</li>
        <li>Radar Municipal</li>
        <li>Reboot</li>
        <li>Results for Development Institute</li>
        <li>School of Data</li>
        <li>Shehu Musa Yar'Adua Foundation</li>
        <li>Small Media</li>
        <li>Sunlight Foundation</li>
        <li>TechSoup Europe</li>
        <li>The Engine Room</li>
        <li>Tony Blair Institute for Global Change</li>
        <li>TOP-IX Consortium</li>
        <li>Transparency International</li>
        <li>Well Told Story</li>
        <li>World Wide Web Foundation</li>
        <li>Youth Initiative for Advocacy Growth & Advancement</li>
        <li>Zimbabwe Environmental Law Association</li>
      </ul>
    </div>
  </div>
</div>

<div class="homepage-section">
  <div class="container">
    <h3>Previous sponsors</h3>
    <div class="row sponsor-logos">
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/google-sponsor-logo.png' %}"
             srcset="{% static 'img/google-sponsor-logo@2.png' %} 1x,{% static 'img/google-sponsor-logo@2.png' %} 1.8x"
             alt="Google" />
      </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/macarthur-sponsor-logo.png' %}"
             srcset="{% static 'img/macarthur-sponsor-logo.png' %} 1x, {% static 'img/macarthur-sponsor-logo@2.png' %} 1.8x"
             alt="MacArthur Foundation" />
      </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/hewlett-sponsor-logo.png' %}"
             srcset="{% static 'img/hewlett-sponsor-logo.png' %} 1x, {% static 'img/hewlett-sponsor-logo@2.png' %} 1.8x"
             alt="William and Flora Hewlett Foundation" />
        </div>
      <div class="col-xs-4 col-md-3">
        <img src="{% static 'img/luminate-sponsor-logo.png' %}"
             srcset="{% static 'img/luminate-sponsor-logo.png' %} 1x, {% static 'img/luminate-sponsor-logo@2.png' %} 1.8x"
             alt="Luminate" />
      </div>
    </div>
  </div>

</div>

{% endblock %}
