{% extends 'ainow/base.html' %}
{% load staticfiles %}

{% block title %}TICTeC@Taipei{% endblock %}

{% block content %}
<div class="homepage-hero hero-taipei">
  <div class="container">
    <h1>TICTeC@Taipei</h1>
    <p class="lead">Taipei, Taiwan</p>
  </div>
</div>

<div id="next" class="homepage-section homepage-section--secondary">
  <div class="container">

    <p class="lead">TICTeC@Taipei took place on 11 - 13 September 2017, the headline event at <a href="http://civictechfest.org/">Civic Tech Fest</a>, an official parallel event of the <a href="http://wcit2017.org/">World Congress on Information Technology (WCIT) 2017</a>.</p>

  </div>
</div>

<div id="resources" class="homepage-section">
  <div class="container">
    <h2>Resources from TICTeC@Taipei</h2>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="http://civictechfest.org/agenda">Schedule</a></h3>

      <p>Full details of sessions and speakers.</p>

      <p>Additionally, slides from sessions can be found <a href="https://www.slideshare.net/mysociety">here</a>.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="http://civictechfest.org/speakers">Speakers</a></h3>

      <p>Directory of those who spoke at TICTeC@Taipei.</p>

      <p>Find bios, contacts and links to their presentations.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://www.youtube.com/playlist?list=PLFuYOsppHDrlUAb8yzThSshafKQPnV1wX">Videos</a></h3>

      <p>Open Culture Foundation’s YouTube channel includes keynotes, panels and individual presentations.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="https://www.flickr.com/photos/mysociety/sets/72157687147985193">Photos</a></h3>

      <p>Browse images from TICTeC@Taipei on Flickr. All are available for reuse under a Creative Commons licence.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      <h3><a href="https://twitter.com/hashtag/CivicTechFest">Twitter</a></h3>

      <p>Follow the <a href="https://twitter.com/hashtag/TICTeC">#TICTeC</a> and <a href="https://twitter.com/hashtag/CivicTechFest">#CivicTechFest</a> hashtags for updates straight from the event.</p>

      </div>
      <div class="col-md-6">

      <h3><a href="http://beta.hackfoldr.org/civictechfest">Crowdsourced Notes</a></h3>

      <p>Read notes from all sessions, including the unconference.</p>

      </div>
    </div>

  </div>
</div>

<div id="quotes" class="homepage-section homepage-section--secondary">
  <div class="container">

    <div class="row">

      <div class="col-sm-6">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Good morning <a href="https://twitter.com/hashtag/CivicTechFest?src=hash">#CivicTechFest</a> 270 people from 33 countries 🌎 check the shared notes for more info. <a href="https://t.co/hxajUpDFLR">pic.twitter.com/hxajUpDFLR</a></p>&mdash; Julia Kloiber (@j_kloiber) <a href="https://twitter.com/j_kloiber/status/907079063839285248">September 11, 2017</a></blockquote>
      </div>

      <div class="col-sm-6">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Congratulations to <a href="https://twitter.com/mySociety">@mySociety</a> and <a href="https://twitter.com/g0vtw">@g0vtw</a> for bringing together so many civictech advocates from all over the world at <a href="https://twitter.com/hashtag/CivicTechFest?src=hash">#CivicTechFest</a> ✊🏻👩🏾‍💻😻 <a href="https://t.co/PxYfbZMaUP">pic.twitter.com/PxYfbZMaUP</a></p>&mdash; Pierre-Louis Rolle (@PierreLouisR) <a href="https://twitter.com/PierreLouisR/status/907871965750296576">September 13, 2017</a></blockquote>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/mySociety">@mySociety</a>, <a href="https://twitter.com/OcfTaiwan">@OcfTaiwan</a>, <a href="https://twitter.com/g0vtw">@g0vtw</a> &amp; all participants &amp; volunteers for awesome <a href="https://twitter.com/hashtag/civictechfest?src=hash">#civictechfest</a> &amp; <a href="https://twitter.com/hashtag/TICTeC?src=hash">#TICTeC</a> this past week in Taipei! <a href="https://t.co/RNBOqj4cfe">https://t.co/RNBOqj4cfe</a></p>&mdash; Sinar Project (@sinarproject) <a href="https://twitter.com/sinarproject/status/909238802899599360">September 17, 2017</a></blockquote>
      </div>

      <div class="col-sm-6">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Also: probably the most diverse, fun &amp; all-around fabolous audience I&#39;ve ever encountered at a tech conference. <a href="https://twitter.com/hashtag/CivicTechFest?src=hash">#CivicTechFest</a> <a href="https://twitter.com/hashtag/TicTec?src=hash">#TicTec</a> <a href="https://t.co/ruktr9307H">https://t.co/ruktr9307H</a></p>&mdash; Benjamin Seibel (@bnjmnsbl) <a href="https://twitter.com/bnjmnsbl/status/908611413249220609">September 15, 2017</a></blockquote>
      </div>

    </div>
  </div>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<div id="quotes" class="homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <small>Header image: <a href="https://www.flickr.com/photos/sama093/26525709510/in/photolist-GpZci9-ALu8V7-KyaXUx-unhseR-qAnW3Z-s1tJAg-vEKezF-tU9TXZ-qmrSWj-CE9HGM-ExLtPy-C3qbFe-AJaKgH-yfQuz9-xufRUP-GaeCgw-CkjMGy-xYA8n4-Cz7KAz-BN7wsa-A5q69g-wwtqXV-sXjKbZ-VcxEBG-qSZsrC-PticEf-FMh93c-wvdPRt-coW3Mm-JbTg3T-G9nzL3-q4RfNU-yzzZHa-EMJ5pJ-BnUeNe-AEzkxL-xYAgRD-ADDoPX-BGtXXu-FSR5jS-GFzFqN-wcbG5G-x8NRd7-tEgd3g-qesUjG-GMJhjw-yx2wSt-y2wPjA-yX2Sw3-Aqv9Yf">Taipei</a> by <a href="https://www.flickr.com/photos/sama093/">sama093</a>.</small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
