{% extends 'ainow/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Events{% endblock %}

{% block bodyclasses %}standard-page{% endblock %}

{% block content %}
<div class="general-content">
  <div class="container">
    <div class="general-content__page">
      <h1>Events</h1>
      <h2>Upcoming Events</h2>
        {% with events=upcoming_events %}
          {% include 'cms/_events.html' %}
        {% endwith %}
      <h2>Previous Events</h2>
        {% with events=previous_events %}
          {% include 'cms/_events.html' %}
        {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
