{% extends 'ainow/base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

  {% if page.mission %}
    <div class="homepage-mission">
        <div class="container">
          {{ page.mission | richtext }}
        </div>
    </div>
  {% endif %}

  <div class="homepage-hero">
    <div class="container">
    <h2 class="homepage-hero__title">
    <img src="/static/img/ainow-hero-logo.b6b0f9e87c7c.png"
         srcset="/static/img/ainow-hero-logo.b08ebbdb7c7f.svg 1x"
         alt="Artificial Intelligence Now"
         height="35" width="115">
    </h2>
    <p class="homepage-hero__subtitle">
      {{ page.title }}
    </p>

    </div>
  </div>
  {% include_block page.features %}
  <div class="homepage-themes">
    <div class="container">
      <h2>Latest Research</h2>
      <h3>
        <a href="{{ latest_research.url }}">
          {{ latest_research.title }}
        </a>
      </h3>
      {{ latest_research.excerpt | richtext }}
    </div>
  </div>
{% endblock %}
